
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/zui.min.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/datetimepicker.min.css">
		
<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<div class="topicbox">
	<form class="form-signin" id="queryForm" name="queryForm" action="$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/account/detail" method="GET" role="form">
		
		<div class="inputGroup whole" style="min-height:45px;">
			<div class="input-group inpSingle">
				编号:$!query.userId
				<input type="hidden" name="userId" value="$!query.userId">
			</div>
			<div class="input-group inpSingle">
				名称: $!query.userName
				<input type="hidden" name="userName" value="$!query.userName">
			</div>
			<div class="input-group inpSingle ">
				用户类型:#USER_TYPE($!{query.userType})
				<input type="hidden" name="userType" value="$!query.userType">
			</div>
		</div>
		
		<div class="inputGroup whole">
			<div class="input-group inpSingle">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">交易时间</button>
                </span>
				<input type="text" class="form-control form-date dateInp" readonly name="transStartDate" value="$!query.transStartDate">
				<span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
				<input type="text" class="form-control form-date dateInp" readonly name="transEndDate" value="$!query.transEndDate">
			</div>
			<div class="input-group inpSingle">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">业务流水号</button>
                </span>
				<input type="text" class="form-control" name="outSn" value="$!query.outSn">
			</div>
			<div class="input-group inpSingle ">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">交易类型</button>
                </span>
				<select data-placeholder="请选择..." class="chosen-select form-control" tabindex="2" name="transType">
                    <option value="">全部</option>
                    <option value="7" #if($query.transType == 7) selected="selected" #end >结算</option>
                    <option value="3" #if($query.transType == 3) selected="selected" #end >提现</option>
                    <option value="6" #if($query.transType == 6) selected="selected" #end >消费</option>
                    <option value="10" #if($query.transType == 10) selected="selected" #end >退款</option>
                    <option value="2" #if($query.transType == 2) selected="selected" #end >充值</option>
                </select>
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary search">查询</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary reset">重置</button>
			</div>
		</div>
		
		<div class="tableGroup whole">
			<table class="table table-hover topicTable">
				<tbody>
					<tr>
						<th>交易日期</th>
						<th>业务流水号</th>
						<th>交易类型</th>
						<th>收支金额</th>
						<th>金额</th>
					</tr>
					#foreach($item in $pageVo.itemList)
					<tr>
						<td>
							#if("$!{item.transTime}" != "")
								$utilDate.dateToString(${item.transTime},'yyyy-MM-dd')	
							#end
						</td>
						<td>$!item.transSn</td>
						<td>#TRANS_TYPE($!{item.transType})</td>
						<td>$!item.transAmountYuan</td>
						<td>$!item.accountBalanceYuan</td>
					</tr>
					#end
					
				</tbody>
			</table>
		</div>
		#parse("/page.vm")
		#pageStyle("queryForm")
	</form>
</div>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/plugin/datetimepicker.min.js" ></script>
<script type="text/javascript">
	
	(function(){
	
		$(".form-date").datetimepicker({
            language:  "zh-CN",
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: "yyyy-mm-dd"
        });
        
        $('.reset').click(function(){
           $("#queryForm").find(":input").not(":button,:submit,:reset,:hidden").val("").removeAttr("checked").removeAttr("selected");
        });
        
	})();
	
</script>
