
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/zui.min.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/datetimepicker.min.css">
		
<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<div class="topicbox">
	<form class="form-signin" id="topicListForm" name="topicListForm" action="$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/topic/list" method="GET" role="form">
		
		<input type="hidden" id="isRecommendList" name="isRecommendList" value="$!isRecommendList" />
		
		<div class="inputGroup whole">
			<div class="input-group inpSingle">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">编号</button>
                </span>
				<input type="text" class="form-control" name="" value="">
			</div>
			<div class="input-group inpSingle">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">名称</button>
                </span>
				<input type="text" class="form-control" name="" value="">
			</div>
			<div class="input-group inpSingle ">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">用户类型</button>
                </span>
				<select data-placeholder="请选择..." class="chosen-select form-control" tabindex="2" name="">
                    <option value="">全部</option>
                    <option value="" >普通用户</option>
                    <option value="" >企业用户</option>
                </select>
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary search">查询</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary reset">重置</button>
			</div>
		</div>
		
		<div class="btn-single">
			余额汇总：10000.00
		</div>
		
		<div class="tableGroup whole">
			<table class="table table-hover topicTable">
				<tbody>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>用户类型</th>
						<th>账户余额</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>100002</td>
						<td>光头教练</td>
						<td>企业用户</td>
						<td>3000</td>
						<td>
							<button type="button" class="btn btn-primary detail" >账户收支明细</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		#parse("/page.vm")
		#pageStyle("topicListForm")
	</form>
</div>
<script type="text/javascript">
	
	(function(){
	
		$('.detail').click(function(){
	        var url = '$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/account/detail';
			window.parent.tabsAdd("addTopic", url, 2, "账户余额明细");
	    });
	
	})();

</script>
