#addListID{border-bottom:solid 1px #000;overflow:hidden;}
#addListID div{float:left;padding-bottom:15px;}
#addListID .add-cont1 img{width:200px;height:200px;}
#addListID .add-btn{float:right;}
#addListID .add-btn .btn{margin:166px 66px 0 0px;}
.addListBtn{float:right;margin:20px 66px;}
.tableGroup .tip{margin-top:15px;}
.num{color:red;}
.btnBottomMargin{float:right;margin:20px 66px;}
.tipList{font-size:16px;}