.dimg{
  	width:118px;
  	height:120px; 
  	border:1px solid #eee;
  	display:block;
  }
    
 .dimg2{
 	width:118px;
 	height:120px; 
 	border:1px solid #eee;
 }
 
 .theme{
 	display:inline-block;
 	margin-right:5px;
 }
 
 .pic-wrap{
 	width:118px;
 	height:120px; 
 	float:left;
 	margin-right:5px;
 }
 .btn-del-pic{
 	display:block;
 	margin:0 auto;
 	margin-top:-28px;
 	width:116px;
 	height:26px;
 	cursor:pointer;
 	position:absolute;
 }
 .upload-btn-wrap{
 	margin-bottom:5px;
 }