</<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="$!{rc.contextPath}/resources/zui/css/zui.min.css" rel="stylesheet">
    <script src="$!{rc.contextPath}/resources/js/jquery.js" type="text/javascript"></script>
    <script src="$!{rc.contextPath}/resources/zui/js/zui.min.js" type="text/javascript"></script>
    <title>运营管理系统</title>
</head>
<body>
    $screen_content
</body>
</html>

