
<div id="img-manage">
<form action="" name="saveimgform" id="saveimgform">
    <ul class="itemlist clearfix">
        <li data-value="1">
            <a href="" class="img"><img src="../../tmp/1.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        #*<li data-value="2">
            <a href="" class="img"><img src="../../tmp/2.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li data-value="3">
            <a href="" class="img"><img src="../../tmp/3.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li data-value="4">
            <a href="" class="img"><img src="../../tmp/4.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li data-value="5">
            <a href="" class="img"><img src="../../tmp/5.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li data-value="6">
            <a href="" class="img"><img src="../../tmp/6.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li>
            <a href="" class="img"><img src="../../tmp/7.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
        <li>
            <a href="" class="img"><img src="../../tmp/7.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>*#
    </ul>
    <input type="submit" name="submit" value="保存" id="save-btn" class="save-btn"/>
</form>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/json.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/img-manage.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
<script>
    $(function(){
        $("#img-manage").setimages({
            settopClass : '.settop',
            delClass : '.delimg',
            itemClass : '.itemlist li',
            formId : '#saveimgform',
            inputId : 'imgids',
            inputName : 'imgids',
            topNum : 3,
            delCallback : function($this){
                var _parent = $this.closest("li");
                _parent.remove();
            },
            settopCallback : function($this){
                var _parent = $this.closest("li");
                if(_parent.attr("istop")){
                    _parent.removeAttr("istop");
                        $this.html("置顶");
                }else{
                    _parent.attr("istop",true);
                        $this.html("取消");
                }
            }
        });
    });
</script>
</div>