
<div id="img-manage">
<form action="" name="saveimgform" id="saveimgform">
    <ul class="itemlist clearfix">
        <li data-value="1" istop="true">
            <a href="" class="img"><img src="../../tmp/1.jpg"/></a>
            <span><a href="javascript:" class="settop">置顶</a><a href="javascript:" class="delimg">删除</a></span>
        </li>
    </ul>
    <input type="submit" name="submit" value="保存" id="save-btn" class="save-btn"/>
</form>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/json.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/img-manage.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
</div>