<style type="text/css">
    .menu>ul.nav{margin-top: 42px;}
    .menu>.nav>li:first-child>a, .menu>.nav>li:first-child.nav-heading{border-radius: 0;}
    .menu>.nav>li:last-child>a,.nav-primary>li:last-child>a{border-radius: 0;}
    .menu{position: fixed;top: 0px; left: 0;height: 100%;overflow-y: auto;}
    .content-page{height: 100%; margin-left: 200px;margin-top: 42px;padding: 0 15px; background: #fbfbfb;}
</style>
#parse("system/layout/top.vm")
#parse("system/layout/left.vm")
<div class="content-page">
    <iframe id="RightIFrame" name="RightIFrame" frameborder="0" scrolling="auto" width="100%" height="" src="$!utilWebconfig.getActionDefaultFontPath()/trade/userManage/welcome"></iframe>
</div>
##   #parse("system/layout/footer.vm")