<!--左侧栏开始-->
<div class="menu" data-toggle="menu" style="width: 200px;">

    <ul class="nav nav-primary">

        #foreach($menu in $menuList)
            <li>
                #if($menu.haMenuDOList.size() == 0)
                    <li><a href="javascript:iFrameJumpPage('$!{menu.linkUrl}','$!menuSub.id');">$!menu.name</a></li>
                #else
                    <a href="#"><i class="icon-th"></i> $!menu.name</a>

                    <ul class="nav">
                        #foreach($!menuSub in $!menu.haMenuDOList)
                            <li><a href="javascript:iFrameJumpPage('$!{menuSub.linkUrl}','$!menuSub.id');">$!menuSub.name</a></li>
                        #end
                    </ul>
                #end
            </li>
        #end
    </ul>
</div>
<!--左侧栏结束-->
<script>
$(function(){
});
function openwin(url) {
    var a = document.createElement("a");
    a.setAttribute("href", url);
    a.setAttribute("target", "_blank");
    a.setAttribute("id", "camnpr");
    document.body.appendChild(a);
    a.click();
}
function iFrameJumpPage(url,id)
 {
 	$("#nav a").removeClass("active");

    $("#RightIFrame").attr("src",url);
    $("#"+id).addClass('active');
     $('#RightIFrame').load(function(){
         $('#RightIFrame').height($('#RightIFrame').contents().height()+200);
     });
 }


</script>
 
