<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
    <form class="form-signin" id="hotelDOListForm" name="hotelDOListForm" action="$!utilWebconfig.getActionDefaultFontPath()/jiuniu/hotelManage/list" method="GET" role="form">
        <div class="inputGroup whole">
            <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">酒店名称</button>
                    </span>
                <input type="text" class="form-control" name="name" value="$!hotelListQuery.name">
            </div>
            <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">类型：</button>
                </span>
                <select class="form-control" name="type">
                    <option value="" >全部</option>
                    <option value="1" #if($!hotelListQuery.type == 1) selected #end>酒店</option>
                    <option value="2" #if($!hotelListQuery.type == 2) selected #end>客栈</option>
                </select>
            </div>
            <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">区域：</button>
                </span>
                <select class="form-control provinceSelect" name="locationProvinceId" id="provinceId">
                	<option value="">请选择省份</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">省</button>
                </span>
                <select class="form-control" name="locationCityId" id="cityId">
                	<option value="">请选择城市</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">市</button>
                </span>
            </div>
            <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">更新时间</button>
                    </span>
                <input type="text" class='form-control form-date dateInp' placeholder='' readonly id="beginDate" name="beginDate" value="$!hotelListQuery.beginDate">
                <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
                <input type="text" class='form-control form-date dateInp' placeholder='' readonly id="endDate" name="endDate" value="$!hotelListQuery.endDate">
            </div>
            <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">状态：</button>
                </span>
                <select class="form-control" name="hotelStatus">
                    <option value="" >全部</option>
                    <option value="1" #if($!hotelListQuery.hotelStatus == 1) selected #end>未启用</option>
                    <option value="2" #if($!hotelListQuery.hotelStatus == 2) selected #end>启用</option>
                </select>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary submitBtn">查询</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary onReset">清空</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary addHotelBtn">添加酒店</button>
        #*<button type="button" class="btn btn-primary hotelBatchBtn" btnType="1">批量启用</button>
        <button type="button" class="btn btn-primary hotelBatchBtn" btnType="2">批量禁用</button>*#
        <div class="tableGroup whole">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                    	#*
                        <th><input class="allChecked" name="allChecked" type="checkbox">全选</th>
                        *#
                        <th>酒店名称</th>
                        <th>类型</th>
                        <th>区域</th>
                        <th>更新时间</th>
                        <th>状态</th>
                        <th>权重</th>
                        <th>操作</th>
                    </tr>                    
                </thead>
                    #foreach($hotel in $hotelDOList)
                    <tr class="subCheckedTR">
                    	#*
                        <td><input class="subChecked" type="checkbox" value="$!hotel.id"></td>
                        *#
                        <td>
                            <p><img class="uploadImgFile" src="$!{utilWebconfig.getTfsRootPath()}$!hotel.logoUrl"></p>
                            <p>$!hotel.name</p>
                            <p>资源编码:$!hotel.id</p>
                        </td>
                        <td>#HOTEL_TYPE($!{hotel.type})</td>
                        <td>$!{hotel.locationProvinceName} $!{hotel.locationCityName} $!{hotel.locationTownName}</td>
                        <td>
                        	$utilDate.dateToString(${hotel.gmtModified},'yyyy-MM-dd HH:mm:ss')
                        </td>
                        <td>#HOTEL_STATUS_TWO($!hotel.status)</td>
                        <td>
                            <div class="weight">$!hotel.orderNum</div>
                        </td>
                        <td>
	                        <button type="button" class="btn btn-primary hotelDetail" hotelId="$hotel.id">编辑</button>
	                        #if($hotel.status == 1)
	                        	<button type="button" class="btn btn-primary hotelBtn" hotelId="$hotel.id" status="2">启用</button>
	                        #end
	                        </button>
	                        <button type="button" class="btn btn-primary roomList" hotelId="$hotel.id">房型</button>
	                        <button type="button" class="btn btn-primary itemList" hotelId="$hotel.id">查看商品</button>
                            <button type="button" class="btn btn-primary btn-weight" hotelId="$hotel.id">权重</button>
                        </td>
                    </tr>
                    #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("hotelDOListForm")
    </form>
<script>

    $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
    function openwin(url) {
        var a = document.createElement("a");
        a.setAttribute("href", url);
        a.setAttribute("target", "_blank");
        a.setAttribute("id", "camnpr");
        document.body.appendChild(a);
        a.click();
    }
    
    function operateArea(selectedProvinceId, selectedCityId){
    
    	var provinceFlag = false;
		var cityFlag = false;
 		
 		var selectOption = 'selected="selected"';
 		
 		//加载所有省份
		$.get('$!utilWebconfig.getActionDefaultFontPath()/AREA/list', 
			{
				'areaType': 'PROVINCE',
            	'areaParentCode': null
           	},
            function(data) {
                if (data&&data.status==200) {
                	data = data.data;
                    for (var i in data) {
                        var code = data[i].code;
                        var name = data[i].name;
                        if(code == selectedProvinceId){
                        	var optionHTML = '<option value="'+ code +'" '+ selectOption +' >'+name+'</option>';	
                        }else{
                        	var optionHTML = '<option value="'+ code +'">'+name+'</option>';
                        }
                        $("#provinceId").append(optionHTML);
                    }
                    provinceFlag = true;
                    
                    if(selectedCityId){
			    		$("#provinceId").change();
			    	}
                } else {
                    layer.msg('操作失败', {
                        icon: 2,
                        time: 2000
                    });
                }
        	}
        );
		
        
        //根据省份选择城市
        $('.provinceSelect').change(function(){
        
			//清空所有子元素
			if (parseInt($("#cityId").children().length) > 1) {
				$("#cityId").empty();
				$("#cityId").append('<option value="0">请选择城市</option>');
			}
			
			$.get('$!utilWebconfig.getActionDefaultFontPath()/AREA/list', 
                {
                	'areaType': 'CITY',
                 	'areaParentCode': $('.provinceSelect option:selected').attr("value")
                },
                function(data) {
                    if (data&&data.status==200) {
                		data = data.data;
                        for (var i in data) {
                            var code = data[i].code;
                            var name = data[i].name;
                            if(code == selectedCityId){
                            	var optionHTML = '<option value="'+ code +'"'+ selectOption +' >'+name+'</option>';
                            }else{
                            	var optionHTML = '<option value="'+ code +'">'+name+'</option>';	
                            }
                            
                            $("#cityId").append(optionHTML);
                        }
                        provinceFlag = true;
                    } else {
                        layer.alert('操作失败', {
                            icon: 2,
                            time: 2000
                        }, function() {

                        });
                    }
                }
            );
		});
    }

    $(function(){
    
    	var selectedProvinceId = "$!hotelListQuery.locationProvinceId";
    	var selectedCityId =  "$!hotelListQuery.locationCityId";
    	
    	operateArea(selectedProvinceId, selectedCityId);
    	
        $('.submitBtn').click(function(){
        	
        	var beginDate = $("#beginDate").val();
			var endDate = $("#endDate").val();
			if(beginDate && endDate){
				var startNum = parseInt(beginDate.replace(/-/g,''),10); 
				var endNum = parseInt(endDate.replace(/-/g,''),10); 
				
				if(startNum>endNum){ 
					layer.msg("更新时间：开始时间不能大于结束时间！", {
	                    icon: 2,
	                    time: 1500
	                });
	                return;
				}
			}
        
            $('#hotelDOListForm').submit();
        });
        $('.hotelDetail').each(function(){
            $(this).click(function(){
                var url = actionDefaultPath + '/jiuniu/hotelManage/edit/'+ $(this).attr('hotelId');
                top.tabsAdd("",url,2,"查看酒店");
            });

        });
        $('.roomList').each(function(){
            $(this).click(function(){
                var url = actionDefaultPath + '/jiuniu/hotelManage/roomList/'+ $(this).attr('hotelId');
                top.tabsAdd("",url,2,"房型列表");
            });

        });
        $('.itemList').each(function(){
            $(this).click(function(){
                var url = actionDefaultPath + '/jiuxiu/item/list?outType=1&outId='+ $(this).attr('hotelId');
                top.tabsAdd("",url,2,"商品列表");
            });

        });
        //单个启用停用
        $('.hotelBtn').each(function(){
            $(this).click(function(){
                var that = this;
                $(that).prop('disabled',true);
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/jiuniu/hotelManage/setHotelStatus/' + $(this).attr('hotelId') ,{'hotelStatus':$(this).attr('status')} ,function(data){
                    if(data.status == 200){
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 1500
                        });
                        setTimeout(function(){
                            window.location.href = window.location.href;
                        },1500);
                    }else{
                        layer.msg(data.message, {
                            icon: 2,
                            time: 2000
                        });
                        $(that).prop('disabled',false);
                    }
                })
            });
        });

        //全选
        $('.allChecked').click(function(){
            $('.subChecked').prop('checked',$(this).prop('checked'));
        });
        //单选
        $('.subCheckedTR').click(function(){
            $(this).find('.subChecked').prop('checked',!$(this).find('.subChecked').prop('checked'));
        });
        //批量
        $('.hotelBatchBtn').click(function(){
            $(this).prop('disabled',true);
            var arr = new Array();
            $('.subChecked:checked').each(function(){
                arr.push($(this).val());
            });
            $.post('$!utilWebconfig.getActionDefaultFontPath()/jiuniu/hotelManage/setHotelStatusList',{hotelIdList:arr,hotelStatus:$(this).attr('btnType')},function(data){
                if(data&&data.status == 200){
                    layer.alert('操作成功', {
                        icon: 1,
                        time: 1500
                    });
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1500);
                }else{
                    layer.alert('操作失败', {
                        icon: 2,
                        time: 2000
                    });
                    $(this).prop('disabled',false);
                }
            })
        });
        //新建
        $('.addHotelBtn').click(function(){
            var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/jiuniu/hotelManage/toAdd';
			window.parent.tabsAdd("addRestaurant", url, 2, "添加酒店");
        });
        
          $('.onReset').click(function(){
           $("#hotelDOListForm").find(":input").not(":button,:submit,:reset,:hidden").val("").removeAttr("checked").removeAttr("selected");
        });
         //权重
        $(".btn-weight").click(function() {
            var id = $(this).attr("hotelId");
            var $self = $(this);
            layer.prompt({title:"请输入权重："},function(d,n){
                var re = /^[1-9][0-9]{0,3}$/;
                if (!re.test(d)) {layer.msg("请输入1-9999正整数",{icon:2});return false;}else{
                    $.ajax({
                        url: actionDefaultPath+'/jiuniu/hotelManage/setHotelWeight',
                        type: 'post',
                        data: {id: id,weight:d},
                        success:function(data){
                            if(data.success){
                                $self.closest("tr").find(".weight").text(d);
                                layer.close(n);                                                  
                            }else{layer.msg("修改失败，请稍后重试",{icon:2})}
                        },
                        error:function() {
                            layer.msg("请求出错，请稍后重试",{icon:2})
                        }
                    })                    
                }
            })
        });
    });
</script>