<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
    <form class="form-signin" id="liveListForm" name="liveListForm" action="$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/ugcManage/list" method="GET" role="form">
        <div class="inputGroup whole">

        <button type="button" class="btn btn-primary addLiveBtn" id="addLiveBtn">添加</button>
        <div class="tableGroup whole">
            <table class="table table-hover">
                <tr>
                    <th width="4%">编号</th>
                    <th width="8%">用户昵称</th>
                    <th width="8%">用户手机号</th>
                    <th width="8%">发布时间</th>
                    <th width="30%">内容</th>
                    <th width="3%">点赞数</th>
                    <th width="3%">评论数</th>
                    <th width="5%">状态</th>
                    
                    <th width="13%">操作</th>
                </tr>
                    #foreach($live in $liveList)
                    <tr class="subCheckedTR">
                        <td>$!live.id</td>
                        <td>$!live.userDO.nickname</td>
                        <td>$!live.userDO.mobileNo</td>
                        <td>$!utilDate.dateToString($!live.gmtCreated,"yyyy-MM-dd HH:mm:ss")</td>
                        <td style="word-break: break-all;min-width: 40px;max-width: 349px;padding: 4px 4px !important;">$!esc.html($!live.textContent)</td>
                        <th>$!live.supportNum</th>
                        <th>$!live.commentNum</th>
                        <td>#TREND_STATUS($!live.status)</td>
                        <td>
                            <button type="button" class="btn btn-primary liveDetail" liveId="$live.id">详情</button>
                            <button type="button" class="btn btn-primary liveBtn"  liveId="$!live.id">删除</button>
                        </td>
                    </tr>
                    #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("liveListForm")
    </form>
<script>
    $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
    $(function(){
        //查询
        $('.submitBtn').click(function(){
            $('#liveListForm').submit();
        });
        //新建
        $('.addLiveBtn').click(function(){
            var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/jiuxiu/ugcManage/recommendList';
            top.tabsAdd("addLiveBtn",url,2,$(this).text())
        });
        $('.liveDetail').each(function(){
            $(this).click(function(){
                var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/liveManage/edit/'+ $(this).attr('liveId');
                top.tabsAdd("",url,2,$(this).text());
            });

        });

        //单个启用停用
        $('.liveBtn').each(function(){
            $(this).click(function(){
                $(this).prop('disabled',true);
                var url = actionDefaultPath + '/jiuxiu/ugcManage/delete/' + $(this).attr('liveId');
                $.post(url ,function(data){
                    if(data.status == 200){
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 1500
                        });
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        },1500);
                    }else{
                        layer.msg('操作失败', {
                            icon: 2,
                            time: 2000
                        });
                        $(this).prop('disabled',false);
                    }
                })
            });
        });

        //全选
        $('.allChecked').click(function(){
            $('.subChecked').prop('checked',$(this).prop('checked'));
        });
        $(".subChecked").click( function(){
            event.stopPropagation(); // do something
        });
        //单选
        $('.subCheckedTR').click(function(){
            $(this).find('.subChecked').prop('checked',!$(this).find('.subChecked').prop('checked'));
        });
        //图片预览
        $('.livePicListBtn').click(function(){
            var picListStr = $(this).attr('picListStr');
            if(picListStr){
                showPic(JSON.parse(picListStr),0, "300px", "600px");
            }else{
                layer.msg('没有图片', {
                    icon: 6,
                    time: 1500
                });
            }

        });
        //批量违规
        $('.liveBatchBtn').click(function(){
            $(this).prop('disabled',true);
            var arr = new Array();
            $('.subChecked:checked').each(function(){
                arr.push($(this).val());
            });
            $.post(actionDefaultPath +'/B2C/liveManage/batchViolation',{liveIdList:arr},function(data){
                if(data && data.status == 200){
                    layer.msg('操作成功', {
                        icon: 1,
                        time: 1500
                    });
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1500);
                }else{
                    layer.msg('操作失败', {
                        icon: 2,
                        time: 2000
                    });
                    $(this).prop('disabled',false);
                }
            })
        });
    });
</script>