<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>
<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>

	<form class="form-signin" id="themeListForm" name="themeListForm" action="$!utilWebconfig.getActionDefaultFontPath()/B2C/themeManage/list" method="GET" role="form">

        <div class="tableGroup whole">
			<button type="button" class="btn btn-info selectHotelBtn">选择景点</button>
            <input type="hidden" name="hotelId" value="">
			
			
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
						<th>图片</th>
                        <th>景点名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($region in $regionHotelList)
                    <tr>
                        <td>$!velocityCount</td>
						<td>$!region.id</td>
                        <td>$!region.name</td>
						<td>$!region.price</td>
                        <button type="button" class="btn btn-primary themeDetail" themeId="$theme.id">删除</button>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("themeListForm")
    </form>

<script>

    var selectUserCallBack = function(data){
        if(data){
            $('.userNameShow').text(data[0].name);
        }
    }
	
	 $('.selectHotelBtn').click(function(){
            '$!utilWebconfig.getActionDefaultFontPath()',
                    openModal(actionDefaultPath + '/B2C/hotelManage/list', "选择景点", selectUserCallBack)
        })
</script>