<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js" type="text/javascript"></script>

<form name="addHotel" id="hotelForm" action="" method="post" hotelId="">
<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="spColor">*</span>目的地名称</td>
                    #*<input type="text" class="inpControl" name="cityName" placeholder="请输入20个字以内"> 
                    <input type="hiddent" class="inpControl" name="cityLevel" value="">*#
                    <td><select id="cityId" ></select></td>
                </tr>
				
				#*
				<tr>
                    <td><span class="spColor">*</span>级别（省/市）</td>
                    <td><input type="text" class="inpControl" name="cityLevel" reayOnly="true" ></td>
                </tr>
				*#
                <tr>
                    <td><span class="spColor">*</span>标签</td>
                    <td>
                        <div class="selectList">
                            <select class="selCity inpControl provinceSelect" name="tag">
                                <option value="1">国内目的地</option>
                                <option value="2">热门目的地</option>
                            </select>
                        </div>
                    </td>
                </tr>
				
				<tr>
                <td><span class="spColor">*</span>封面图</td>
                <td>
                    <div class="fileImg">
                        <button type="button" class="btn btn-success">选择图片</button>
                        <input type="file"  name="file" class="fileInp" id="FMUploadFile" accept="image/png,image/gif">
						<input type="hidden" name="coverURL" value=""  id="FMReturnInput">
							
                        <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
                    </div>
                    <div class="propagandaView">
                        <img src="" id="FMReturnInputImg"> #* #if($club.picturePoster) $utilWebconfig.getTfsRootPath()$!club.picturePoster  #end *#
                    </div>
                </td>
            </tr>
			
			 <tr>
                <td><span class="spColor">*</span>目的地LOGO</td>
                <td>
                    <div class="fileImg">
                        <button type="button" class="btn btn-success">选择图片</button>
						
                        <input type="file"  name="file" class="fileInp" id="LOGOUploadFile" accept="image/png,image/gif">
						<input type="hidden" name="logoURL" value=""  id="LOGOReturnInput">
							
                        <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
                    </div>
                    <div class="propagandaView">
                        <img src="" id="LOGOReturnInputImg">
                    </div>
                </td>
            </tr>
				
				<tr>
                    <td><span class="spColor">*</span>概况</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow">增加条目</button>
        	<table class="table">
				<thead >
            		<tr>
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				 <tbody class="extra-info-list needKnowTable">

                                    #if(!${VO.gaikuang.frontNeedKnow})
                                    <tr class="needKnow">
                                        <td><input type="text" name="gaikuang.frontNeedKnow[1].title"
                                                   class="form-control extra-info-item-title" placeholder="费用包含old"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="gaikuang.frontNeedKnow[1].content" rows="3"></textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($frontNeedKnow in $VO.gaikuang.frontNeedKnow)
                                    <tr class="needKnow">
                                        <td><input type="text" name="gaikuang.frontNeedKnow[$!{velocityCount}].content"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"
                                                   value="$!{frontNeedKnow.title}"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="gaikuang.frontNeedKnow[$!{velocityCount}].content"
                                                      rows="3">$!{frontNeedKnow.content}</textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
            </table>
                    
                    </td>
                </tr>
                
                #*--------------------------------------------------------*# 
                
           <tr>
                    <td><span class="spColor">*</span>民俗</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow">增加条目</button>
        	<table class="table">
				<thead >
            		<tr>
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				 <tbody class="extra-info-list needKnowTable">

                                    #if(!${VO.minsu.frontNeedKnow})
                                    <tr class="needKnow">
                                        <td><input type="text" name="minsu.frontNeedKnow[1].title"
                                                   class="form-control extra-info-item-title" placeholder="费用包含old"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="minsu.frontNeedKnow[1].content" rows="3"></textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($frontNeedKnow in $VO.minsu.frontNeedKnow)
                                    <tr class="needKnow">
                                        <td><input type="text" name="minsu.frontNeedKnow[$!{velocityCount}].content"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"
                                                   value="$!{frontNeedKnow.title}"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="minsu.frontNeedKnow[$!{velocityCount}].content"
                                                      rows="3">$!{frontNeedKnow.content}</textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
            </table>
                    
                    </td>
                </tr>
                
                #*--------------------------------------------------------*#
                				<tr>
                    <td><span class="spColor">*</span>消费</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow">增加条目</button>
        	<table class="table">
				<thead >
            		<tr>
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				 <tbody class="extra-info-list needKnowTable">

                                    #if(!${VO.xiaofei.frontNeedKnow})
                                    <tr class="needKnow">
                                        <td><input type="text" name="xiaofei.frontNeedKnow[1].title"
                                                   class="form-control extra-info-item-title" placeholder="费用包含old"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="xiaofei.frontNeedKnow[1].content" rows="3"></textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($frontNeedKnow in $VO.xiaofei.frontNeedKnow)
                                    <tr class="needKnow">
                                        <td><input type="text" name="xiaofei.frontNeedKnow[$!{velocityCount}].content"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"
                                                   value="$!{frontNeedKnow.title}"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="xiaofei.frontNeedKnow[$!{velocityCount}].content"
                                                      rows="3">$!{frontNeedKnow.content}</textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
            </table>
                    
                    </td>
                </tr>
                
                 #*--------------------------------------------------------*#
                				<tr>
                    <td><span class="spColor">*</span>贴示</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow">增加条目</button>
        	<table class="table">
				<thead >
            		<tr>
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				 <tbody class="extra-info-list needKnowTable">

                                    #if(!${VO.tieshi.frontNeedKnow})
                                    <tr class="needKnow">
                                        <td><input type="text" name="tieshi.frontNeedKnow[1].title"
                                                   class="form-control extra-info-item-title" placeholder="费用包含old"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="tieshi.frontNeedKnow[1].content" rows="3"></textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($frontNeedKnow in $VO.tieshi.frontNeedKnow)
                                    <tr class="needKnow">
                                        <td><input type="text" name="tieshi.frontNeedKnow[$!{velocityCount}].content"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"
                                                   value="$!{frontNeedKnow.title}"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="tieshi.frontNeedKnow[$!{velocityCount}].content"
                                                      rows="3">$!{frontNeedKnow.content}</textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
            </table>
                    
                    </td>
                </tr>
                
                
                
               <input type="hiddent" class="inpControl" name="type" value="4">
               <input type="hiddent" class="inpControl" id="cityIds" name="id" value="">
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
   
</div>
</form>

<script type="text/html" id="needKnowTemp">
    <tr class="needKnow">
        <td><input type="text" name="needKnow.frontNeedKnow[$index].title" class="form-control extra-info-item-title"
                   placeholder="费用包含"></td>
        <td><textarea name="needKnow.frontNeedKnow[$index1].content" class="form-control extra-info-item-text"
                      rows="3"></textarea></td>
        <td>
            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button>
        </td>
    </tr>
</script>

<script>
 	//上传图片
	 $(document).delegate("#FMUploadFile",'change',function(){
	     fileUpload('#FMUploadFile',1,pictureUploadCallBack);
	 })
		
 	var pictureUploadCallBack = function(data){
    if(data && data.status == 200){
		console.log(data.data);
        $('#FMReturnInput').val(data.data);
        $('#FMReturnInputImg').attr('src',tfsRootPath + data.data);
			
        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }
	
	 //上传图片
	 $(document).delegate("#LOGOUploadFile",'change',function(){
	     fileUpload('#LOGOUploadFile',1,LOGOUploadCallBack);
	 })
		
     var LOGOUploadCallBack = function(data){
        if(data && data.status == 200){
		    console.log(data.data);
            $('#LOGOReturnInput').val(data.data);
            $('#LOGOReturnInputImg').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
     }
	
	//概况的
	var conTr =$(".needKnow").length;
	$(".addNeedKnow").unbind("click").click(function () {
    	var addhtml="";
    	var html1 = $("#needKnowTemp").html();
    	var i = ++conTr;
    	addhtml = addhtml + html1.replace('$index', i).replace('$index1', i);
    	$(".needKnowTable").prev().append(addhtml);
	});	
	
 	function delneedKnowTR(obj){
		$(obj).parent().parent().remove(); 
 	}
 	
 	//保存的
 	$('#btnSubmit').click(function(){
    	//if($("#hotelForm").valid()) {}
        $(this).prop('disabled', true);
        	var actionUrl = actionDefaultPath + '/B2C/trip/add';
            $('#hotelForm').attr('action', actionUrl);
            //alert(actionUrl);
            var cityId=$('select option:selected').attr("value");
            $("#cityIds").val(cityId);
            $('#hotelForm').submit();
        });
        
    	$("#cityId").focus( function(){
    	$.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/trip/selectRegion' ,{type:"3"} ,function(data){
	    	if(data.status == 200){
	    	var html="";
	    		$.each(data.data, function(n,val){ 
                   console.log("data:"+val.id+"  _"+val.name);
                   html+="<option level="+val.level+" cityCode="+val.cityCode+" provinceCode="+val.provinceCode+" value="+val.id+">"+val.name+"</option>"
                });
            $("#cityId").html(html);
	        }else{
	            var msg = new $.zui.Messager('获取城市列表失败', {placement: 'center',type:'warning',time:'1000'});
	            msg.show();
	            $(this).prop('disabled',false);
	        }                                      
    	})
    });
    
        
//--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</script>