<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js" type="text/javascript"></script>

<form name="addHotel" id="hotelForm" action="" method="post" hotelId="$!destination.id">
<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="spColor">*</span>目的地名称</td>
                    <td><input type="text" class="inpControl" name="cityName" placeholder="请输入20个字以内"></td>
                </tr>
				
				<tr>
                    <td><span class="spColor">*</span>级别（省/市）</td>
                    <td><input type="text" class="inpControl" name="cityLevel" reayOnly="true" ></td>
                </tr>
				
                <tr>
                    <td><span class="spColor">*</span>标签</td>
                    <td>
                        <div class="selectList">
                            <select class="selCity inpControl provinceSelect" name="tag">
                                <option value="1">国内目的地</option>
                                <option value="2">热门目的地</option>
                            </select>
                        </div>
                    </td>
                </tr>
				
				<tr>
                <td><span class="spColor">*</span>封面图</td>
                <td>
                    <div class="fileImg">
                        <button type="button" class="btn btn-success">选择图片</button>
                        <input type="file"  name="file" class="fileInp" id="FMUploadFile" accept="image/png,image/gif">
						<input type="hidden" name="coverURL" value=""  id="FMReturnInput">
							
                        <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
                    </div>
                    <div class="propagandaView">
                        <img src="" id="FMReturnInputImg"> #* #if($club.picturePoster) $utilWebconfig.getTfsRootPath()$!club.picturePoster  #end *#
                    </div>
                </td>
            </tr>
			
			 <tr>
                <td><span class="spColor">*</span>目的地LOGO</td>
                <td>
                    <div class="fileImg">
                        <button type="button" class="btn btn-success">选择图片</button>
						
                        <input type="file"  name="file" class="fileInp" id="LOGOUploadFile" accept="image/png,image/gif">
						<input type="hidden" name="logoURL" value=""  id="LOGOReturnInput">
							
                        <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
                    </div>
                    <div class="propagandaView">
                        <img src="" id="LOGOReturnInputImg">
                    </div>
                </td>
            </tr>
				
				<tr>
                    <td><span class="spColor">*</span>概况</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow">增加条目</button>
        	<table class="table">
				<thead >
            		<tr>
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				<tbody class="extra-info-list needKnowTable">
            		<tr class="needKnow">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="简介"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button type="button"  class="btn btn-link"  onclick="delneedKnowTR(this)">删除</button></td>
                    </tr>
					
                </tbody>
            </table>
                    
                    </td>
                </tr>
               
               
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
   
</div>
</form>

<script type="text/html" id="needKnowTemp">
<tr class="needKnow">
       <td><input type="text" class="form-control extra-info-item-title" placeholder="简介"></td>
       <td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
		<td><button type="button"  class="btn btn-link" onclick="delneedKnowTR(this)">删除</button></td>
</tr>
</script>

<script>
 //上传图片
 $(document).delegate("#FMUploadFile",'change',function(){
     fileUpload('#FMUploadFile',1,pictureUploadCallBack);
 })
		
 var pictureUploadCallBack = function(data){
        if(data && data.status == 200){
		    console.log(data.data);
            $('#FMReturnInput').val(data.data);
            $('#FMReturnInputImg').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }
	
	 //上传图片
 $(document).delegate("#LOGOUploadFile",'change',function(){
     fileUpload('#LOGOUploadFile',1,LOGOUploadCallBack);
 })
		
    var LOGOUploadCallBack = function(data){
            if(data && data.status == 200){
    		    console.log(data.data);
                $('#LOGOReturnInput').val(data.data);
                $('#LOGOReturnInputImg').attr('src',tfsRootPath + data.data);
    
            }else{
                layer.msg('图片上传失败，请重试', {icon: 2});
            }
    }
	
	var conTr =$(".needKnow").length;
	$(".addNeedKnow").unbind("click").click(function () {
    	var addhtml="";
    	var html1 = $("#needKnowTemp").html();
    	var i = conTr++;
    	addhtml = addhtml + html1.replace('$index', i).replace('$index1', i);
    	$(".needKnowTable").prev().append(addhtml);
	});	
	
 	function delneedKnowTR(obj){
		$(obj).parent().parent().remove(); 
 	} 
//--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    //表单验
        $("#hotelForm").validate({
            //添加酒店验证规则
            rules: {
                name: {    //酒店名称
                    required: true,
                    maxlength: 20,
                    minlength: 2
                },
                locationProvinceId: {   //选择省级地址
                    required: true
                },
                locationCityId: {   //选择市级地址
                    required: true
                },
                locationTownName: {   //填写详细地址
                    required: true
                },
                locationX: {   //地址经纬度_经度
                    required: true,
                    number: true
                },
                locationY: {   //地址经纬度_纬度
                    required: true,
                    number: true
                },
                phoneNumList: {   //酒店电话
                    requiredAll: true,
                    isTel: true
                },
                oneword: {   //酒店简介
                    required: true,
                    maxlength: 80
                },
                description: {   //特色描述
                    required: true,
                    maxlength: 500
                },
                price: {   //基础价格
                    required: true,
                    number: true
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: true
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: true,
                    number: true
                },
                roomFacilityList: {   //房间设施(多选)
                    required: true
                },
                roomServiceList: {    //请选择特色服务(多选)
                    required: true
                },
                hotelFacilityList: {   //酒店设施(多选)
                    required: true
                },
                openTimeList: {   //最晚到店时间
                    requiredAll: true
                }
            },
            //添加酒店验证错误，提示信息
            messages: {
                name: {     //酒店名称
                    required: "请填写酒店名称",
                    maxlength: "请输入不多于20字",
                    minlength: "请至少输入2个字"
                },
                locationProvinceId: {    //选择省份
                    required: "请输入您的详细地址"
                },
                locationCityId: {    //选择地址
                    required: "请输入您的详细地址"
                },
                locationTownName: {   //填写详细地址
                    required: "请输入您的详细地址"
                },
                locationX: {   //地址经纬度_经度
                    required: "请填写您的经度",
                    number: "请输入数字"
                },
                locationY: {   //地址经纬度_纬度
                    required: "请填写您的纬度",
                    number: "请输入数字"
                },
                phoneNumList: {   //酒店电话
                    requiredAll: "请输入全部的酒店电话（数字）",
                    isTel: "请填写正确的电话号码"
                },
                oneword: {   //酒店简介
                    required: "请输入酒店简介",
                    maxlength: "请输入80字以内"
                },
                description: {   //特色描述
                    required: "请填写特色描述",
                    maxlength: "请输入500字以内"
                },
                price: {   //基础价格
                    required: "请输入基础价格",
                    number: "请输入数字"
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: "请填写酒店联系人姓名"
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: "请填写酒店联系人电话",
                    number: "请输入数字"
                },
                roomFacilityList: {   //房间设施(多选)
                    required: "请选择房间设施"
                },
                roomServiceList: {    //特色服务(多选)
                    required: "请选择特色服务"
                },
                hotelFacilityList: {   //酒店设施(多选)
                    required: "请选择酒店设施"
                },
                openTimeList: {   //最晚到店时间
                    requiredAll: "请选择三个最晚到店时间"
                }
            },
            //错误信息显示位置
            errorPlacement: function(error, element) {
                if(element.is(":checkbox")){
                    //error.appendTo (element.parent().parent().parent());
                    element.parent().parent().append (error);
                } else if(element.attr("name") == "phoneNumList") {
					element.parent().parent().parent().append(error);
				}else if(element.attr("name") == "openTimeList"){
                    element.parent().append(error);
                }else{
                    if(element.next().length==0){
                        element.parent().append(error);
                    }else{
                        element.next().before(error);
                    }
                }
            }
        });

    $(function(){
        //地址选择
        $('.provinceSelect').change(function(){
            if($('.provinceSelect option:selected')){
                $('provinceSelectName').val($('.provinceSelect option:selected').text());
            }
            $.get('/B2C/regionManage/regionList/' + $('.provinceSelect').val(),function(data){
                $('.citySelect option').remove();
                var optionList;
                if(data && data.status == 200){
                    $('.citySelect').append('<option>请选择城市</option>');
                    for(var region in data.data){
                        optionList += "<option value=" + data.data[region].id + ">" + data.data[region].name + "</option>";
                    }
                    $('.citySelect').append(optionList);
                }else{
                    layer.alert('市级地址加载失败', {
                        icon: 2,
                        time: 2000
                    });
                }

            });
        });
        $('.citySelect').change(function(){
            if($('.citySelect option:selected').val()){
                $('.citySelectName').val($('.citySelectId option:selected').text());
            }
        });
        //添加和删除酒店电话
        $(document).delegate(".delPhoneNum", "click", function(){
            $(this).parent().remove();
        });
        $('.addPhoneNum').click(function(){
            $('.phoneNumListTd').append('<div><input type="text" class="inpControl" name="phoneNumList" id="phoneNum" placeholder="请输入数字"> <button class="btn btn-primary delPhoneNum">删除</button> </div>');
        });
        //选择旅游咖
        $('.selectUserBtn').click(function(){
            layer.open({
                type: 2,
                btn: ['确定', '取消'],
                title: '用户选择',
                fix: false,
                shadeClose: true,
                maxmin: true,
                area: ['1000px', '500px'],
                content: '$!utilWebconfig.getActionDefaultFontPath()/trade/userManage/selectUserList',
                yes: function(index){
                    console.log(frames == window);
                    layer.alert(top.resultValue.length)
                    if(top.resultValue&&top.resultValue.length==0){
                        layer.alert("请选择旅游咖");
                        return false;
                    }else{
                        $('.masterRecommendImg').val('');
                        $('.masterRecommendUserPic').val('');
                        $('.masterRecommendUserId').val(resultValue[0].id);
                        $('.masterRecommendName').text(resultValue[0].name);
                        $('.masterRecommendNameInp').val(resultValue[0].name);
                    }
                }
            });
        });

        $('#btnSubmit').click(function(){
            //if($("#hotelForm").valid()) {}
             $(this).prop('disabled', true);
                var actionUrl;
                var hotelId = $('#hotelForm').attr('hotelId');
                if (hotelId) {
                    actionUrl = actionDefaultPath + '/B2C/trip/edit/' + $('#hotelForm').attr('hotelId');
                } else {
                    actionUrl = actionDefaultPath + '/B2C/trip/add';
                }
                $('#hotelForm').attr('action', actionUrl);
                $('#hotelForm').submit();
                alert("提交成功")
        });
    });
</script>