#set($layout = "/system/layout/layout-jiuxiu.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "售后详情页面")

<link href="$root_path/resources/zui/css/zui.min.css" rel="stylesheet">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/aftersale/look.css?t=5">


	<div class = "" id = "details">
		<div class = "path">
			<p>您所在的位置是：售后管理>详情页面</p>
		</div>
		<div class = "title">
			<p class = "tit-p">
				#if($!orderShowState==2)
				        用户已撤销售后申请
				#elseif($!orderShowState==9 && $!bizType==1)#* 退款状态8的话*#
				        退款完成
				#elseif($!orderShowState==9 && $!bizType==2)#* 退款状态8的话*#
				        退款退货完成
				#end
			</p>
		</div>
		#parse("/system/afterSale/common/aftersale_info.vm")
		#parse("/system/afterSale/common/aftersale_item.vm")
		#parse("/system/afterSale/common/aftersale_receiving.vm")
		
	

	
	#parse("/system/layout/layout-jiuxiu-js.vm")
	<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/js/zui.min.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
	<script src="$rs_js_css_path_jiuxiu/js/aftersale/details.js?t=1"></script>