<script src="$!rs_path_jiuxiu/src/js/jquery.js"></script>

<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css"
      rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js"
        type="text/javascript"></script>



#parse("/system/layout/empty.vm")

<!-- 位置 -->
<div class="position">
    <div>您所在的位置： 售后管理>详情页面</div>
</div>

<div class="tab-content grogInfoWrap" style="">
    <br>
    #if($!orderShowState==2)
        用户已撤销售后申请
    #elseif($!orderShowState==9 && $!bizType==1)#* 退款状态8的话*#
        退款完成
    #elseif($!orderShowState==9 && $!bizType==2)#* 退款状态8的话*#
        退款退货完成
    #end

    <br><br>

    <div class="tab-pane active" id="orderInfo">
        <br><br>
               #parse("/system/afterSale/common/chakan_tkth_info.vm")
        <br><br>
            #parse("/system/afterSale/common/item.vm")
        <br><br>
            #parse("/system/afterSale/common/receiving.vm")
    </div>
</div>
