<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>


<div class="tab-content grogInfoWrap" >
<form id="saveActivityProduct">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
		
            <table class="table">
                <tbody>
                <tr>
                    <td>分类</td>
                    <td><input type="text" class="inpCtlBlock" name="name" id="name" placeholder="请输入20个字以内"></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>活动商品名称</td>
                    <td>
                       <input type="text" class="inpCtlBlock" name="" id="" placeholder="请输入20个字以内">
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>排序</td>
                    <td>
						<input type="text" class="inpCtlBlock" name="" id="" placeholder="请输入20个字以内">
					</td>
                </tr>
                </tbody> 
            </table>
			<h4>提示：多规格或多规格</h4>		
		
	
		<div class="col-md-10">
                <label class="radio-inline"> <input type="checkbox" name="optionsRadios" value="option2"> 亲子 </label>
                <label class="radio-inline"> <input type="checkbox" name="optionsRadios" value="option2"> 成人 </label>
    			<label class="radio-inline"> <input type="checkbox" name="optionsRadios" value="option2"> 儿童 </label>
    			<label class="radio-inline"> <input type="checkbox" name="optionsRadios" value="option2"> 家庭 </label>
          </div>
			<table class="table" id="spec">
				<thead >
					<tr>
							<td>规格值</td>
							<td>库存</td>
							<td>单价</td>
							<td>会员优惠额度</td>
							<td>优惠限购</td>
							<td>操作</td>
					<tr>
                </thead>
				<tbody>
					
						
				</tbody>
			</table>
			
		
        </div>
    </div>
    <button  type="submit" class="btn btn-primary">保存</button>
	</form>
</div>





<script>
   $(function(){
  
   		 //删除规格
        $(document).delegate(".del", "click", function(){
            $(this).parent().parent().remove();
        });
		
	$("input[type='checkbox']").change(function() {
        $("#spec tbody").append('<tr>'+
							'<td>亲子</td>'+
							'<td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>'+
							'<td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>'+
							'<td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>'+
							'<td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>'+
							'<td><button type="button" class="btn btn-link del">删除</button></td>'+
						'<tr>');
    });
		
   
		/*提交**/
		$("#saveActivityProduct").validate(
			{
				rules:{
					'name' : {
						required : true
					}
					
				},
				errorPlacement : function(error, element) { // 指定错误信息位置

					if (element.is(':radio') || element.is(':checkbox')
							|| element.is(':input')) { // 如果是radio或checkbox
						var eid = element.attr('name'); // 获取元素的name属性
						error.appendTo(element.parent()); // 将错误信息添加当前元素的父结点后面
					} else {
						error.insertAfter(element);
					}
				},
				submitHandler : function(form) {

					var options = {
						url : "edit",
						type : "post",
						dataType : "json",
						success : function(data) {
							
							if (data.success) {
								$.success('操作成功',function(){
									layer.alert("123")
								});
							} else {
								layer.alert(data.msg, {
									icon : 5
								});

							}
						},
						error : function(XMLHttpRequest, textStatus,
								errorThrown) {
							layer.alert('服务忙，请稍后再试', {
								icon : 5
							});
						}
					};
					
					$(form).ajaxSubmit(options);
				},
				invalidHandler : function(form, validator) { // 不通过回调
					return false;
				}
			});
		
		
});




</script>