<link rel="stylesheet" href="/resources/css/common.css"/>
<div class="tableGroup whole">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>订单编号</th>
            <th>商品名称</th>
            <th>单价</th>
            <th>数量</th>
        </tr>
        </thead>
        <tbody>
            #foreach($commodity in $order.commodityList)
            <tr>
                <td>$!velocityCount</td>
                <td>$!order.orderNO</td>
                <td>$!commodity.name</td>
                <td>$!commodity.price</td>
                <td>$!commodity.number</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<div class="tableGroup whole">
    <div>
        说明
        1 作为查看页面时文本框不可编辑
        2 点击退款弹出确认退款提示
        3 如果退款订单产生的积分已经使用，使用的部分需要折算成人民币在退款中扣除
        4 需返还积分=该笔交易赠送的总积分 -（消费金额-退款金额）*消费积分兑换规则
        5 可返还积分=该笔交易赠送的积分余量
    </div>
    <div>
        <div>
            <label>退款金额</label>
            <label>$!refund.refundNO</label>
        </div>
        <div>
            <label>需返还积分</label>
            <label>$!refund.shouldRefundPoint</label>
        </div>
        <div>
            <label>可返还积分</label>
            <label>$!refund.availablePoint</label>
        </div>
        <div>
            <label>超出积分扣现</label>
            <label>$!refund.deductMoneyOffsetPoint</label>
        </div>
        <div>
            <label>实际退款金额</label>
            <label>$!refund.factRefundMoney</label>
        </div>
        <div>
            <label>退款时间</label>
            <label>$utilDate.dateToString($!refund.refundTime,"yyyy-MM-dd HH:mm:ss")</label>
        </div>
        <div>
            <label>操作员</label>
            <label>$!refund.operatorName</label>
        </div>
        <div>
            <label>备注</label>
            <label>$!refund.remark</label>
        </div>
    </div>
</div>
