#macro(IS_JOIN_STATUS $type)
    #if($type == '1')
    允许加入
    #elseif($type == '2')
    禁止加入
    #end
#end

#macro(IS_SHOW_STATUS $type)
    #if($type == '1')
    显示
    #elseif($type == '2')
    隐藏
    #end
#end
#*活动上下架状态*#
#macro(ACTIVITY_STATUS $type)
    #if($type == '1')
    上架
    #elseif($type == '2')
    下架
    #elseif($type == '3')
    满员
    #elseif($type == '4')
    活动结束
    #end
#end
#*性别*#
#macro(GENDER $type)
    #if($type == '0')
    未知
    #elseif($type == '1')
    男
    #elseif($type == '2')
    女
    #end
#end
#*俱乐部-动态状态*#
#macro(TREND_STATUS $type)
    #if($type == '1')
    正常
    #elseif($type == '2')
    违规
    #end
#end
#*官方游记状态*#
#macro(TRAVELOFFICIAL_STATUS $type)
    #if($type == '1')
    上架
    #elseif($type == '2')
    下架
    #end
#end

#*订单管理*#
#*订单状态*#
#macro(ORDER_STATUS $type)
    #if($type == '1')
    待付款
    #elseif($type == '2')
    待确认
    #elseif($type == '2')
    待出行
    #elseif($type == '2')
    已完成
    #elseif($type == '2')
    交易关闭
    #elseif($type == '2')
    待处理
    #elseif($type == '2')
    已退款
    #end
#end
#*订单-游客-游客类型*#
#macro(RDER_TOURIST_TYPE $type)
    #if($type == '1')
    成人
    #elseif($type == '2')
    儿童
    #end
#end
#*订单-游客-证件类型*#
#macro(ORDER_TOURIST_DOC_TYPE $type)
    #if($type == '1')
    身份证
    #end
#end

#macro(IS_RECOMMEND_SELECTED $isRecommend)
<option value="">全部</option> 
<option value="true" #if($isRecommend=="true")selected#end>已推荐</option> 
<option value="false" #if($isRecommend=="false")selected#end>未推荐</option> 
#end
##doctorcenter 外部医生列表
#macro(DOCTOR_LIST_STATUS $status)
    <option value="-1">全部</option>
    <option value="20" #if($status==20) selected="selected" #end>审核已通过</option>
    <option value="40" #if($status==40) selected="selected" #end>账户锁定</option>
#end
##外部医生审核列表
#macro(DOCTOR_AUDITS_STATUS $status)
<option value="-1">全部</option>
<option value="15" #if($status==15) selected="selected" #end>等待审核</option>
<option value="30" #if($status==30) selected="selected" #end>审核未通过</option>
#end
