#set($layout = "/system/layout/empty.vm")
#set($title = "商家详情")
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/mandandetail.css?t="${date}>
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css?t="${date}>
<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
	<div class="loading">
		<div class="bgmeng"></div>
		<div class="dlgcont"><img src="$rs_path_jiuxiu/img/loading.gif"><label>请稍后。。。</label></div>
	</div>
	<div class="msg">
		<div class="bgmeng"></div>
		<div class="dlgcont"><label></label></div>
	</div>

	<div id = "details" class = "details">
		<div class = "info">
			<p><em>昵称:</em><strong>$!nickName</strong></p>
			<p><em>店铺负责人电话:</em><strong>$!result.merchantPrincipalTel</strong></p>
			<p><em>客服电话:</em><strong>$!result.serviceTel</strong></p>
			<p><em>店铺地址:</em><strong>$!result.address</strong></p>
		</div>
		<div class = "clearfix showImg">
			<ul class = "clearfix first">
				<li class = "first">店铺头图：</li>
				<li><img src = "$!tfs$!result.backgroudImage"></li>
			</ul>
		</div>
		<div class = "clearfix showImg">
			<ul class = "clearfix first">
				<li class = "first">店铺店标：</li>
				<li><img src = "$!tfs$!result.logo"></li>
			</ul>
		</div>
		<div class = "btnInfo">
			<button class="btn btn-primary" type="button" id="$!result.id">查看审核信息</button>
		</div>
	</div>
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/respond.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/excanvas.js"></script>
<![endif]-->

<!-- 尾部结束 -->
#parse("/system/layout/layout-jiuxiu-js.vm")
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.mandandetail.js?t="${date}></script>
	
