
#set($layout = "/system/layout/layout-gf.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "新建、编辑单品直降")
#set($styles = ["$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.css", "$!rs_js_css_path_jiuxiu/css/promotion/edit.css"])
#set($jss = ["$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.js","$!rs_js_css_path_jiuxiu/js/promotion/edit.js"])

	
	<div class="edit-container">
		#parse("/system/promotion/comm/direct-reduce-edit.vm")
		<div>
		    #parse("/system/promotion/commList.vm")
		    #selectItem()
		</div>
	</div>


