#set($layout = "/system/layout/empty.vm")
#set($title = "类目分配-运营后台")
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css?t="${date}">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/businesscheck.css?t="${date}"/>
<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>

<![endif]-->
<input type="hidden" id="id" value="$!examineId"/>
<div class="setproductbox">
    <div class="set-header">为商家配置商品类目：</div>
    <div class="set-body">
        <table class="table set-table">
            <tbody>
                #foreach($key in $scopeCategories.keySet())
                <tr>
                    <td>
                        $key
                    </td>
                    <td class="tdcheckall">
                        <label><input type="checkbox" name="" class="input-all"/>全选</label>
                    </td>
                    <td class="tdlab tdcheck">
                    #foreach($item in $!scopeCategories.get($key))
                        <label><input type="checkbox" name="categoryId" value="$item.id" />$item.name</label>
                    #end
                    </td>
                    <td class="tips">至少选择一项</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <div class="btn-box">
        <button type="button" class="btn btn-primary btnSub">确定</button>
    </div>
</div>

<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/respond.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/excanvas.js"></script>
<![endif]-->

<!------------------------------------------------js分割线----------------------------------------->
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script>seajs.use('businesscheck');</script>
<!-- 尾部结束 -->
#parse("/system/layout/layout-jiuxiu-js.vm")
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.mandandetail.js?t="${date}></script>