#set($layout = "/system/layout/empty.vm")
#set($title = "入驻申请-运营后台")
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css?t="${date}">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/businesscheck.css?t="${date}"/>
<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<div class="checkmsgcon">
    <input type="hidden" id="id" value="$!examineInfo.id"/>
    <h2>#if($!type == 1)达人 #elseif($!type == 2)商户 #end详情页</h2>
    <table class="table check-table">
        <tbody>
        <tr>
            <td>商家选择的身份：</td>
            <td>
                <div class="borderbox">
                    $!category.name
                </div>
            </td>
        </tr>

        <tr>
            <td>商家选择的经营范围：</td>
            <td>
                <div class="borderbox">
                    #foreach( $item in $scope )
                        ${item.name}
                    #end
                </div>
            </td>
        </tr>

        <tr>
            <td>商家选择的店铺性质：</td>
            <td>
                <div class="borderbox">
                    $!feature
                </div>
            </td>
        </tr>

        <tr>
            <td>店铺负责人信息：</td>
            <td>
                <div class="borderbox">
                    <table class="table table-inner">
                        <tbody>
                        <tr>
                            <td><span class="red">*</span>商户负责人姓名：</td>
                            <td><span class="inputval">$!examineInfo.principleName</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>负责人证件类型：</td>
                            <td><span class="inputval">$!examineInfo.principleCard</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>负责人证件号：</td>
                            <td><span class="inputval">$!examineInfo.principleCardId</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>负责人手机号：</td>
                            <td><span class="inputval">$!examineInfo.principleTel</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>负责人邮箱：</td>
                            <td><span class="inputval">$!examineInfo.principleMail</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-inner">
                        <tbody>
                        <tr>
                            <td><span class="red">*</span>负责人身份证正面：</td>
                            <td>
                                <a href="$!tfs$!examineInfo.principleCardUp" data-group="group100" data-toggle="lightbox" data-caption="负责人身份证正面">
                                    <img src="$!tfs$!examineInfo.principleCardUp" alt="图片加载失败"/>
                                </a>
                            </td>
                            <td><span class="red">*</span>负责人身份证反面：</td>
                            <td>
                                <a href="$!tfs$!examineInfo.principleCardDown" data-group="group100" data-toggle="lightbox" data-caption="负责人身份证反面">
                                    <img src="$!tfs$!examineInfo.principleCardDown" alt="图片加载失败"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>手持身份证照片：</td>
                            <td colspan="3">
                                <a href="$!tfs$!examineInfo.cardInHand" data-group="group100" data-toggle="lightbox" data-caption="手持身份证照片">
                                    <img src="$!tfs$!examineInfo.cardInHand" alt="图片加载失败"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>商户信息：</td>
            <td>
                <div class="borderbox">
                    <table class="table table-inner">
                        <tbody>
                        <tr>
                            <td><span class="red">*</span>商户名称：</td>
                            <td><span class="inputval">$!examineInfo.sellerName</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>法定代表人姓名：</td>
                            <td><span class="inputval">$!examineInfo.legralName</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>法定代表人身份证：</td>
                            <td><span class="inputval">$!examineInfo.lawPersonCard</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>营业执照号码：</td>
                            <td><span class="inputval">$!examineInfo.saleLicenseNumber</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>税务登记号码：</td>
                            <td><span class="inputval">$!examineInfo.taxRegisterNumber</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>营业地址：</td>
                            <td><span class="inputval">$!examineInfo.address</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>经营范围：</td>
                            <td><span class="inputval">$!examineInfo.saleScope</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>财务信息：</td>
            <td>
                <div class="borderbox">
                    <table class="table table-inner">
                        <tbody>
                        <tr>
                            <td><span class="red">*</span>开户银行：</td>
                            <td><span class="inputval">$!examineInfo.financeOpenBankName</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>开户名称：</td>
                            <td><span class="inputval">$!examineInfo.financeOpenName</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>结算账号：</td>
                            <td><span class="inputval">$!examineInfo.accountNum</span></td>
                        </tr>
                        <tr>
                            <td><span class="red">*</span>结算开户行：</td>
                            <td><span class="inputval">$!examineInfo.accountBankProvince $!examineInfo.accountBankCity $!examineInfo.accountBankName</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        #if($!type == 2)
        <tr>
            <td>店铺命名：</td>
            <td>
                <div class="borderbox">
                    $!examineInfo.merchantName
                </div>
            </td>
        </tr>
        #end

        <tr>
            <td>上传的资质：</td>
            <td>
                <div class="borderbox">
                    <table class="table table-inner">
                        <tbody>
                            #foreach($merchantQualification in $qualificationPictures)
                                #if($velocityCount % 2 == 1)
                                    <tr>
                                #end
                                <td><span class="red">*</span>$!merchantQualification.title：</td>
                                <td>
                                    <a href="$!tfs$!merchantQualification.url" data-group="group100" data-toggle="lightbox" data-caption="$!merchantQualification.title">
                                        <img src="$!tfs$!merchantQualification.url" alt="图片加载失败"/>
                                    </a>
                                </td>
                            #end
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <!-----------------这块内容在审核通过后查看详情才有start----------------------->
        #if($itemCategory)
        <tr>
            <td>商家商品类目：</td>
            <td>
                <div class="borderbox">
                    <table class="table table-inner">
                        <tbody>
                            #foreach($key in $itemCategory.keySet())
                                <tr>
                                    <td>
                                        $key
                                    </td>
                                    <td class="tdlab">
                                        $!itemCategory.get($key)
                                    </td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        #end
        <!-----------------这块内容在审核通过后查看详情才有end----------------------->
        </tbody>
    </table>

    <div class="btn-box">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">审核</button>
    </div>
</div>

<!------------------------------------------------阴影层----------------------------------------->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">是否通过此商户的申请？</h4>
            </div>

            <div class="modal-body">
                <div class="clearfix">
                    <span class="fl">驳回时请填写原因</span>
                    <span class="fr red">150字以内</span>
                </div>
                <textarea class="form-control msg-reason" rows="3"></textarea>
            </div>
            <div class="modal-footer"><form action="">
                <button type="button" class="btn btn-primary btn-yes">确认通过</button>
                <button type="button" class="btn btn-primary btn-no">驳回重填</button></form>
            </div>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/respond.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="$rs_js_css_path_jiuxiu/js/ieonly/excanvas.js"></script>
<![endif]-->

<!------------------------------------------------js分割线----------------------------------------->
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script>seajs.use('businesscheck');</script>
<!-- 尾部结束 -->
#parse("/system/layout/layout-jiuxiu-js.vm")
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.mandandetail.js?t="${date}></script>