#set($layout = "layout-jiuxiu.vm")

<head>
	<title>入驻申请-运营后台</title>
</head>

<div class="searchbox">
	<form id="fm">
		<table>
			<tr>
				<td class="tit">商户名称：</td>
				<td><input name="" maxlength="30" /></td>
				<td class="tit">商户编号：</td>
				<td><input name="" maxlength="30" /></td>
				<td class="tit">商户类型：</td>
				<td><select>
					<option value="0">全部</option>
					<option value="1">审核通过</option>
					<option value="2">审核不通过</option>
				</select></td>
			</tr>
			<tr>
				<td class="tit">负责人：</td>
				<td><input name="" maxlength="30" /></td>
				<td class="tit">手机号码：</td>
				<td><input name="" maxlength="30" /></td>
				<td colspan="2" class="tit"><button class="searchbtn">搜索</button></td>
			</tr>
		</table>
	</form>
</div>
<div class="gridbox">
	<table class="tbgrid">
		<thead>
			<th>Name</th>
			<th>City</th>
			<th>Phone</th>
			<th>Name</th>
			<th>City</th>
			<th>Phone</th>
			<th>Name</th>
			<th>City</th>
			<th>Phone</th>
		</thead>
		<tbody>
			<tr>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
			</tr>
			<tr>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
			</tr>
			<tr>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
			</tr>
			<tr>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
				<td>Albert Ellis</td>
				<td>New York</td>
				<td>+1 718 000000</td>
			</tr>
		</tbody>
	</table>
	<ul id="pagination-digg">
	<li class="previous-off">&laquo;上一页</li>
	  <li class="active">1</li>
	  <li><a href="?page=2">2</a></li>
	  <li><a href="?page=3">3</a></li>
	  <li><a href="?page=4">4</a></li>
	  <li><a href="?page=5">5</a></li>
	  <li><a href="?page=6">6</a></li>
	  <li><a href="?page=7">7</a></li>
	  <li><a href="?page=7">...</a></li>
	  <li class="next"><a href="?page=8">下一页 &raquo;</a></li>
	</ul>
</div>
<!-- 尾部结束 -->
	#parse("layout-jiuxiu-js.vm")
</script>
