#set($layout = "/system/layout/layout-jiuxiu.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
<head>
	<title>入驻申请-运营后台$!{rs_path_jiuxiu}</title>
</head>
<div class="dialog">
	<div class="bgmeng"></div>
	<div class="dlgcont">
		<input type="hidden" id="recordId">
		<table>
			<tr>
				<td class="tit">是否通过：</td>
				<td>
					<label><input type="radio" name="pass" value="true" checked="checked">：是</label>
					<label><input type="radio" name="pass" value="false">：否</label>
				</td>
			</tr>
			<tr>
				<td class="tit">备注：</td>
				<td><textarea id="reason" name="reason"></textarea></td>
			</tr>
		</table>
		<div class="boxbtn">
			<button class="ok">确定</button>
			<button class="cancel">取消</button>
		</div>
	</div>
</div>
<div class="searchbox" style="width:980px;">
	<form id="fm">
		<table>
			<tr>
				<td class="tit">商户名称：</td>
				<td><input name="merchantName" maxlength="30" /></td>
				<td class="tit">商户编号：</td>
				<td><input name="sellerId" maxlength="30" /></td>
				<td class="tit">商户类型：</td>
				<td><select name="type">
					<option value="0">全部</option>
					#foreach( $type in $types )
						<option value="${type.type}">${type.name}</option>
					#end
				</select></td><td colspan="2"></td>
			</tr>
			<tr>
				<td class="tit">店铺负责人：</td>
				<td><input name="principleName" maxlength="30" /></td>
				<td class="tit">负责人手机号：</td>
				<td><input name="principleTel" maxlength="30" /></td>
				<!--
				<td class="tit">状态：</td>
				<td><select name="status">
					<option value="0">全部</option>
					#foreach( $status in $statuses )
						<option value="${status.status}">${status.name}</option>
					#end
				</select></td>
				-->
				<td align='center' ><button class="searchbtn">搜索</button><button type="reset">重置</button></td>
			</tr>
		</table>
	</form>
</div>
<div class="gridbox">
	<table class="tbgrid">
		<thead>
			<th>商户类型</th>
			<th>商户名称</th>
			<th>商户编号</th>
			<th>商户负责人</th>
			<th>负责人电话</th>
			<th>注册手机</th>
			<th>创建日期</th>
			<th>状态</th>
			<th>操作</th>
		</thead>
		<tbody>
			<tr>
				<td class='empty' align="center" colspan="9"><img src="$!{rs_path_jiuxiu}/img/loading.gif"></td>
			</tr>
		</tbody>
	</table>
	<div class='pagebox'>
		<div class="actionpage"><button class='prev'>上一页</button><label>当前第 </label><label class='curpage'>1</label><label> 页</label><button class='next'>下一页</button></div>
		<div class="pageinfo"><label>共：</label><label class='total'>20</label><label>页</label></div>
	</div>
	

</div>
<!-- 尾部结束 -->
	#parse("/system/layout/layout-jiuxiu-js.vm")
	
	<script src="$rs_js_css_path_jiuxiu/js/apply/apply.js?t=3"></script>
	
</script>
