<h1>交易列表</h1>
<div>
    <article>
        <div class="container">
            <form class="form-signin" id="tradeListForm" action="/tradeManage/list" method="GET" role="form">
                <div class="form-group">
                    <div>
                        <label for="tradNO">交易号</label>
                        <input type="text" class="form-control" placeholder="交易号" name="tradNO" value="$!tradeListQuery.tradNO">
                    </div>
                    <div>
                        <label for="phone">手机号</label>
                        <input type="text" class="form-control" placeholder="手机号" name="phone" value="$!tradeListQuery.phone">
                    </div>
                    <div>
                        <label for="userName">会员名</label>
                        <input type="text" class="form-control" placeholder="会员名" name="userName" value="$!tradeListQuery.userName">
                    </div>
                    <div>
                        <label for="terminalName">终端编号</label>
                        <input type="text" class="form-control" placeholder="终端编号" name="terminalName" value="$!tradeListQuery.terminalName">
                    </div>
                    <div>
                        <label for="beginDate">交易时间</label>
                        <div class="col-md-4"><input type="text" class='form-control form-date' placeholder='开始日期：yyyy-MM-dd' readonly name="beginDate" value="$!tradeListQuery.beginDate"></div>
                        <div class="col-md-4"><input type="text" class='form-control form-date' placeholder='结束日期：yyyy-MM-dd' readonly name="endDate" value="$!tradeListQuery.endDate"></div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">查询</button>
                </div>
            </form>
        </div>
    </article>
    <article>
        <div class="tradeList">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>交易编号</th>
                    <th>会员姓名</th>
                    <th>手机号</th>
                    <th>应付金额</th>
                    <th>实付金额</th>
                    <th>优惠金额</th>
                    <th>使用积分</th>
                    <th>赠送积分</th>
                    <th>剩余积分</th>
                    <th>交易状态</th>
                    <th>交易时间</th>
                    <th>终端</th>
                    <th>收银员</th>
                    <th>备注</th>
                    <th>查看</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($trade in $tradeList)
                    <tr>
                        <td>$!velocityCount</td>
                        <td>$!trade.tradNO</td>
                        <td>$!trade.userName</td>
                        <td>$!trade.phone</td>
                        <td>$!trade.shouldMoney</td>
                        <td>$!trade.tradeMoney</td>
                        <td>$!trade.reduceMoney</td>
                        <td>$!trade.usePoint</td>
                        <td>$!trade.sendPoint</td>
                        <td>$!trade.point</td>
                        <td>$!trade.tradeStatus</td>
                        <td>$!trade.tradeTime</td>
                        <td>$!trade.terminalName</td>
                        <td>$!trade.cashierName</td>
                        <td>$!trade.remark</td>
                        <td><a href="javascript:getOrder('$!trade.id');">订单详情</a></td>
                        <td><a href="javascript:toRefund('$!trade.id');">发起退款</a></td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </article>
##    #parse("/layout/macro.vm")
</div>
<script>
    $(function(){
    });

    function getOrder(id)
    {
        window.open("/orderManage/"+id, "_blank");
    }
    function toRefund(id)
    {
        window.open("/refundManage/add/"+id, "_blank");
    }
</script>