#set($layout = "/system/layout/layout-new.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "创建短信推送")
#set($styles = [
    "$!rs_js_css_path_jiuxiu/css/zui.min.css",
	"$!rs_js_css_path_jiuxiu/css/style.css",
	"$!rs_js_css_path_jiuxiu/css/validform.css",
	"$!rs_js_css_path_jiuxiu/js/plugin/layer-v2.3/skin/layer.css",
	"$!rs_js_css_path_jiuxiu/css/datetimepicker.min.css",
	"$!rs_js_css_path_jiuxiu/css/push-sms-edit.css"
])

<form class="" id="frmEdit">
    <table class="table form-table">
        <tr>
            <th>
                #if($!isEdit == "add")
                    <input type="hidden" name="id" value="0" >
                #else
                    <input type="hidden" name="id" value="$!entity.id" >
                #end
                <input type="hidden" name="pushType" value="1">
                <span class="text-red">*</span>推送领域：</th>
            <td>
                <select class="form-control input-text" name="domain" id="area">
                    <option value="1000" #if($!entity.domain == 1000) selected = 'selected' #end >B2C</option>
                    <option value="1100" #if($!entity.domain == 1100) selected = 'selected' #end >GF</option>
                    <option value="1200" #if($!entity.domain == 1200) selected = 'selected' #end >九休</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送主题：</th>
            <td>
                <input type="text" class="form-control input-text"
                       name="subject" id="subject" value="$!entity.subject" placeholder="请输入推送主题">
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送内容：</th>
            <td>
                <textarea class="form-control input-text" name="pushContent" id="content" rows="4" cols="20" placeholder="请输入推送内容">$!entity.pushContent</textarea>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送对象：</th>
            <td>
                <select class="form-control input-text mb10" name="pushModelType" id="pushModelType">
                    <option value="1" #if($!entity.pushModelType == 1) selected = 'selected' #end >全部</option>
                    <option value="2" #if($!entity.pushModelType == 2) selected = 'selected' #end >特定</option>
                </select>
                 #if(($!isEdit == "edit" || $!isEdit == "detail") && $stringUtil.isNotNullOrNotEmpty($!entity.pushModelFilePath))
                     <div class="input-group a upload">
						<input type="text" class="form-control" name="fileName" id="fileName" style="width:400px;background:#fff;" readonly value="$!entity.fileName">
						<div class="input-group-btn">
                            #if($!isEdit == "edit")
							<button class="btn btn-default delete" type="button">
                                <i class="icon icon-trash"></i>删除
                            </button>
                            #end
							<a href="$utilWebconfig.getTfsRootPath()$!entity.pushModelFilePath" class="btn btn-default download" download="$!entity.fileName" type="button"><i class="icon icon-download-alt"></i>下载</a>
                            #if($!isEdit == "edit")
                                <div class="btn btn-primary select" type="button">
                                    <i class="icon icon-folder-open"></i>选择文件
                                    <input type="file" name="file" id="file">
                                </div>
                            #end
						</div>

						<input type="hidden" name="pushModelFilePath" id="pushModelFilePath" value="$!entity.pushModelFilePath">
					</div>
                #else
                    <div class="input-group b upload">
						<input type="text" class="form-control" name="fileName" id="fileName" style="width:400px;background:#fff;" readonly value="">
						<div class="input-group-btn">
							<button class="btn btn-default delete hide" type="button">
                                <i class="icon icon-trash"></i>删除
                            </button>
							<div class="btn btn-primary select" type="button">
                                <i class="icon icon-folder-open"></i>选择文件
								<input type="file" name="file" id="file">
							</div>
						</div>
						<input type="hidden" name="pushModelFilePath" id="pushModelFilePath">
					</div>
                #end
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送时间：</th>
            <td>
                <input type="text" class="form-control input-text time" style="width:210px;"
                readonly="readonly" name="pushDateStr" id="time" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!entity.pushDate)">
            </td>
        </tr>
    </table>
    <div class="mb10" style="text-align:center;">
        #if($!isEdit != "detail")
        <button type="button" class="btn btn-primary" style="width:100px;margin-right:10px;" id="btnSave">确定</button>
        <button type="button" class="btn btn-default" style="width:100px" id="btnCancel">取消</button>
        #end
    </div>
</form>

<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-css.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script>seajs.use('module/md.push-sms-edit.js');</script>