#set($layout = "/system/layout/layout-new.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "创建短信推送")
#set($styles = [
    "$!rs_js_css_path_jiuxiu/css/zui.min.css",
	"$!rs_js_css_path_jiuxiu/css/style.css",
	"$!rs_js_css_path_jiuxiu/css/validform.css",
	"$!rs_js_css_path_jiuxiu/js/plugin/layer-v2.3/skin/layer.css",
	"$!rs_js_css_path_jiuxiu/css/datetimepicker.min.css",
	"$!rs_js_css_path_jiuxiu/css/push-sms-edit.css"
])

<form class="" id="frmEdit">
    <table class="table form-table">
        <tr>
            <th>
                #if($!isEdit == "add")
                    <input type="hidden" name="id" value="0" >
                #else
                    <input type="hidden" name="id" value="$!entity.id" >
                #end
                <input type="hidden" name="pushType" value="1">
                <span class="text-red">*</span>推送领域：</th>
            <td>
                <select class="form-control input-text" name="domain" id="area">
                    <option value="1000" #if($!entity.domain == 1000) selected = 'selected' #end >天香</option>
                    <option value="1100" #if($!entity.domain == 1100) selected = 'selected' #end >婕洛芙</option>
                    <option value="1200" #if($!entity.domain == 1200) selected = 'selected' #end >九休</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送主题：</th>
            <td>
                <input type="text" class="form-control input-text"
                       name="subject" id="subject" value="$!entity.subject" placeholder="请输入推送主题">
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送内容：</th>
            <td>
                <textarea class="form-control input-text" name="pushContent" id="content" rows="4" cols="20" placeholder="请输入推送内容">$!entity.pushContent</textarea>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送对象：</th>
            <td>
                <select class="form-control input-text mb10" name="pushModelType" id="userType">
                    <option value="0" #if($!entity.pushModelType == 0) selected = 'selected' #end >全部</option>
                    <option value="1" #if($!entity.pushModelType == 1) selected = 'selected' #end >特定</option>
                </select>
                 #if(($!isEdit == "edit" || $!isEdit == "detail") && $stringUtil.isNotNullOrNotEmpty($!entity.pushModelFilePath))
                    <div class="upload-box">
                        <div class="imgbox file-box imgbox-action" data-imgUrl="csv.png" data-fileType=".csv">
                            <div class="canclick canclickL">
                                <img src="$utilWebconfig.getResourcePathJiuXiu()/img/csv.png">
                            </div>
                            <div class="plhd"></div>
                            <div class="del">删除文件</div>
                            <a class="upldclik">
                                <input type="file" name="adpicfile" class="adpicfile single">
                            </a>
                            <input type="hidden" name="pushModelFilePath" id="uploadFile" value="$!entity.pushModelFilePath">
                        </div>
                        <a href="$utilWebconfig.getTfsRootPath()$!entity.pushModelFilePath"
                           class="btn btn-primary download" download style="display:block">下载</a>
                        <div class="tips">请填写特定的推送对象,选择CSV格式文件上传</div>
                    </div>
                #else
                    <div class="upload-box">
                        <div class="imgbox file-box" data-imgUrl="csv.png" data-fileType=".csv">
                            <div class="canclick canclickL">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                            </div>
                            <div class="plhd"></div>
                            <div class="del">删除文件</div>
                            <a class="upldclik">
                                <input type="file" name="adpicfile" class="adpicfile single">
                            </a>
                            <input type="hidden" name="pushModelFilePath" id="uploadFile" value="$!entity.pushModelFilePath">
                        </div>
                        <a href="" class="btn btn-primary download">下载</a>
                        <div class="tips">请填写特定的推送对象,选择CSV格式文件上传</div>
                    </div>
                #end
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送时间：</th>
            <td>
                <input type="text" class="form-control input-text time"
                readonly="readonly" name="pushDate" id="time" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!entity.pushDate)">
            </td>
        </tr>
    </table>
    <div class="mb10" style="text-align:center;">
        #if($!isEdit != "detail")
            <button type="button" class="btn btn-primary" style="width:100px" id="btnSave">保存</button>
        #end

    </div>
</form>

<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-css.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script>seajs.use('module/md.push-sms-edit.js');</script>