<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<div class="createClubTable whole">
    <table class="table">
        <tbody>
        <tr>
            <td><span class="spColor">*</span>俱乐部名称</td>
            <td><input type="text" class="form-control" placeholder="请输入20个字以内"></td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>俱乐部LOGO</td>
            <td>
                <div class="fileImg">
                    <button type="button" class="btn btn-success">选择图片</button>
                    <input type="file" class="fileInp">
                    <p>注：图片大小不超过5M<br />建议尺寸：300*300</p>
                </div>
                <div class="logoView">
                    <img src="images/11.jpg">
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>俱乐部宣传图</td>
            <td>
                <div class="fileImg">
                    <button type="button" class="btn btn-success">选择图片</button>
                    <input type="file" class="fileInp">
                    <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
                </div>
                <div class="propagandaView">
                    <img src="images/11.jpg">
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>成员限额</td>
            <td><input type="text" class="form-control" placeholder="请输入数字"></td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>部长</td>
            <td>
                <div class="userBtn">
                    <button type="button" class="btn btn-info">选择用户</button>
                </div>
                <div class="userView">
                    <img src="images/11.jpg">
                    <span>Tracy</span>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>排序</td>
            <td><input type="text" class="form-control" placeholder="请输入数字，数字越大排序靠后"></td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>状态</td>
            <td class="radioSel">
                <div class="col-md-10">
                    <label class="radio-inline"> <input type="radio" name="optionsRadios" value="option1" checked=""> 允许加入 </label>
                    <label class="radio-inline"> <input type="radio" name="optionsRadios" value="option2"> 禁止加入 </label>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="spColor">*</span>前台显示</td>
            <td class="radioSel">
                <div class="col-md-10">
                    <label class="radio-inline"> <input type="radio" name="optionsRadios" value="option1" checked=""> 显示 </label>
                    <label class="radio-inline"> <input type="radio" name="optionsRadios" value="option2"> 隐藏 </label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clubBotBtn">
        <div class="btn-group">
            <button class="btn btn-success">添加</button>
        </div>
        <div class="btn-group">
            <button class="btn">取消</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //直接绑定到上传标签上不生效
        $(document).delegate("#fileID",'change',function(){
            alert($("#fileID").val());
            $.ajaxFileUpload
            (
                    {
                        url: '/upload/file', //用于文件上传的服务器端请求地址
                        secureuri: false, //是否需要安全协议，一般设置为false
                        fileElementId: 'fileID', //文件上传域的ID
                        dataType: 'json', //返回值类型 一般设置为json
                        success: function (data,status)  //服务器成功响应处理函数
                        {
                            if(data && data.status==200){
                                alert('上传成功');
                            }else{
                                alert('上传失败');
                            }
                        },
                        error: function (data)//服务器响应失败处理函数
                        {
                            alert('服务器异常');
                        }
                    }
            )
        });
    });
</script>