<link rel="stylesheet" href="$!utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<div class="clubDynamicPage whole">
    <form name="editForm" id="editForm" action="" method="post">
        <table class="table">
                <tr>
                    <td><span class="spColor">*</span>code：</td>
                    <td> <input type="text" class="inpCtlBlock code" name="code"  value=""></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>名称：</td>
                    <td> <input type="text" class="inpCtlBlock name" name="name"  value=""></td>
                </tr>
                <tr>
                    <td>描述：</td>
                    <td> <input type="text" class="inpCtlBlock description" name="desc"  value=""></td>
                </tr>
                <tr>
                    <td>缓存类型</td>
                    <td>
                        <select class="form-control" name="isCache">
                            #foreach($cache in $cacheType)
                                <option value="$cache.value">$!cache.desc</option>
                            #end
                        </select>
                    </td>
                </tr>

        </table>
        <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
    </form>
</div>
<script>
     //非空验证
     var validate = function(){
         if(!$('.code').val()){
             return 'code不能为空';
         }else if($('.code').val().length > 100){
            return 'code不能超过200字';
         }
         if(!$('.name').val()){
             return '名称不能为空';
         }else if($('.name').val().length > 100){
             return '名称不能超过20字';
         }
         if($('.description').val() && $('.description').val().length > 200){
             return '描述不能超过200字';
         }
     }
    $(function(){
        $('#btnSubmit').click(function(){
            //非空验证
            var msg = validate();
            if(msg){
                layer.msg(msg, {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            var actionUrl = actionDefaultPath + '/banner/booth/add';
            $('#editForm').attr('action',actionUrl)
            $('#editForm').submit();
        });
    });
</script>