<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/map.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
<style type="text/css">
.demo{width:850px;margin:20px auto;display:none;}
#l-map{height:400px;width:600px;float:left;border:1px solid #bcbcbc;}
#r-result{height:400px;width:230px;float:right;}
</style>

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#mddInfo" data-toggle="tab">目的地基础信息</a>
    </li>
	<li>
        <a href="#bimaituijian" data-toggle="tab">必买推荐</a>
    </li>
    <li>
        <a href="#biqujingdian" data-toggle="tab">必去景点</a>
    </li>
	<li>
        <a href="#jingxuanjiudian" data-toggle="tab">精选酒店</a>
    </li>
	<li>
        <a href="#jingxuanzhibo" data-toggle="tab">精选直播</a>
    </li>
</ul>

<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="mddInfo">
            #parse("/system/trip/add_destination/destination_base_info.vm")
    </div>
    	
    <div class="tab-pane" id="bimaituijian">
            #parse("/system/trip/add_destination/list_buy_recommended.vm")
    </div>
    	
    <div class="tab-pane" id="biqujingdian">
            #parse("/system/trip/add_destination/list_scenic.vm")
    </div>
    	
    <div class="tab-pane" id="jingxuanjiudian">
            #parse("/system/trip/add_destination/list_hotel.vm")
    </div>
    	
    <div class="tab-pane" id="jingxuanzhibo">
            #parse("/system/trip/add_destination/list_live.vm")
    </div>
</div>	
