<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <context:component-scan base-package="com.yimayhd.service, com.yimayhd.task"/>

    <!--加载数据源和事务配置-->
    <import resource="spring-mybatis.xml"/>
    <!--tfs上传文件-->
    <import resource="tfs.xml"/>
    <!--service注入-->
    <import resource="spring-service.xml"/>


    <!-- spring注解定时任务 -->
    <task:annotation-driven/>
    <!---->
    <aop:aspectj-autoproxy expose-proxy="true"/>
</beans>