#set($layout = "/system/layout/layout-new.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "App推送列表")
<form class="" id="frmEdit">
    <input type="hidden" name="id" id="id" value="$!pushVO.id">
    <table class="table form-table">
        <tr>
            <th><span class="text-red">*</span>推送领域：</th>
            <td>
                <select class="form-control input-text" name="sendDomainId" id="domain">
                    #foreach($domainType in $domainTypeList)
                        <option value="$!{domainType.type}" #if($!pushVO.domain==$!domainType.type)
                                selected #end>$!{domainType.desc}</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送主题：</th>
            <td>
                <input type="text" class="form-control input-text" name="subject" id="subject"
                       value="$!{pushVO.subject}" placeholder="请输入推送主题">
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送类型：</th>
            <td>
                <select type="text" class="form-control input-text" name="pushType" id="type">
                    #foreach($pushType in $pushTypeList)
                        <option value="$!{pushType.code}" #if($!pushVO.pushType==$!pushType.code)
                                selected #end>$!{pushType.desc}</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>信息栏标题：</th>
            <td>
                <select class="form-control input-text-small select" data-target=".input-box">
                    <option value="1" #if($stringUtil.isNullOrEmpty($!pushVO.msgTitle)) selected #end>空</option>
                    <option value="2" #if($stringUtil.isNotNullOrNotEmpty($!pushVO.msgTitle)) selected #end>输入</option>
                </select>
                <span class="input-box">
						<input type="text" class="form-control input-text-small" name="msgTitle" id="messageTitle"
                               value="$!{pushVO.msgTitle}" placeholder="请输入信息栏标题">
					</span>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>信息栏内容：</th>
            <td>
                <select class="form-control input-text-small select" data-target=".input-box">
                    <option value="1" #if($stringUtil.isNullOrEmpty($!pushVO.msgContent)) selected #end>空</option>
                    <option value="2" #if($stringUtil.isNotNullOrNotEmpty($!pushVO.msgContent)) selected #end>输入
                    </option>
                </select>
                <span class="input-box">
						<input type="text" class="form-control input-text-small" name="msgContent"
                               id="messageContent" value="$!{pushVO.msgContent}" placeholder="请输入信息栏内容">
					</span>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送内容：</th>
            <td>
                <textarea class="form-control input-text limit" name="pushContent" id="content" rows="4" cols="20"
                          placeholder="请输入推送内容">$!{pushVO.pushContent}</textarea>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>设置跳转：</th>
            <td>
                <div class="jump-setting-box">
                    <div class="jump-setting-item">
                        <span class="txt">选择页面：</span>
                        <select class="form-control input-text-small" id="selectPage" name="operation">
                            <option value="0">请选择</option>
                            #foreach($!operations in $operationDOs)
                                <option radioHtml="$!utilHtml.appendHtml($!operations.listOperationDetail,$!operationDetailId)"
                                        id="$!operations.operactio.id" value="$!operations.operactio.code"
                                        operationid="$!operations.operactio.id" #if($!pushVO.operation == $!operations.operactio.code)
                                        selected='selected' #end>$!operations.operactio.name</option>
                            #end
                        </select>
                    </div>
                    <div id="radioHtml" class="jump-setting-item padding"></div>
                    <div class="jump-setting-item">
                        <a href="javascript:void(0);" class="btn btn-primary" id="btnSelectContent" style="width:100px">选择内容</a>
                    </div>
                    <div class="jump-setting-item">
                        <input type="hidden" name="operationDetailId" id="operationDetailId" value="$!pushVO.operationDetailId">
                        <input type="hidden" name="operationContent" id="chosId" value="$!pushVO.operationContent">
                        <input type="hidden" name="selectOpContent" id="selectOpContent"
                               value="$!pushVO.selectOpContent">
                        <span class="txt">内容展示：</span><span id="showContent">$!{pushVO.selectOpContent}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送对象：</th>
            <td>
                <select class="form-control input-text mb10 select" data-target=".upload-box" name="pushModelType"
                        id="userType">
                    #foreach($targetType in $rcDelaySendTargetType)
                        <option value="$!{targetType.code}" #if($!pushVO.pushType==$!targetType.code)
                                selected #end>$!{targetType.desc}</option>
                    #end
                </select>
                #if($!operation=="edit" && $stringUtil.isNotNullOrNotEmpty($!pushVO.pushModelFilePath))
                    <div class="upload-box">
                        <div class="imgbox file-box imgbox-action" data-imgUrl="csv.png" data-fileType=".csv">
                            <div class="canclick canclickL">
                                <img src="$utilWebconfig.getResourcePathJiuXiu()/img/csv.png">
                            </div>
                            <div class="plhd"></div>
                            <div class="del">删除文件</div>
                            <a class="upldclik">
                                <input type="file" name="adpicfile" class="adpicfile single">
                            </a>
                            <input type="hidden" name="pushModelFilePath" id="uploadFile">
                        </div>
                        <a href="$utilWebconfig.getTfsRootPath()$!pushVO.pushModelFilePath"
                           class="btn btn-primary download" style="display:block">下载</a>
                        <div class="tips">请填写特定的推送对象,选择CSV格式文件上传</div>
                    </div>
                #else
                    <div class="upload-box">
                        <div class="imgbox file-box" data-imgUrl="csv.png" data-fileType=".csv">
                            <div class="canclick canclickL">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                            </div>
                            <div class="plhd"></div>
                            <div class="del">删除文件</div>
                            <a class="upldclik">
                                <input type="file" name="adpicfile" class="adpicfile single">
                            </a>
                            <input type="hidden" name="pushModelFilePath" id="uploadFile">
                        </div>
                        <a href="" class="btn btn-primary download">下载</a>
                        <div class="tips">请填写特定的推送对象,选择CSV格式文件上传</div>
                    </div>
                #end
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送时间：</th>
            <td>
                <input type="text" class="form-control input-text time" readonly="readonly" name="pushDate" id="time"
                       value="$!utilDate.date2String($!pushVO.pushDate)">
            </td>
        </tr>
    </table>
    <div class="mb10" style="text-align:center;">
        <button type="button" class="btn btn-primary" style="width:100px" id="btnSave">保存</button>
    </div>
</form>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-css.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script type="text/javascript">
    seajs.use('module/md.push-message-edit.js');
</script>

