<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
#*<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/ajaxfileupload.js" type="text/javascript"></script>*#
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js" type="text/javascript"></script>

            #*<tr>
                <td><span class="spColor">*</span>状态</td>
                <td class="radioSel">
                    <div class="col-md-10">
                        <label class="radio-inline"> <input type="radio" name="joinStatus" value="1" #if($!club.joinStatus == 1) checked #end> 允许加入 </label>
                        <label class="radio-inline"> <input type="radio" name="joinStatus" value="0" #if($!club.joinStatus == 2) checked #end> 禁止加入 </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>前台显示</td>
                <td class="radioSel">
                    <div class="col-md-10">
                        <label class="radio-inline"> <input type="radio" name="showStatus" value="1" #if($!club.showStatus == 1) checked #end> 显示 </label>
                        <label class="radio-inline"> <input type="radio" name="showStatus" value="0" #if($!club.showStatus == 2) checked #end> 隐藏 </label>
                    </div>
                </td>
            </tr>*#

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#grogshopInfo" data-toggle="tab">酒店信息</a>
    </li>
    <li>
        <a href="#grogshopImgs" data-toggle="tab">图片集</a>
    </li>
</ul>
<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="spColor">*</span>酒店名称</td>
                    <td><input type="text" class="inpCtlBlock" name="name" id="grogshopName" placeholder="请输入20个字以内"></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>选择地址</td>
                    <td>
                        <div class="selectList">
                            <select class="selCity inpControl" name="locationProvinceId" id="provinceSelect">
                                <option>请选择省份</option>
                            </select>
                            <select class="selCity inpControl" name="locationCityId" id="citySelect">
                                <option>请选择城市</option>
                            </select>
                            <input type="text" class="inpControl" name="locationTownName" id="locationTownName" placeholder="请输入100个字以内">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>星级</td>
                    <td>
                        <select class="form-control {required:true}" id="grade" name="grade">
                            <option>请选择</option>
                            <option value="1">5星 豪华型</option>
                            <option value="2">4星 高档型</option>
                            <option value="3">3星 舒适型</option>
                            <option value="4">2星及以下 经济型</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>地址经纬度</td>
                    <td><span>经度</span><input type="text" name="locationX" class="inpControl getAddress"><span>维度</span><input type="text" name="locationY" class="inpControl getAddress"><button class="btn btn-primary locationXYSelectBtn">查找经纬度</button><code>点击查找经纬度可自动获取</code></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>酒店电话</td>
                    <td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>特色描述</td>
                    <td><textarea name="grogDescr" id="grogDescr" rows="3" class="form-control" placeholder="请输入80字以内" disabled></textarea></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>酒店简介</td>
                    <td><textarea name="grogInfo" id="grogInfo" rows="3" class="form-control" placeholder="请输入500字以内" disabled></textarea></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>基础价格</td>
                    <td><input type="text" name="grogBasePrice" id="grogBasePrice" class="inpControl" disabled>起</td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>酒店联系人</td>
                    <td><span>姓名：</span><input type="text" name="grogLinkmanName" id="grogLinkmanName" class="inpControl" disabled>
                        <span>电话：</span><input type="text" name="grogLinkmanPhone" id="grogLinkmanPhone" class="inpControl" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>房间设施</td>
                    <td class="grogCheckSel">
                        <span><input type="checkbox" name="roomFacility[]" value="1" value="1" #if($!hotel.showStatus == 1) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomFacility[]" value="2" value="2" #if($!hotel.showStatus == 2) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomFacility[]" value="3" value="3" #if($!hotel.showStatus == 3) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomFacility[]" value="4" value="4" #if($!hotel.showStatus == 4) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomFacility[]" value="5" value="5" #if($!hotel.showStatus == 5) checked #end>免费wifi</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>特色服务</td>
                    <td  class="grogCheckSel">
                        <span><input type="checkbox" name="roomService" value="1" #if($!hotel.showStatus == 1) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomService" value="2" #if($!hotel.showStatus == 2) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomService" value="3" #if($!hotel.showStatus == 3) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomService" value="4" #if($!hotel.showStatus == 4) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="roomService" value="5" #if($!hotel.showStatus == 5) checked #end>免费wifi</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>酒店设施</td>
                    <td  class="grogCheckSel">
                        <span><input type="checkbox" name="hotelFacility" value="1" #if($!hotel.showStatus == 1) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="hotelFacility" value="2" #if($!hotel.showStatus == 2) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="hotelFacility" value="3" #if($!hotel.showStatus == 3) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="hotelFacility" value="4" #if($!hotel.showStatus == 4) checked #end>免费wifi</span>
                        <span><input type="checkbox" name="hotelFacility" value="5" #if($!hotel.showStatus == 5) checked #end>免费wifi</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>最晚到店时间</td>
                    <td>
                        <input type="text" name="grogArrivalDate" id="grogArrivalDate" class="inpCtlBlock" placeholder="请输入50字以内" disabled>
                        <select class="selCity inpControl" name="enDtime" id="" disabled>
                            <option>请选择</option>
                            <option value="1" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="2" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="3" #if($!hotel.showStatus == 1) checked #end>1</option>
                        </select>
                        <select class="selCity inpControl" name="enDtime" id="" disabled>
                            <option>请选择</option>
                            <option value="1" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="2" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="3" #if($!hotel.showStatus == 1) checked #end>1</option>
                        </select>
                        <select class="selCity inpControl" name="enDtime" id="" disabled>
                            <option>请选择</option>
                            <option value="1" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="2" #if($!hotel.showStatus == 1) checked #end>1</option>
                            <option value="3" #if($!hotel.showStatus == 1) checked #end>1</option>
                        </select>
                        <span>点 前到店</span>
                    </td>
                </tr>
                <tr>
                    <td>大咖推荐</td>
                    <td>
                        <button type="button" class="btn btn-info selectUserBtn">选择旅游咖</button>
                        <img src="#if($hotel.manageUserLogoUrl) $utilWebconfig.getTfsRootPath()$!hotel.manageUserLogoUrl  #end" alt="头像" class="img-circle grogUserLogo"><span>Tracy</span>
                        <textarea name="recommend" id="recommend" rows="3" class="form-control" placeholder="请输入300字以内"></textarea>
                        <input type="hidden" name="userId" value="$!hotel.userId" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="grogshopImgs">
        #parse("/system/hotel/picture.vm")
    </div>
</div>
</form>
<script>
    $(function(){
        $('.selectUserBtn').click(function(){
            layer.open({
                type: 2,
                btn: ['确定', '取消'],
                title: '用户选择',
                fix: false,
                shadeClose: true,
                maxmin: true,
                area: ['1000px', '500px'],
                content: '$!utilWebconfig.getActionDefaultFontPath()/trade/userManage/selectUserList',
                yes: function(index){
                    console.log(frames == window);
                    alert(top.resultValue.length)
                    if(top.resultValue&&top.resultValue.length==0){
                        alert("请选择用户");
                        return false;
                    }else{
                        console.log(top.resultValue);
                    }
                }
            });
        })


        $("#editGrogshopForm").validate({
            //添加酒店验证规则
            rules: {
                grogshopName: {    //酒店名称
                    required: true,
                    maxlength: 20,
                    minlength: 2
                },
                grogshopAddress: {   //选择地址
                    required: true
                },
                grogBasePrice: {   //基础价格
                    required: true,
                    digits: true
                },
                grogshopTele: {   //酒店电话
                    required: true,
                    number: true
                },
                grogDescr: {    //特色描述
                    required: true,
                    maxlength: 80
                },
                grogInfo: {    //酒店简介
                    required: true,
                    maxlength: 500
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: true
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: true
                },
                grogArrivalDate: {    //最晚到店时间
                    required: true,
                    maxlength: 50
                }
            },
            //添加酒店验证错误，提示信息
            messages: {
                grogshopName: {     //酒店名称
                    required: "请填写酒店名称",
                    maxlength: "请输入不多于20字",
                    minlength: "请至少输入2个字"
                },
                grogshopAddress: {    //选择地址
                    required: "请输入您的详细地址"
                },
                grogBasePrice: {     //基础价格
                    required: "请填写基础价格",
                    digits: "请输入正整数"
                },
                grogshopTele: {   //酒店电话
                    required: "请填写酒店电话",
                    number: "请输入数字"
                },
                grogDescr: {    //特色描述
                    required: "请输入特色描述",
                    maxlength: "请输入不多于80字"
                },
                grogInfo: {    //酒店简介
                    required: "请输入酒店简介",
                    maxlength: "请输入不多于500字"
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: "请输入联系人"
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: "请输入联系人电话"
                },
                grogArrivalDate: {    //最晚到店时间
                    required: "请输入最晚到店时间",
                    maxlength: "请输入不多于50字以内"
                }
            }
        });

        $('#btnSubmit').click(function(){
            $(this).prop('disabled',true);
            var actionUrl;
            var hotelId = $('#hotelForm').attr('hotelId');
            if(hotelId){
                actionUrl = '/hotelManage/edit';
            }else{
                actionUrl = '/hotelManage/add';
            }
            alert(actionUrl);
            $('#hotelForm').attr('action',actionUrl);
            $.post(actionUrl,$('#hotelForm').serialize(),function(data){
                if(data.status == 200){
                    var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                    msg.show();
                    setTimeout(function(){
                        window.close();
                    },1050);
                }else{
                    var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                    msg.show();
                    $(this).prop('disabled',false);
                }
            });
        });
    });
</script>