#parse("/system/layout/layout-jiuxiu-meta.vm")
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/zui.min.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/style.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/validform.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/js/plugin/layer-v2.3/skin/layer.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/push-sms-edit.css">
<form class="" id="frmEdit">
    <input type="hidden" id="tfs" value="http://192.168.1.209:7500/v1/tfs/">
    <table class="table form-table">
        <tr>
            <th><span class="text-red">*</span>推送领域：</th>
            <td>
                <select class="form-control input-text" name="area" id="area">
                    <option value="jx">九休</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送主题：</th>
            <td>
                <input type="text" class="form-control input-text" name="subject" id="subject" value="123123" placeholder="请输入推送主题">
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送内容：</th>
            <td>
                <textarea class="form-control input-text" name="content" id="content" rows="4" cols="20" placeholder="请输入推送内容">asdasd</textarea>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送对象：</th>
            <td>
                <select class="form-control input-text mb10" name="userType" id="userType">
                    <option value="0">全部</option>
                    <option value="1">特定</option>
                </select>
                <div class="upload-box">
                    <div class="imgbox file-box" data-imgUrl="csv.png" data-fileType=".csv">
                        <div class="canclick canclickL">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                        </div>
                        <div class="plhd"></div>
                        <div class="del">删除文件</div>
                        <a class="upldclik">
                            <input type="file" name="adpicfile" class="adpicfile single" id="logoUrlUploadFile">
                        </a>
                        <input type="hidden" name="userList" id="uploadFile">
                    </div>
                    <a href="" class="btn btn-primary download">下载</a>
                    <div class="tips">请填写特定的推送对象,选择CSV格式文件上传</div>
                </div>
            </td>
        </tr>
        <tr>
            <th><span class="text-red">*</span>推送时间：</th>
            <td>
                <input type="text" class="form-control input-text time" readonly="readonly" name="time" id="time" value="">
            </td>
        </tr>
    </table>
    <div class="mb10" style="text-align:center;">
        <button type="button" class="btn btn-primary" style="width:100px" id="btnSave">保存</button>
    </div>
</form>

<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>
<script>seajs.use('module/md.push-sms-edit.js');</script>
<script>
   /* $(document).delegate("#logoUrlUploadFile",'change',function(){//上传

        fileUpload('#logoUrlUploadFile',1,LogoPicloadCallBack);
    })

    var LogoPicloadCallBack = function(data){
        if(data && data.status == 200){
            console.log(data.data);
            $('#logoUrlUploadFileReturnInput').val(data.data);
            $('#logoUrlUploadFileReturnImg').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }*/


</script>