<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
    <form class="form-signin" id="listForm" name="listForm" action="$!utilWebconfig.getActionDefaultFontPath()/banner/booth/list" method="GET" role="form">
        <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">广告位code</button>
                    </span>
            <input type="text" class="form-control" name="boothCode" value="$!query.boothCode">
        </div>
        <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">广告位名称</button>
                    </span>
            <input type="text" class="form-control" name="boothName" value="$!query.boothName">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
        <button type="button" class="btn btn-primary addBtn" id="addBtn">添加广告位</button>
        <div class="tableGroup whole">
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>推送主题</th>
                    <th>创建时间</th>
                    <th>发送时间</th>
                    <th>发送内容</th>
                    <th>对象</th>
                    <th>人数（到达）</th>
                    <th>人数（查看）</th>
                    <th>操作人ID</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                    #set($list = $pageVo.itemList)
                    #foreach($entity in $list)
                    <tr class="subCheckedTR">
                        <td>$entity.id</td>
                        <td>$!entity.subject</td>
                        <td>$!entity.createDate</td>
                        <td>$!entity.pushDate</td>
                        <td>$!entity.pushContent</td>
                        <td>$!entity.pushModelType</td>
                        <td>$!entity.sendPeople</td>
                        <td>$!entity.seePeople</td>
                        <td>$!entity.operationUserId</td>
                        <td>$!entity.status</td>
                        <td>
                            <button type="button" class="btn btn-primary entityDetail"
                                    appVersion="$!entity.appVersion "  entityCode="$!entity.code" entityId="$entity.id">详情</button>
                        </td>
                    </tr>
                    #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("listForm")
    </form>
<script>
    $(function(){
        //详情
        $('.entityDetail').each(function(){
            $(this).click(function(){
                var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/banner/showcase/list/'
                        + $(this).attr('entityCode')
                        +"?boothId="+$(this).attr('entityId')
                        +"&appVersionCode="+$(this).attr('appVersion')
                        +"&pageNumber=1";
                top.tabsAdd("",url,2,$(this).text());
            });

        });

        //新建
        $('.addBtn').click(function(){
            var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/banner/booth/add';
            top.tabsAdd("添加广告位",url,2,$(this).text())
        });
    });
</script>