<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js?t=1" type="text/javascript"></script>


<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
            <table >
				<tr>
                    <td width="6%"><span class="spColor">*</span>游记</td>
                    <td width="94%">
                    	<button type="button" class="btn btn-default" id="gaikuang" onclick="addItemCall()">增加条目</button>
        	            <table class="table bigTables travel-item-table">
                            <input type="hidden" id="imgContentJsonId"  name="imgContentJson" value="$!travelOfficial.imgContentJson">
                            <tr>
                                <th width="40%">内容（500个字以内）</th>
                                <th width="40%">图片（最多6张）</th>
                                <th width="20%">拍摄于（30字以内）</th>
                                <th></th>
                            </tr>
                            #if($travelOfficial.listTravelJsonDO)
                                #foreach($travelOfficial in $!travelOfficial.listTravelJsonDO)

                                    <tr class="item-tr" data="$!{velocityCount}" >
                                        <td>
                                        	<textarea name="detail" class="form-control trave-desc" placeholder="" >$!travelOfficial.travelDes</textarea>
                                        </td>
                                        <td>
                                            <div class="fileImgWrap img-upload-container">
                                                <button type="button" class="btn btn-success">选择图片</button>
                                                <input type="file"  name="file" class="file-selector" multiple="multiple" id="FMUploadFile_$!{velocityCount}" accept="image/png,image/jpg,image/jpeg,image/gif">
                                               <span>注：图片大小不超过5M；建议尺寸：687*237</span>
                                            </div>
                                            <input type="hidden" name="travelBGImg" class="img-values" value="$!travelOfficial.travelImg">
                                        	<div class="form-control img-view-container" >
	                                            #foreach($imgUrl in $!travelOfficial.travelImg)
	                                                #if( $!imgUrl )
	                                                    <img width='50' height='50'  class='view-img' src="$utilWebconfig.getTfsRootPath()$!imgUrl"  data='$!imgUrl'/>
	                                                #end
	                                            #end
	                                        </div>
                                        </td>
                                        <td>
                                            <textarea class="form-control trave-extra-info" name="travelDes" >$!travelOfficial.detail</textarea>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="deleteItemTr(this)">删除</button>
                                        </td>
                                    </tr>
                                #end
                            #else
                                <tr class="item-tr" data="1" >
                                    <td>
                                        <textarea name="detail" class="form-control trave-desc" placeholder=""></textarea>
                                    </td>
                                    <td>
                                        <div class="fileImgWrap img-upload-container">
                                            <button type="button" class="btn btn-success">选择图片</button>
                                            <input type="file"  name="file" class="file-selector" multiple="multiple" id="FMUploadFile_1" accept="image/png,image/jpg,image/jpeg,image/gif">
                                            <span>注：图片大小不超过5M；建议尺寸：687*237</span>
                                        </div>
                                        <input type="hidden" name="travelBGImg" value=""  class="img-values">
                                        <!--图片预览容器-->
                                   		<div class="form-control img-view-container"></div>
                                    </td>
                                    <td>
                                        <textarea class="form-control trave-extra-info" name="travelDes" id="detailId_1" rows="3"></textarea>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" onclick="deleteItemTr(this)">删除</button>
                                    </td>
                                </tr>
                            #end
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="item_index" value="">
    <div class="modal fade" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <h4 class="modal-title">确认删除图片么？</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary remove-ok">删除</button>
            </div>
          </div>
	  </div>
	</div>
    
    
    <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
</div>
#*
* <form name="addHotel" id="hotelForm" action="" method="post" travId="$!travelOfficial.id"></form>
* *#

<script>
	$(document).delegate(".file-selector",'change',function(){
		 var id = $(this).attr("id");
		 var tr =  $(this).parents("tr.item-tr");
		 var imgs = $(tr).find("img.view-img");
		 if( imgs != null ){
		 	var length = imgs.length;
		 	if( length >= 6 ){
		 		alert("已经上传6张图片了");
		 		return false;
		 	} 
		 } 
		 var data = $(tr).attr("data");
		 $("#item_index").val(data);
	     fileUpload("#"+id,1,pictureUploadCallBack);
	 })
		
 	var pictureUploadCallBack = function(data,id){
	 	if( !data || data.status != 200 ){
	 	  layer.msg('图片上传失败，请重试', {icon: 2});
	 	  return ;
	 	}
		var index = $("#item_index").val();
		index = parseInt(index);
		var trs  = $("table.travel-item-table tr");
		if( !trs ){
			return ;
		}
		var tr = null;
		for( var i =0; i<trs.length; i++ ){
			var trIndex = $(trs[i]).attr("data");
			if( index == trIndex ){
				tr = trs[i];
				break;
			}
		}
		if( !tr ){
			return ;
		}
		
	    var imgViewHtml=$(tr).find(".img-view-container").html();
	    var imgArr=[];
	    var vals = $(tr).find(".img-values").val();
		if( vals != null  ){
			imgArr = vals.split(",");
		}	    
    
    	var imgs = data.data ;
    	if( imgs instanceof Array ){
    		$.each(imgs, function(n, val) {
    			var imgUrl = tfsRootPath+val;
   				imgViewHtml+="<img src='"+imgUrl+"' class='view-img' width='50' height='50' data='"+val+"' />";
   				imgArr.push(val);
      		});
    	}else{
    		var imgUrl = tfsRootPath+imgs;
    		imgViewHtml+="<img src='"+imgUrl+"' class='view-img' width='50' height='50' data='"+imgs+"' ></img>";
    		imgArr.push(imgs);
    	}
	    $(tr).find(".img-view-container").html(imgViewHtml) ;
	    $(tr).find(".img-values").val(imgArr) ;
	    $(".view-img").off("click");
	    $(".view-img").on("click", viewImgClickEvent) ;
    }
    $(".view-img").on("click",viewImgClickEvent) ;
    
    
    function viewImgClickEvent(){
    	var tr = $(this).parent("tr.item-tr");
    	$(this).addClass("removing");
    	$('#myModal').modal() ;
    }
    
    $('.remove-ok').click(function(){
    	$('#myModal').modal('hide') ;
    	
		var imgs = $("tr.item-tr").find("img.view-img");
		if( !imgs ){
			return ;
		}
		for( var i=0 ; i<imgs.length ; i++ ){
			var img = imgs[i];
			var has = $(img).hasClass("removing");
			if( has ){
				var imgKey = $(img).attr("data");
				var td = $(img).parents("td")[0] ;
				var imgNode = $(td).find(".img-values");
				var value = $(imgNode).attr("value");
				if( value ){
					value = value.replace(imgKey, "");
					$(imgNode).val(value);
				}
				$(img).remove();
			}
		}
		
	});
    $('.remove-cancel').click(function(){
    	$("img.view-img").removeClass("removing");
    	
		var imgs = $("tr.item-tr").find("img.view-img");
		if( imgs ){
			return ;
		}
		for( var i=0 ; i<imgs.length ; i++ ){
			var img = imgs[i];
			var has = $(img).hasClass("removing");
			if( has ){
				var imgKey = $(img).data("data");
				$(img).removeClass("removing");
			}
		}
		$('.modal-confirm-remove-img').fadeOut();
	});
    

//--------------------------------------------------------
    var addItemCall = function () {
    	var trs = $("tr.item-tr");
    	if( !trs ){
    		return ;
    	}
    	var tr = trs[trs.length-1];
    	var index = $(tr).attr("data") ;
    	index = parseInt(index)+1 ;
    	var newTr = "<tr class='item-tr' data='"+index+"' >"+$(tr).html()+"</tr>";
    	$(tr).after( newTr );
    	
    	
    	var trs = $("tr.item-tr");
    	newTr = trs[trs.length-1] ;
    	
    	$(newTr).find("input.img-values").val("");
    	$(newTr).find("textarea").text("");
    	$(newTr).find(".img-view-container").empty();
    	
    	var node = $(newTr).find(".file-selector") ;
    	$( node ).attr("id", "FMUploadFile_"+index) ;
    	console.log(  $(newTr).html() );
    };

 	function deleteItemTr(obj){
 		var trs = $("tr.item-tr");
 		if( !trs ){
 			return ;
 		}
 		if( trs.length ==1 ){
 			alert("最后一条，不允许删除");
 			return ;
 		}
		$(obj).parent().parent().remove(); 
 	}

    //去掉[]
    function delBracket(obj){
        obj=obj.replace(new RegExp("\\[",'g'),"");
        obj=obj.replace(new RegExp("\\]",'g'),"");
        return obj;
    }

 	//保存的
 	$('#btnSubmit').click(function(){

       $(this).prop('disabled', true);
        var count = $(".bigTables tr").length-1;
        var parts=[];
        
        var trs = $("tr.item-tr");
        if( !trs ){
        	return ;
        }
        for(var i=0 ; i<trs.length; i++){
        	var tr = trs[i] ;
        	
        	var travelDes = $(tr).find("textarea.trave-desc").val() ;
        	var node = $(tr).find("input.img-values") ;
            var imgs = $(tr).find("input.img-values").val();
        	imgs = imgs.split(",") ;
        	var extraInfo = $(tr).find("textarea.trave-extra-info").val() ;
        	
        	
        	var travelJsonDO={
        		travelDes : travelDes ,
        		travelImg : imgs ,
        		detail : extraInfo
        	};
            parts.push(travelJsonDO);	
        	
        }

        var json = JSON.stringify(parts); //可以将json对象转换成json对符串
        console.log(json);
        $("#imgContentJsonId").val(json);

        var actionUrl;
        var clubId = $('#clubForm').attr('clubId');
        if(clubId){
            actionUrl = actionDefaultPath + '/B2C/travelOfficialManage/edit/'+clubId;
        }else{
            actionUrl = actionDefaultPath + '/B2C/travelOfficialManage/add';
        }
        var img= $("#logoUrlUploadFileReturnInput").val();
       var params = {
    		backImg:img,
    		preface:$("#prefaceId").val(),
			title:$("#titleId").val(),
			publishDate:$("#publishDateId").val(),
			createId:$("#createIdId").val(),
			userPhoto:$("#userPhotoId").val(),
			nickName:$("#nickNameId").val(),
			imgContentJson:$("#imgContentJsonId").val(),
			domain:$("#domain").val()
		};
       console.log(params);
        $('#clubForm').attr('action',actionUrl);
        $.post(actionUrl,params,function(data){
            if(data.status == 200){
            	var currentTab = $("#grogshopInfo").parents(".tab-pane");
            	var currentTabId = $(currentTab).attr("id");
            	var tabs =  $(".tab-pane");
            	if( !tabs ){
            		return ;
            	}
            	var index = null;
            	for( var i=0; i< tabs.length ; i++ ){
            		var tab = tabs[i];
            		var hasActive = $(tab).hasClass("active");
            		if( hasActive ){
            			index = i ;
            			break;
            		}
            	}
            
                layer.alert('操作成功', {
                    icon: 1
                  //  time: 3000
                }, function(){
                	layer.close(index);
					// 刷新父页面
					top.freshPrevFrame();
					top.tabTopClose(this);
					
                    //window.location.reload();
                });
            }else{
                layer.msg('操作失败', {
                    icon: 2
                  //  time: 3000
                });
                $(this).prop('disabled',false);
            }
        });

    });
        
    	$("#cityId").focus( function(){
    	$.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/trip/selectRegion' ,{type:"3"} ,function(data){
	    	if(data.status == 200){
	    	var html="";
	    		$.each(data.data, function(n,val){ 
                   console.log("data:"+val.id+"  _"+val.name);
                   html+="<option level="+val.level+" cityCode="+val.cityCode+" provinceCode="+val.provinceCode+" value="+val.id+">"+val.name+"</option>"
                });
            $("#cityId").html(html);
	        }else{
	            var msg = new $.zui.Messager('获取城市列表失败', {placement: 'center',type:'warning',time:'1000'});
	            msg.show();
	            $(this).prop('disabled',false);
	        }                                      
    	})
    });
</script>