@charset "UTF-8";
*{ margin:0;padding:0;}
ul li,ol li{list-style: none;}

.inputGroup{min-height: 30px;border: 1px solid #d5d5d5;padding: 10px;}
.whole{}
.inpSingle{margin-bottom: 10px;width: 32%;float: left;margin-right: 1%;}
@media (min-width: 800px){
    .inpSingle{width: 32%;float: left;margin-right: 1%;}
}
@media (max-width: 799px){
    .inpSingle{width: 49%;float: left;margin-right: 1%;}
}
@media (max-width: 500px) {
    .inpSingle{width: 100%;float: left;}
}
.pageWrap{text-align: center;}

.dialogPoint .formPoint{padding: 0;float: left;width: 50%;margin: 0;}
.dialogPoint .formPoint li{overflow: hidden;margin-bottom: 4px;}
.dialogPoint .formPoint li label{float: left;width: 100px;height: 33px;line-height: 33px;text-align: right;margin-bottom: 0;margin-right: 15px;}
.dialogPoint .formPoint li input{float: left;width: 50%;}
.dialogPoint .formPoint li .pointShow{background: transparent;border: none;box-shadow: none;}
.dialogPoint .dialogDec{float: right;width: 50%;margin-bottom: 32px;}
.dialogPoint .noteDialog{padding: 0;overflow: hidden;float: left;width: 100%;}
.dialogPoint .noteDialog label{float: left;width: 100px;height: 33px;line-height: 33px;text-align: right;margin-bottom: 0;margin-right: 15px;}
.dialogPoint .noteDialog .remark{width: 78%;float: left;}
.dialogPoint .form-group{margin: 0;}

.alertPageNote{margin-bottom: 0;}

/*标签页*/
.tabsWrap{position: fixed;top: 42px;left: 0;width: 100%;z-index: 90;}
.tabsWrap .dropdown{display: none;}
.tabsWrap .dropdown .dropdown-menu{height: 250px;overflow: auto;}
.tabsWrap #myTabList{background: #F5F5EF;height: 38px;margin-left: 200px;}
/*.tabsWrap #myTabList .js_tabClick{height: 38px;position: relative;}
.tabsWrap #myTabList .js_tabClick a{display: inline-block;padding-right: 25px;}
.tabsWrap #myTabList .tabClose{margin-left: 20px;position: absolute;right: 7px;top: 11px;}*/
.tabsWrap #myTabContent{margin-left: 220px;margin-top: 20px;margin-right: 20px;}
.tabsWrap .tab-content .tab-pane{}
.tabsWrap .tab-content .tab-pane iframe{width: 100%;}


.inpControl{
    display: inline-block;
    height: 32px;
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.53846154;
    color: #222;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 10px;
    margin-bottom: 5px;;
}
.inpCtlBlock{
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.53846154;
    color: #222;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 10px;
}