/*商品管理-发布线路-基本信息*/
.baseInfo{padding: 10px;}
.baseInfoList{padding-bottom: 20px;}
.baseInfoList label{font-weight: normal;}
.baseInfoList .lineDetail{font-weight: bold;font-size: 16px;}
.baseInfoList table{width: 100%;}
.baseInfoList table tr{line-height: 30px;}
.baseInfoList table td:nth-child(1){width: 100px;}
.baseInfoList table .fileWrap{position: relative;}
.baseInfoList table .fileWrap .fileBtn{position: absolute;width: 80px;height: 32px;top: 8px;left: 0;font-size: 25px;opacity: 0;filter: alpha(opacity=0);}
.baseInfoList table .img-circle{width: 100px;margin-left: 10px;}
.baseInfoApply{}
.baseInfoApply .applyNote{font-weight: bold;font-size: 16px;}
.baseInfoApply table{width: 100%;border-collapse: collapse;border: 1px solid #d5d5d5;}
.baseInfoApply table th{text-align: center;border: 1px solid #d5d5d5;background: #dedede;line-height: 35px;}
.baseInfoApply table td{border: 1px solid #d5d5d5;padding: 10px !important;text-align: center;}
.baseInfoApply table textarea{}



/*商品管理-发布线路-行程信息*/
.tripInfo{padding: 10px;}










/*商品管理-发布线路-价格信息*/
.priceInfo{padding: 10px;}
.priceInfo .tc-main .nav-tabs{border-bottom: none;}
.priceInfo .tc-main .navCombo{background: #DCD9D9;}
.priceInfo .tc-main .navCombo li{position: relative;}
.priceInfo .tc-main .navCombo li.active a{background: #F7F6F6;}
.priceInfo .tc-main .navCombo li .icon-remove{position: absolute;top: 10px;right: 10px;color: #666;}
.priceInfo .tc-main .tabCombo>.active{padding: 10px;border: 1px solid #d5d5d5;background: #F7F6F6;}
.priceInfo .tc-main .tabCombo table{border: none;border-color: transparent;}
.priceInfo .tc-main .tabCombo table tr td:nth-child(1){margin-right: 10px;}






/*保存*/
.groupTravelBot{text-align: center;margin: 20px auto;}
.groupTravelBot .btn{width: 150px;}