<div>
	<!-- 位置 -->
	<div class="position">
		<div>您所在的位置： 订单管理>景区订单>订单详情</div>
	</div>
	#parse("/system/order/commonOrderInfo.vm")
	<!-- 订单商品信息 -->
    <div class="orderInfo">
    	<div>订单商品信息</div>
    	<div>
    		<span>订单总额：￥$!order.orderTotalPrice</span>
    		<span>
    			<span>优惠券：</span>
    			#foreach($coupon in $order.coupons)
    			<span>$!coupon.count / $!coupon.price元</span> |
    			#end
    	</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="2">景点</th>
                <th>单价</th>
                <th>数量</th>
                <th>交易状态</th>
                <th>优惠</th>
            </tr>
            </thead>
            <tbody>
                #foreach($commodity in $order.commodityList)
                <tr>
                    <td>$!commodity.imageUrl</td>
                    <td>$!commodity.description</td>
                    <td>$!commodity.price</td>
                    <td>$!commodity.amount</td>
                    <td>$!commodity.tradeState</td>
                    <td>$!commodity.discount</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>