<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.harem.mapper.SysUserMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.yimayhd.harem.model.SysUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, created_on, updated_on, status
    </sql>

    <insert id="add" parameterType="com.yimayhd.harem.model.SysUser">
        insert into sys_user (id, username, password, created_on)
        values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
            #{createdOn,jdbcType=TIMESTAMP})
    </insert>

    <update id="modify" parameterType="com.yimayhd.harem.model.SysUser">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="countByUsername" resultType="int" parameterType="java.lang.String">
        select count(1)
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="login" resultMap="BaseResultMap" parameterType="com.yimayhd.harem.model.SysUser">
        select <include refid="Base_Column_List"/>
        from sys_user
        where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and status = 1
    </select>

    <sql id="search_clause">
        <where>
            <if test="entity!=null">
                <if test="entity.status == null">
                    and t1.status = 1
                </if>
                <if test="entity.status != null">
                    and t1.status = #{entity.status}
                </if>
                <if test="entity.username != null">
                    and t1.username like '%${entity.username}%'
                </if>
            </if>
        </where>
    </sql>

    <select id="getList" parameterType="com.yimayhd.harem.base.PageVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user t1
        <include refid="search_clause"/>
        order by t1.created_on desc
        <if test="isPaging != 0">
            limit #{from},#{size}
        </if>
    </select>

    <select id="getCount" resultType="long">
        select count(1) total from sys_user t1
        <include refid="search_clause"/>
    </select>
</mapper>