		<div class = "title distance">
			<div class = "info-tit">
				#if($refundOrderDO.bizType == 1)
					仅退款信息
				#else
					退货退款信息
				#end
			</div>
            <br>
			<p class = "info first"><em>退款原因：</em>#REFUNDREASONTYPE($!refundOrderDO.refundReasonType)</p>
			<div class = "info">
				<em><label>*</label>实退金额：</em>
					#if($refundOrderDO.refundActualFee > 0)
						#set($refundActualFee = $!utilNum.moneyTransform($!refundOrderDO.refundActualFee))
					#else
						#set($refundActualFee = $!utilNum.moneyTransform($!refundOrderDO.refundFee))
					#end
					#if( $approve )
						<input type="text" class="inpControl name" id="stjeId" name="stje"  value="$!refundActualFee">
					#else
						$!refundActualFee
					#end
			</div>
			<p class = "info">
				<em>退款说明：</em>
				$!refundOrderDO.refundDesc
			</p>
			<p class = "info">
				<div class="img-view-lable">上传凭证：</div>
				<div class="img-view-container">
					#foreach($imgs in $!refundOrderDO.pictures)
			            #if($!imgs)
			            	<div class="img-item" data="$velocityCount">
				            	<div>
				                	<img width='200' height='200' src="$utilWebconfig.getTfsRootPath()$!imgs">
				                </div>
				                <div class="img-item-view">
				                	<a href="#" class="view" data='$!refundPics'>预览</a>
				                </div>
			                </div>
			            #end
			        #end
				</div>
			</p>
			#if($!orderShowState != 1)
                <p class = "info"><em>审核结果：</em>$!afterSaleAuditStatusDesc</p>
                <p class = "info"><em>当前状态：</em>#REFUND_STATUS($!orderShowState $!bizType)</p>
                <p class = "info"><em>审核时间：</em>$!date.format('yyyy-MM-dd hh:mm:ss',$!refundOrderDO.refundOperationRecordDOList.get(0).auditorTime)</p>
                <p class = "info"><em>审核备注：</em>$!refundOrderDO.refundOperationRecordDOList.get(0).auditorRemark</p>
                <p class = "info"><em>审核人：</em>$!refundOrderDO.refundOperationRecordDOList.get(0).auditorName</p>
			#end
        </div>
