<div class = "title distance">
	<div class = "info-tit">商品信息</div>
	#set($orderId = $!refundOrderDetail.mainOrder.bizOrderDO.bizOrderId)
	<p class = "info first"><span>订单编号：</span><a href="$!root_path/B2C/orderManage/gfOrder/$orderId">$!orderId</a></p>
	<table width= "95%">
		<thead>
			<th>商品</th>
			<th>单价</th>

			<th>数量</th>
			<th>小计</th>
		</thead>
		<tbody>
				
			#foreach($itemRefundOrder in $!refundOrderDO.refundOrderDetailDOList)
	            <tr>
	                <td class = "infotd" width= "328">
	                	<ul>
	                		#set($pictures = $!itemRefundOrder.pictures )
							<li class = "img"><img width="80" height="80" class="uploadImgFile" src="$!{utilWebconfig.getTfsRootPath()}$!pictures[0]"></li>
							<li class= "name">
								<span>
									<div class="t-name">$!itemRefundOrder.itemTitle</div>
		                            <div class="t-userType">$!itemRefundOrder.itemSkuTitle</div>
	                            </span>
                            </li>
						</ul>
	                </td>
	                <td align = "center" width= "200">
						#set($itemPrice=$!itemRefundOrder.itemPrice)
						#set($discountFee=$!itemRefundOrder.discountFee)

						#set($count=$!itemPrice - $discountFee)
	                	<s>$!utilNum.moneyTransform($!itemRefundOrder.itemPrice)</s><br>
						<span class = "spe">$!utilNum.moneyTransform($count)</span>
	                </td>
	                <td align = "center" width= "200">
                        $!itemRefundOrder.itemNum
	                </td>
	                <td align = "center" width= "200">
	                	<p>
	                		<span class = "spe">
	                        	#*$utilNum.totalFee($itemRefundOrder.itemNum,$itemRefundOrder.itemPrice)*#
									$!utilNum.moneyTransform($!itemRefundOrder.actualTotalFee)
	                		</span>
	                		</br>(包邮)
	                	</p>
	                </td>
	            </tr>
	        #end
				
		</tbody>
	</table>
</div>