		<div class = "title distance">
			<div class = "info-tit">
				#if($refundOrderDO.bizType == 1)
					仅退款信息
				#else
					退货退款信息
				#end
			</div>
			<input type="hidden" id = "bizTypeId" name="bizType" value="$!bizType">
            <br>
            <input type="hidden"  value="$!refundOrderDO.id"  id="tkdid">
			<p class = "info first">
				<em>退款原因：</em>
				
					#if($!refundOrderDO.refundReasonType==1)
						多拍/拍错/不想要了
					#elseif($!refundOrderDO.refundReasonType==2)
						快递无跟踪记录
					#elseif($!refundOrderDO.refundReasonType==3)
					 	未按约定时间发货
					#elseif($!refundOrderDO.refundReasonType==4)
						快递一直未送货
					#elseif($!refundOrderDO.refundReasonType==5)
						空包裹/少货
					#elseif($!refundOrderDO.refundReasonType==6)
						其他
			        #end
				
			</p>
			<div class = "info">
				<em><label>*</label>实退金额：</em>
				
					#if($refundOrderDO.refundActualFee > 0)
						#set($refundActualFee = $!utilNum.moneyTransform($!refundOrderDO.refundActualFee))
					#else
						#set($refundActualFee = $!utilNum.moneyTransform($!refundOrderDO.refundFee))
					#end
					#if( $approve )
						<input type="text" class="inpControl name" id="stjeId" name="stje"  value="$!refundActualFee">
					#else
						$!refundActualFee
					#end
				
			</div>
			<div class="acculate-fee">系统计算退款金额：
				<span id="xtjsje">
					$!utilNum.moneyTransform($!refundOrderDO.refundFee)
				</span>
				元
			</div>
			<p class = "info">
				<em>退款说明：</em>
				$!refundOrderDO.refundDesc
			</p>
			<p class = "info">
				<div class="img-view-lable">上传凭证：</div>
				<div class="img-view-container">
					#foreach($imgs in $!refundOrderDO.pictures)
			            #if($!imgs)
			            	<div class="img-item" data="$velocityCount">
				            	<div>
				                	<img width='200' height='200' src="$utilWebconfig.getTfsRootPath()$!imgs">
				                </div>
				                <div class="img-item-view">
				                	<a href="#" class="view" data='$!refundPics'>预览</a>
				                </div>
			                </div>
			            #end
			        #end
				</div>
		        <div class="clear"></div>
			</p>
			#if( $approve )
				<!-- 退货退款待审核下出现收货地址-->
				#if($!bizType==2 && $!orderShowState==1)
		            #parse("/system/afterSale/common/shouhuo_address.vm")
		        #end
				<p class = "info note-container">
					<em>卖家备注：</em>
					<textarea rows="4" cols="80" class="form-control" type="text" id="mjbz" placeholder="卖家备注"></textarea>50字以内
				</p>
				<p class = "info approve">
				        <button type="button" class="btn btn-primary pass" refundStatus="3" >审核通过</button>
				        <button type="button" class="btn btn-primary pass" refundStatus="4" >审核不通过</button>
				</p>
			
			#else
				<p class = "info">
						#foreach($as in $!refundOrderDO.refundOperationRecordDOList)
					        #if($!as.refundStatus ==3 || $!as.refundStatus ==4 ||
					            $!as.refundStatus ==5 ||
					            $!as.refundStatus ==6 || $!as.refundStatus ==7)
					            <div class="shenhe_info" style="padding-left: 30px">
									<span>审核结果：
										#REFUND_STATUS($!as.refundStatus)
									</span><br>
									<span>当前状态：
										#REFUND_STATUS($!as.refundStatus)
									</span><br>
									<span>审核时间：
										$!date.format('yyyy-MM-dd hh:mm:ss',$!as.auditorTime)
									</span><br>
									<span>审核备注：$!as.auditorRemark</span><br>
									<span>审核人：$!as.auditorName</span><br>
									#if($!as.refundStatus >=6 && $!bizType ==2)
                                    <span class="juzheng">卖家举证：
										#foreach($!rdoList in $!refundOrderDO.refundOperationRecordDOList)
													#foreach($!arimgs in $!rdoList.pictures)
														#if($!arimgs)
															<img width='200' height='200'src="$utilWebconfig.getTfsRootPath()$!arimgs">
														#end
													#end
											#end
					            	</span>
								#end
								<br>
								<br>
					            </div>
					        #end
					    #end
				</p>
			#end
			
		</div>
