<div class="buyerInfo">
    <div>
        <span>退款原因：
			#if($!refundOrderDO.refundReasonType==1)
				多拍/拍错/不想要了
			#elseif($!refundOrderDO.refundReasonType==2)
				快递无跟踪记录
			#elseif($!refundOrderDO.refundReasonType==3)
			 	未按约定时间发货
			#elseif($!refundOrderDO.refundReasonType==4)
				快递一直未送货
			#elseif($!refundOrderDO.refundReasonType==5)
				空包裹/少货
			#elseif($!refundOrderDO.refundReasonType==6)
				其他
	        #end
        </span><br>
        <span>实退金额：
            $!utilNum.moneyTransform($!refundOrderDO.refundActualFee)
        </span>

        <br>
        <span>系统计算退款金额：$!utilNum.moneyTransform($!refundOrderDO.refundFee)
        </span><br>
        <span>退款说明：$!refundOrderDO.refundDesc</span><br>
        <span>上传凭证：</span>

        #foreach($imgs in $!refundOrderDO.pictures)
            #if($!imgs)
                <img width='200' height='200' src="$utilWebconfig.getTfsRootPath()$!imgs">
            #end
        #end
        <br><br> <br> <br><br>
        <!-- 待审核 用户已撤销 退款完成不展示 -->
        #if($!orderShowState !=9 || $!orderShowState !=1 )
            <div>
                <span>审核结果：
                    $!afterSaleAuditStatusDesc
                    #*#REFUND_STATUS($!orderShowState $!bizType)*#
                </span>
                <br>
                <br>
                <span>当前状态：
                    #REFUND_STATUS($!orderShowState $!bizType)
                </span>
                <br>
                <span>审核时间：
                    $!date.format('yyyy-MM-dd hh:mm:ss',$!refundOrderDO.refundOperationRecordDOList.get(0).auditorTime)
                    </span><br>
                <span>审核备注：$!refundOrderDO.refundOperationRecordDOList.get(0).auditorRemark</span><br>
                <span>审核人：$!refundOrderDO.refundOperationRecordDOList.get(0).auditorName</span><br>
                #if($!refundOrderDO.refundOperationRecordDOList.get(0).pictures)
                    <span>卖家举证：
                        #foreach($rimgs in $!refundOrderDO.refundOperationRecordDOList.get(0).pictures)
                            #if($!rimgs)
                                <img width='200' height='200' src="$utilWebconfig.getTfsRootPath()$!rimgs">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            #end
                        #end
                </span>
                #end

            </div>
        #end

    </div>
    <br><br><br><br>

    审核历史：
    <!-- 审核通过，不通过 -->
    <br>
    #*#if($!refundOrderDO.refundStatus != 2) #end 用户没有取消*#
    #foreach($as in $!refundOrderDO.refundOperationRecordDOList)
        #if($!as.refundStatus ==3 || $!as.refundStatus ==4 ||
            $!as.refundStatus ==6 || $!as.refundStatus ==7)
            <div>
            <span>审核结果：
                #REFUND_STATUS($!as.refundStatus $!bizType)
            </span><br>
            <span>当前状态：
                #REFUND_STATUS($!as.refundStatus $!bizType)
            </span><br>
            <span>审核时间：
                $!date.format('yyyy-MM-dd hh:mm:ss',$!as.auditorTime)
                </span><br>
                <span>审核备注：$!as.auditorRemark</span><br>
                <span>审核人：$!as.auditorName</span><br>
            <span>买家举证：
                #foreach($arimgs in $!refundOrderDO.refundOperationRecordDOList.pictures)
                    #if($!arimgs)
                        <img width='200' height='200'
                             src="$utilWebconfig.getTfsRootPath()$!arimgs">
                    #end
                #end
            </span>
                <br>
                ----------------------------------------------------------------------------
                <br>
            </div>
        #end
    #end

    <br> <br> <br>
</div>