<div class="orderBaseInfo">
    <div>商品信息</div>
    <tr>
        <td>订单编号：</td>
        <td>
            <span id="orderDetail" orderId="$!refundOrderDetail.mainOrder.bizOrderDO.bizOrderId">
                $!refundOrderDetail.mainOrder.bizOrderDO.bizOrderId
            </span>
        </td>
    </tr>
    <table class="table table-hover">
        <tr>
            <th>商品</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
        </tr>
        #foreach($itemRefundOrder in $!refundOrderDO.refundOrderDetailDOList)
            <tr>
                <td>
                    <div class="goods-item">
                        <div class="t-img">
                        	#set($pictures = $!itemRefundOrder.pictures )
                            <img class="uploadImgFile" src="$!{utilWebconfig.getTfsRootPath()}$!pictures[0]">
                        </div>
                        <div class="t-msg">
                            <div class="t-name">$!itemRefundOrder.itemTitle</div>
                            <div class="t-userType">$!itemRefundOrder.itemSkuTitle</div>
                        </div>
                    </div>
                </td>
                <td>
                    $!utilNum.moneyTransform($!itemRefundOrder.itemPrice)
                </td>
                <td>
                    <div class="order-price">
                        $!itemRefundOrder.itemNum
                    </div>
                </td>
                <td>
                    <div class="order-number">
                        	$utilNum.totalFee($itemRefundOrder.itemNum,$itemRefundOrder.actualTotalFee)
                    </div>
                </td>
            </tr>
        #end
    </table>
</div>
<script>
    $("#orderDetail").click(function () {
        var orderId = $(this).attr("orderId");
        window.parent.tabsAdd('', actionDefaultPath + "/B2C/orderManage/gfOrder/"+orderId, 2, "GF订单详情");
    });
</script>















