<div class="orderBaseInfo">
    <div>商品信息</div>
    <tr>
        <td>订单编号：</td>
        <td>3123</td>
    </tr>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>商品</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
</div>