        <div class="orderInfo">
            <div>收货人信息</div>
            <div>
                <span>手机号：$!order.</span>

                <span>账号：$!refundOrderDetail.buyerAccount</span><br>
                <span>昵称：$!refundOrderDetail.buyerNiceName</span><br>
                <span>收货人：$!refundOrderDetail.buyerName</span><br>
                <span>联系电话：$!refundOrderDetail.buyerPhoneNum</span><br>
                <span>邮编：</span><br>
                <span>收货地址：</span><br>
            </div>
        </div>


