<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js" type="text/javascript"></script>
<div class="orderInfo">
            <div>卖家备注</div>
            <input type="hidden" id = "bizTypeId" name="bizType" value="$!bizType">
            <input type="hidden"  value="$!refundOrderDO.id"  id="tkdid">
            <input class="form-control input-lg" type="text" id="mjbz" placeholder="卖家备注">
            <br><br>
            <div>
                <div>卖家上传凭证：</div>
                <div class="fileImgWrap">
                    <button type="button" class="btn btn-success">选择图片</button>
                    <input type="file"  name="file" class="fileInp" multiple="multiple" id="FMUploadFileSH" accept="image/png,image/gif">
                    <input type="hidden" name="coverURL" value=""  id="travelBGImgSH">
                    <p>注：两张以上图片，图片大小不超过4M,<br /></p>
                </div>
                <br><br><br><br>
                <div id="travelImgIdSH">
                </div>
            </div>

            <br><br><br><br>
            <div class="btn-group">
            	#if( $!agreeStatus )
                	<button type="button" class="btn btn-primary pass" refundStatus="$!agreeStatus" >审核通过</button>
                #else
                	<button type="button" class="btn btn-primary pass" refundStatus="3" >审核通过</button>
                #end
            </div>
            <div class="btn-group">
            	#if( $!rejectStatus )
                	<button type="button" class="btn btn-primary pass" refundStatus="$!rejectStatus" >审核不通过</button>
                #else
	                <button type="button" class="btn btn-primary pass" refundStatus="4" >审核不通过</button>
                #end
            </div>
            #*<div class="btn-group">
                <button type="button" class="btn btn-primary returns">返回</button>
            </div>*#

        </div>

        <script>
            $(".returns").click(function(){
                window.location.href = "";
            });



            $(".pass").click(function(){
                var id = $("#tkdid").val();
                var auditorRemark= $("#mjbz").val();
                var refundStatus = $(this).attr('refundStatus');
                var pictures=[];
                pictures = $("#travelBGImgSH").val();
                var bizType = $("#bizTypeId").val();

                console.log("refundOrderId="+id);
                console.log("auditorRemark="+auditorRemark);
                console.log("refundStatus="+refundStatus);
                console.log("pictures="+pictures);

                $.post('$!utilWebconfig.getActionDefaultFontPath()' +'/GF/aftersale/refund/audit',
                        {'refundOrderId':id,
                         'auditorRemark':auditorRemark,
                         'refundStatus':refundStatus,
                         'pictures[]':pictures}
                ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                    }
                    setTimeout(function(){
                        window.location.href="$!utilWebconfig.getActionDefaultFontPath()/GF/aftersale/refund/list?bizType="+bizType;
                    },1050);
                })
            });

            //---------------------------------------------------------------------
            $(document).delegate(".fileInp",'change',function(){
                fileUpload("#FMUploadFileSH",2,pictureUploadCallBack);
            })

            var pictureUploadCallBack = function(data){
                if(data && data.status == 200){
                    var imgHtml="";
                    var imgArr=[];
                    $.each(data.data, function(n, val) {
                        imgHtml+="<img src='"+tfsRootPath+val+"' class='dasda' width='200' height='200' ></img>";
                        imgArr.push(val);
                    });
                    $("#travelBGImgSH").val(imgArr);
                    $("#travelImgIdSH").html(imgHtml);
                }else{
                    layer.msg('图片上传失败，请重试', {icon: 2});
                }
            }

        </script>


