<div class="buyerInfo">
    <div>
        <span>退款原因：
        #if($!refundOrderDO.refundReasonType==1)
            收到商品少件/破损等
        #elseif($!refundOrderDO.refundReasonType==2)
            假冒品牌
        #elseif($!refundOrderDO.refundReasonType==3)
            拍错/效果不好/不喜欢
        #elseif($!refundOrderDO.refundReasonType==4)
            颜色/款式/外貌与描述不符
        #elseif($!refundOrderDO.refundReasonType==5)
            卖家发错货
        #elseif($!refundOrderDO.refundReasonType==6)
            生产人气/保质期描述不符
        #else
            其他
        #end
        </span><br>
        <span>实退金额：
            #if($!isModified)
                <input type="text" class="inpControl name"
                       name="name" placeholder="请输入20个字以内" value="$!refundOrderDO.refundFee">

            #end
            $!refundOrderDO.refundFee
</span>

        <br>
        <span>系统计算退款金额：$!refundOrderDO.refundFee</span><br>
        <span>退款说明：$!refundOrderDO.refundDesc</span><br>
        <span>上传凭证：</span>

        #foreach($imgs in $!refundOrderDO.pictures)
            #if($!imgs)
                <img width='50' height='50' src="$utilWebconfig.getTfsRootPath()$!imgs">
            #end
        #end
        <br>

        <span>审核结果：

        </span>

        <br>



        <span>当前状态：
            #REFUND_STATUS($!refundOrderDO.refundOperationRecordDOList.get(0).refundStatus)
            </span><br>
        <span>审核时间：$!refundOrderDO.refundOperationRecordDOList.get(0).auditorTime</span><br>
        <span>审核备注：$!refundOrderDO.refundOperationRecordDOList.get(0).auditorRemark</span><br>
        <span>审核人：$!refundOrderDO.refundOperationRecordDOList.get(0).auditorName</span><br>
        <span>买家举证：
            #foreach($rimgs in $!refundOrderDO.refundOperationRecordDOList.get(0).pictures)
                #if($!rimgs)
                    <img width='50' height='50' src="$utilWebconfig.getTfsRootPath()$!rimgs">
                #end
            #end
        </span>
        <br>
    </div>

    <br><br><br><br>
    审核历史：
    #*#if($!refundOrderDO.refundStatus != 2) #end 用户没有取消*#
    #foreach($as in $!refundOrderDO.refundOperationRecordDOList)
        <div>
            <span>审核结果：
                #REFUND_STATUS($!refundOrderDO.refundStatus)
            </span><br>
            <span>当前状态：
                #REFUND_STATUS($!refundOrderDO.refundStatus)
            </span><br>
            <span>审核时间：$!as.auditorTime</span><br>
            <span>审核备注：$!as.auditorRemark</span><br>
            <span>审核人：$!as.auditorName</span><br>
            <span>买家举证：
                #foreach($arimgs in $!refundOrderDO.refundOperationRecordDOList.get(0).pictures)
                    #if($!arimgs)
                        <img width='100' height='100'
                             src="$utilWebconfig.getTfsRootPath()$!arimgs">
                    #end
                #end
            </span>
            <br>
        </div>
    #end



</div>