<div class="buyerInfo">
    <div>退款退货信息</div>
    <div>
        <span>退款退货原因：121</span><br>
        <span>实退金额：121</span><br>
        <span>系统计算退款金额：3213</span><br>
        <span>退款说明：213</span><br>
        <span>上传凭证：213</span><br>

    #if(true)#* 用户没有取消*#
        <span>审核结果：2131</span><br>
        <span>当前状态：3213</span><br>
        <span>审核时间：213</span><br>
        <span>审核备注：3123</span><br>
        <span>审核人：123</span><br>
    #end

    </div>

</div>