<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/map.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
<style type="text/css">
    .demo {
        width: 850px;
        margin: 20px auto;
        display: none;
    }

    #l-map {
        height: 400px;
        width: 600px;
        float: left;
        border: 1px solid #bcbcbc;
    }

    #r-result {
        height: 400px;
        width: 230px;
        float: right;
    }
</style>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<div class="example whole">
<form id="saveScenicSpot">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#scenicInfo" data-toggle="tab">景区信息</a>
        </li>
        <li>
            <a href="#scenicDetailDiv" data-toggle="tab">景区详情</a>
        </li>
        <li>
            <a href="#scenicImgs" data-toggle="tab">图片集</a>
        </li>
    </ul>
    <div class="tab-content grogInfoWrap" style="">
        <div class="tab-pane active" id="scenicInfo">
            <div class="createHotrlTable">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><span class="spColor">*</span>景区名称</td>
                        <td>
                            #if($!{VO.scenic.id})
                                <input type="hidden" name="scenic.id" value="$!{VO.scenic.id}">
                            #end
                            <input type="text" class="inpCtlBlock" name="scenic.name" id="name" placeholder="请输入20个字以内"
                                   value="$!{VO.scenic.name}"></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>区域</td>
                        <td>
                            <div class="selectList">
                                <select class="selCity inpControl" name="scenic.locationProvinceName"
                                        id="provinceSelect">
                                    <option>请选择省份</option>
                                </select>
                                <select class="selCity inpControl" name="scenic.locationCityName" id="citySelect">
                                    <option>请选择城市</option>
                                </select>
                                <input type="text" class="inpCtlBlock" name="scenic.locationText" id="locationText"
                                       placeholder="请输入100个字以内" value="$!{VO.scenic.locationText}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>等级</td>
                        <td>
                            <select class="form-control {required:true}" id="level" name="scenic.level">
                                <option>请选择</option>
                                <option value="1"  #if($!{VO.scenic.level} == 1) selected #end>五星级</option>
                                <option value="2" #if($!{VO.scenic.level} == 2) selected #end>四星级</option>
                                <option value="3" #if($!{VO.scenic.level} == 3) selected #end>三星级</option>
                                <option value="4" #if($!{VO.scenic.level} == 4) selected #end>连锁酒店</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>地址经纬度</td>
                        <td><span>经度</span><input type="text" name="scenic.locationX" id="locationX"
                                                  class="inpControl getAddress" value="$!{VO.scenic.locationX}">
                            <span>维度</span><input type="text" name="scenic.locationY" id="locationY"
                                                  class="inpControl getAddress" value="$!{VO.scenic.locationY}">
                            <button type="button" class="btn btn-primary locationXYSelectBtn">查找经纬度</button>
                            <code>点击查找经纬度可自动获取</code></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>景区电话</td>
                        <td><input type="text" class="inpCtlBlock" name="scenic.phoneNum" id="phoneNum"
                                   placeholder="请输入数字" value="$!{VO.scenic.phoneNum}"></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>营业时间</td>
                        <td><input type="text" class="inpCtlBlock" name="scenic.openTime" id="openTime"
                                   placeholder="请输入数字" value="$!{VO.scenic.openTime}"></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>景区简介</td>
                        <td><textarea name="scenic.oneword" id="oneword" rows="3" class="form-control"
                                      placeholder="请输入500字以内">$!{VO.scenic.oneword}</textarea></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>特色描述</td>
                        <td><textarea name="scenic.description" id="description" rows="3" class="form-control"
                                      placeholder="请输入500字以内">$!{VO.scenic.description}</textarea></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>入园须知</td>
                        <td>
                            <button type="button" class="btn btn-default addNeedKnow">增加条目</button>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>标题（10个字以内）</th>
                                    <th>内容（500字以内）</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="extra-info-list needKnowTable">

                                    #if(!${VO.needKnow.frontNeedKnow})
                                    <tr class="needKnow">
                                        <td><input type="text" name="needKnow.frontNeedKnow[1].title"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="needKnow.frontNeedKnow[1].content" rows="3"></textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($frontNeedKnow in $VO.needKnow.frontNeedKnow)
                                    <tr class="needKnow">
                                        <td><input type="text" name="needKnow.frontNeedKnow[$!{velocityCount}].content"
                                                   class="form-control extra-info-item-title" placeholder="费用包含"
                                                   value="$!{frontNeedKnow.title}"></td>
                                        <td><textarea class="form-control extra-info-item-text"
                                                      name="needKnow.frontNeedKnow[$!{velocityCount}].content"
                                                      rows="3">$!{frontNeedKnow.content}</textarea></td>
                                        <td>
                                            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>退改规定</td>
                        <td><textarea name="scenic.refundRule" id="refundRule" rows="3" class="form-control"
                                      placeholder="请输入500字以内">$!{VO.scenic.refundRule}</textarea></td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>基础价格</td>
                        <td><input type="text" name="scenic.price" id="price" class="inpControl"
                                   value="$!{VO.scenic.price}">起
                        </td>
                    </tr>
                    <tr>
                        <td>景区联系人</td>
                        <td>
                            <span>姓名</span><input type="text" name="scenic.contactPerson" class="inpControl"
                                                  value="$!{VO.scenic.contactPerson}">
                            <span>电话</span><input type="text" name="scenic.contactPhone" class="inpControl"
                                                  value="$!{VO.scenic.contactPhone}">
                        </td>
                    </tr>
                    <tr>
                        <td>大咖推荐</td>
                        <td>
                            <button type="button" class="btn btn-info selectUser">选择旅游咖</button>
                            <img src="#if($hotel.manageUserLogoUrl) $utilWebconfig.getTfsRootPath()$!hotel.manageUserLogoUrl  #end"
                                 alt="头像" class="img-circle grogUserLogo"><span>Tracy</span>
                            <textarea name="scenic.recommend" id="recommend" rows="3" class="form-control"
                                      placeholder="请输入300字以内"></textarea>
                            <input type="hidden" name="userId" value="$!hotel.userId" disabled>
                        </td>
                    </tr>
                     <tr>
                        <td><span class="spColor">*</span>列表页展示图</td>
                        <td>
                            <div class="fileImg">
	                        <button type="button" class="btn btn-success">选择图片</button>
	                        <input type="hidden" name="scenic.logoUrl" value="$!{VO.scenic.logoUrl}" id="logoUrlUploadFileReturnInput" >
	                        <input type="file" name="file" class="fileInp" id="logoUrlUploadFile">
	                        <p>注：图片大小不超过5M<br />建议尺寸：300*300</p>
	                    </div>
	                    <div class="logoView">
	                        <img src="#if($VO.scenic.logoUrl) $utilWebconfig.getTfsRootPath()$!{VO.scenic.coverUrl} #end" class="img-square" id="logoUrlUploadFileReturnImg">
	                    </div>
                        </td>
                    </tr>
                    
                    
                     <tr>
                        <td><span class="spColor">*</span>详情页展示图</td>
                        <td>
                            <div class="fileImg">
	                        <button type="button" class="btn btn-success">选择图片</button>
	                        <input type="hidden" name="scenic.coverUrl" value="$!{VO.scenic.coverUrl}" id="logoUrlUploadFileReturnInput1" >
	                        <input type="file" name="file" class="fileInp" id="logoUrlUploadFile1">
	                        <p>注：图片大小不超过5M<br />建议尺寸：300*300</p>
	                    </div>
	                    <div class="logoView">
	                        <img src="#if($VO.scenic.coverUrl) $utilWebconfig.getTfsRootPath()$!{VO.scenic.coverUrl} #end" class="img-square" id="logoUrlUploadFileReturnImg1">
	                    </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="scenicDetailDiv">
            <script type="text/javascript">
                $(function() {
                    window.UEDITOR_HOME_URL = "/resources/ueditor/";
                    var ue = UE.getEditor('editor');
                });
            </script>
            <script id="editor" type="text/plain" name="needKnow.extraInfoUrl" style="width: 100%; height:350px">$!{VO.needKnow.extraInfoUrl}</script>
        </div>
        <div class="tab-pane" id="scenicImgs">
				 #parse("/system/scenicSpot/picture.vm")
        </div>
    </div>

    <button type="submit" class="btn btn-info">保存</button>
</form>
</div>
<script type="text/html" id="needKnowTemp">
    <tr class="needKnow">
        <td><input type="text" name="needKnow.frontNeedKnow[$index].title" class="form-control extra-info-item-title"
                   placeholder="费用包含"></td>
        <td><textarea name="needKnow.frontNeedKnow[$index1].content" class="form-control extra-info-item-text"
                      rows="3"></textarea></td>
        <td>
            <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button>
        </td>
    </tr>
</script>


<script>



    var conTr = $(".needKnow").length + 1;
    $(".addNeedKnow").unbind("click").click(function () {

        var addhtml = "";
        var html1 = $("#needKnowTemp").html();
        var i = conTr++;
        addhtml = addhtml + html1.replace('$index', i).replace('$index1', i);
        $(".needKnowTable").prev().append(addhtml);
    });

    function delneedKnowTR(obj) {
        $(obj).parent().parent().remove();
    }
    var mapCallback = function (data) {
        if (data) {
            $("#locationX").val(data['pointX']);
            $("#locationY").val(data['pointY']);
        }
    }

    $(function () {
    	  /*弹出框**/
        $('.selectUser').click(function(){
        alert("123");
         	openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectOneTravelKa','选择大咖',function() {
				var sce = win.getItems();
				alert(sce);
				
				return true;
			});
        })
    
    
    	$(document).delegate('#logoUrlUploadFile','change',function(){
            $.ajaxFileUpload
            (
                    {
                 		url: '/upload/file', //用于文件上传的服务器端请求地址
                        secureuri: false, //是否需要安全协议，一般设置为false
                        fileElementId: 'logoUrlUploadFile', //文件上传域的ID
                        dataType: 'json', //返回值类型 一般设置为json
                        success: function (data,status)  //服务器成功响应处理函数
                        {
                            if(data && data.status==200){
                                var tfsPath = '$utilWebconfig.getTfsRootPath()';
                                $('#logoUrlUploadFileReturnInput').val(data.data);
                                $('#logoUrlUploadFileReturnImg').attr('src',tfsPath + data.data);

                            }else{
                                layer.alert('上传失败');
                            }
                        },
                        error: function (data)//服务器响应失败处理函数
                        {
                            layer.alert('服务器异常');
                        }
                    }
            )
        });
        
        
        $(document).delegate('#logoUrlUploadFile1','change',function(){
            $.ajaxFileUpload
            (
                    {
                 		url: '/upload/file', //用于文件上传的服务器端请求地址
                        secureuri: false, //是否需要安全协议，一般设置为false
                        fileElementId: 'logoUrlUploadFile1', //文件上传域的ID
                        dataType: 'json', //返回值类型 一般设置为json
                        success: function (data,status)  //服务器成功响应处理函数
                        {
                            if(data && data.status==200){
                                var tfsPath = '$utilWebconfig.getTfsRootPath()';
                                $('#logoUrlUploadFileReturnInput1').val(data.data);
                                $('#logoUrlUploadFileReturnImg1').attr('src',tfsPath + data.data);

                            }else{
                                layer.alert('上传失败');
                            }
                        },
                        error: function (data)//服务器响应失败处理函数
                        {
                            layer.alert('服务器异常');
                        }
                    }
            )
        });
        
        
      
    
    

        $('.locationXYSelectBtn').click(function () {
            openBaiduMap(115.727899, 37.723961, mapCallback);
        });
      

        /*提交**/
        $("#saveScenicSpot").validate({
            rules: {
                'scenic.name': {
                    required: true
                }
            },
            messages: {
                'scenic.name': {
                    required: "请填写"
                }
            },
            errorPlacement: function (error, element) { // 指定错误信息位置

                if (element.is(':radio') || element.is(':checkbox')
                        || element.is(':input')) { // 如果是radio或checkbox
                    var eid = element.attr('name'); // 获取元素的name属性
                    error.appendTo(element.parent()); // 将错误信息添加当前元素的父结点后面
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                var options = {
                    url: actionDefaultPath + "/B2C/scenicSpotManage/save",
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 200) {
                            layer.alert('操作成功');
                            $("#clubCategorySubmit").attr("disabled", false);
                            location.href = actionDefaultPath + "/B2C/scenicSpotManage/list";
                        } else {
                            $("#clubCategorySubmit").attr("disabled", false);
                            layer.alert('操作失败');
                            location.href = actionDefaultPath + "/B2C/scenicSpotManage/list";
                        }
                    }
                };

                $(form).ajaxSubmit(options);
            },
            invalidHandler: function (form, validator) { // 不通过回调
                return false;
            }
        });
    });
</script>