<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/map.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
<style type="text/css">
.demo{width:850px;margin:20px auto;display:none;}
#l-map{height:400px;width:600px;float:left;border:1px solid #bcbcbc;}
#r-result{height:400px;width:230px;float:right;}
</style>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#scenicInfo" data-toggle="tab">景区信息</a>
    </li>
	<li>
        <a href="#scenicDetailDiv" data-toggle="tab">景区详情</a>
    </li>
    <li>
        <a href="#scenicImgs" data-toggle="tab">图片集</a>
    </li>
</ul>
<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="scenicInfo">
        <div class="createHotrlTable">
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="spColor">*</span>景区名称</td>
                    <td><input type="text" class="inpCtlBlock" name="name" id="name" placeholder="请输入20个字以内"></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>区域</td>
                    <td>
                        <div class="selectList">
                            <select class="selCity inpControl" name="locationProvinceName" id="provinceSelect">
                                <option>请选择省份</option>
                            </select>
                            <select class="selCity inpControl" name="locationCityName" id="citySelect">
                                <option>请选择城市</option>
                            </select>
                            <input type="text" class="inpCtlBlock" name="locationText" id="locationText" placeholder="请输入100个字以内">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>等级</td>
                    <td>
                        <select class="form-control {required:true}" id="grade" name="level">
                            <option>请选择</option>
                            <option value="1">五星级</option>
                            <option value="2">四星级</option>
                            <option value="3">三星级</option>
                            <option value="4">连锁酒店</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>地址经纬度</td>
                    <td><span>经度</span><input type="text" name="locationX" id="locationX" class="inpControl getAddress">
						<span>维度</span><input type="text" name="locationY" id="locationY" class="inpControl getAddress"><button class="btn btn-primary locationXYSelectBtn" >查找经纬度</button><code>点击查找经纬度可自动获取</code></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>景区电话</td>
                    <td><input type="text" class="inpCtlBlock" name="phoneNum" id="phoneNum" placeholder="请输入数字"></td>
                </tr>
				  <tr>
                    <td><span class="spColor">*</span>营业时间</td>
                    <td><input type="text" class="inpCtlBlock" name="openTime" id="openTime" placeholder="请输入数字"></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>景区简介</td>
                    <td><textarea name="oneword" id="oneword" rows="3" class="form-control" placeholder="请输入500字以内" ></textarea></td>
                </tr>
				 <tr>
                    <td><span class="spColor">*</span>特色描述</td>
                    <td><textarea name="description" id="description" rows="3" class="form-control" placeholder="请输入500字以内" ></textarea></td>
                </tr>
				<tr>
                    <td><span class="spColor">*</span>入园须知</td>
                    <td>
                    	<button type="button" class="btn btn-default add-extra-info-item">增加条目</button>
        	<table class="table">
				<thead >
            		<tr >
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
        				<th></th>
                    </tr>
                </thead>
				<tbody class="extra-info-list">
            		<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button type="button"  class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-text" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
                </tbody>
            </table>
                    
                    </td>
                </tr>
				<tr>
                    <td><span class="spColor">*</span>退改规定</td>
                    <td><textarea name="refundRule" id="refundRule" rows="3" class="form-control" placeholder="请输入500字以内"></textarea></td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>基础价格</td>
                    <td><input type="text" name="price" id="price" class="inpControl" >起</td>
                </tr>
				 <tr>
                    <td>景区联系人</td>
                    <td>
						<span>姓名</span><input type="text" name="contactPerson"  class="inpControl">
						<span>电话</span><input type="text" name="contactPhone"  class="inpControl">
					</td>
                </tr>
                <tr>
                    <td>大咖推荐</td>
                    <td>
                        <button type="button" class="btn btn-info selectUserBtn">选择旅游咖</button>
                        <img src="#if($hotel.manageUserLogoUrl) $utilWebconfig.getTfsRootPath()$!hotel.manageUserLogoUrl  #end" alt="头像" class="img-circle grogUserLogo"><span>Tracy</span>
                        <textarea name="recommend" id="recommend" rows="3" class="form-control" placeholder="请输入300字以内"></textarea>
                        <input type="hidden" name="userId" value="$!hotel.userId" disabled>
                    </td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="scenicDetailDiv">
		<textarea id="scenicDetail" name="scenicDetail" cols="20" rows="60" class="ckeditor"  >
                  
       </textarea>
    </div>
    <div class="tab-pane" id="scenicImgs">

    </div>
</div>
</form>

<script>
    var mapCallback = function(data){
        if(data){
            $("#locationX").val(data['pointX']);
            $("#locationY").val(data['pointY']);
        }
    }

    $(function(){
    	$(".add-extra-info-item").click(function(){
			var content = $(".extra-info-list");
			var item = $("<tr class='extra-info-item'/>");
			item.append($("<td><input type='text' class='form-control extra-info-item-title' placeholder='费用包含'></td>"));
			item.append($("<td><textarea class='form-control extra-info-item-text' rows='3'></textarea></td>"));
			var delete_btn = $("<button class='btn btn-link extra-info-item-delete'>删除</button>");
			delete_btn.click(function(){
    			$(this).parent().parent().remove();
    		});
			item.append($("<td/>").append(delete_btn));
			content.append(item);
		});
      $(".extra-info-item-delete").click(function(){
			$(this).parent().parent().remove();
		});
		$(".extra-info-item-delete").click(function(){
			$(this).parent().parent().remove();
		});
    
    
        $('.locationXYSelectBtn').click(function(){
            openBaiduMap(115.727899,37.723961,mapCallback);
        });
        $('.selectUserBtn').click(function(){
            layer.open({
                type: 2,
                btn: ['确定', '取消'],
                title: '用户选择',
                fix: false,
                shadeClose: true,
                maxmin: true,
                area: ['1000px', '500px'],
                content: '$!utilWebconfig.getActionDefaultFontPath()/trade/userManage/selectUserList',
                yes: function(index){
                    console.log(frames == window);
                    layer.alert(top.resultValue.length)
                    if(top.resultValue&&top.resultValue.length==0){
                        layer.alert("请选择用户");
                        return false;
                    }else{
                        console.log(top.resultValue);
                    }
                }
            });
        })


        $("#editScenicForm").validate({
            //添加景区验证规则
            rules: {
                grogshopName: {    //酒店名称
                    required: true,
                    maxlength: 20,
                    minlength: 2
                },
                grogshopAddress: {   //选择地址
                    required: true
                },
                grogBasePrice: {   //基础价格
                    required: true,
                    digits: true
                },
                grogshopTele: {   //酒店电话
                    required: true,
                    number: true
                },
                grogDescr: {    //特色描述
                    required: true,
                    maxlength: 80
                },
                grogInfo: {    //酒店简介
                    required: true,
                    maxlength: 500
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: true
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: true
                },
                grogArrivalDate: {    //最晚到店时间
                    required: true,
                    maxlength: 50
                }
            },
            //添加酒店验证错误，提示信息
            messages: {
                grogshopName: {     //酒店名称
                    required: "请填写酒店名称",
                    maxlength: "请输入不多于20字",
                    minlength: "请至少输入2个字"
                },
                grogshopAddress: {    //选择地址
                    required: "请输入您的详细地址"
                },
                grogBasePrice: {     //基础价格
                    required: "请填写基础价格",
                    digits: "请输入正整数"
                },
                grogshopTele: {   //酒店电话
                    required: "请填写酒店电话",
                    number: "请输入数字"
                },
                grogDescr: {    //特色描述
                    required: "请输入特色描述",
                    maxlength: "请输入不多于80字"
                },
                grogInfo: {    //酒店简介
                    required: "请输入酒店简介",
                    maxlength: "请输入不多于500字"
                },
                grogLinkmanName: {   //酒店联系人姓名
                    required: "请输入联系人"
                },
                grogLinkmanPhone: {   //酒店联系人电话
                    required: "请输入联系人电话"
                },
                grogArrivalDate: {    //最晚到店时间
                    required: "请输入最晚到店时间",
                    maxlength: "请输入不多于50字以内"
                }
            }
        });

        $('#btnSubmit').click(function(){
            $(this).prop('disabled',true);
            var actionUrl;
            var hotelId = $('#hotelForm').attr('hotelId');
            if(hotelId){
                actionUrl = '/hotelManage/edit';
            }else{
                actionUrl = '/hotelManage/add';
            }
            layer.alert(actionUrl);
            $('#hotelForm').attr('action',actionUrl);
            $.post(actionUrl,$('#scenicForm').serialize(),function(data){
                if(data.status == 200){
                    var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                    msg.show();
                    setTimeout(function(){
                        window.close();
                    },1050);
                }else{
                    var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                    msg.show();
                    $(this).prop('disabled',false);
                }
            });
        });
    });
</script>