<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="gfTagBiz"      class="com.yimayhd.gf.biz.GFTagBiz" />
	<bean id="gfCategoryBiz" class="com.yimayhd.gf.biz.GFCategoryBiz" />
	<bean id="commissionBiz" class="com.yimayhd.commission.biz.CommissionBiz" />
	<bean id="itemRebateBiz" class="com.yimayhd.commission.biz.ItemRebateBiz" />
	<bean id="userRelationBiz" class="com.yimayhd.commission.biz.UserRelationBiz" />


	<bean id="applyBiz" class="com.yimayhd.palace.biz.ApplyBiz" />
	<bean id="merchantBiz" class="com.yimayhd.palace.biz.MerchantBiz" />
	<bean id="articleBiz" class="com.yimayhd.palace.biz.ArticleBiz" />
	<bean id="mallFansBiz" class="com.yimayhd.commission.biz.MallFansBiz" />
	<bean id="levelBiz" class="com.yimayhd.commission.biz.LevelBiz" />

	<bean id="gfCorrelationBiz"      class="com.yimayhd.gf.biz.GFCorrelationBiz" />
	<bean id="attachmentBiz" class="com.yimayhd.palace.biz.AttachmentBiz"/>
	<bean id="cacheLockManager" class="com.yimayhd.palace.tair.CacheLockManager"/>
</beans>