<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!-- =========================== item =============================== -->
	<!--demo开始 -->
	<bean id="lgService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.lgcenter.client.service.LgService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.logistics.check}" />
		<property name="version" value="${consumer.dubbo.logistics.version}" />
	</bean>


	<bean id="refundQueryService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.refund.client.service.RefundQueryService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.refundQuery.check}" />
		<property name="version" value="${consumer.dubbo.refundQuery.version}" />
	</bean>

	<bean id="refundService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.refund.client.service.RefundService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.refund.check}" />
		<property name="version" value="${consumer.dubbo.refund.version}" />
	</bean>

</beans>