<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>

<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="example whole">
    <form name="postsForm" id="postsForm" action="$!utilWebconfig.getActionDefaultFontPath()/GF/bbs/posts/saveOrUpdate" method="post">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">基础信息</a>
            </li>
            <li class="">
                <a href="#tab2" data-toggle="tab">PC详情</a>
            </li>
            <li class="">
                <a href="#tab3" data-toggle="tab">微信详情</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div>
                <table class="table">

                    <tbody>
                    <tr>
                        <td><span class="spColor">*</span>帖子标题</td>
                        <td>
                            <input type="hidden" name="id" value="$!posts.id">
                            <input class="form-control title" type="text" name="title" value="$!posts.title">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>板块</td>
                        <td>
							<select class="form-control" name="moduleId">
								#foreach($module in $module)
									<option #if($posts.moduleId == $module.id) selected #end value="$!{module.id}">$!{module.name}</option>
								#end
                            </select>
                            ##<input class="form-control" type="text" name="priceY" value="$!commodity.priceY">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>达人</td>
                        <td>
							<select class="form-control" name="creatorId">
									<option  value="0">请选择</option>
								#foreach($master in $masters)
									<option #if($posts.creatorId == $master.id) selected #end value="$!{master.id}">$!{master.name}</option>
								#end
                            </select>
                            ##<input class="form-control" type="text" name="priceY" value="$!commodity.priceY">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>排序</td>
                        <td>
							<input class="form-control sort" type="text" name="sort" value="$!posts.sort">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>简介</td>
                        <td>
                            <textarea class="form-control description" rows="5" name="summary">$!{posts.summary}</textarea>
                        </td>
                    </tr>
                    <tr><td colspan="2"><span style="color:#3595CC;">提示：推荐图片 达人评测：288px*286px; 成迷私房课：大图657*453；小图：296*250; 活动报道：809*400; 精油+：286*284</span></td></tr>
                    <tr>
                        <td><span class="spColor">*</span>帖子图片</td>
                        <td class="bigListPicTd">
                            <label>推荐图片</label> <span class="spColor">建议上传图片尺寸为288x286px或倍数像素，类型为JPEG/PNG,此图片将用于首页推荐 </span>
                            <input id="bigListPicUrl" type="file">
                            <img class="bigListPicUrl uploadImgFile" src="#if($!posts.imageUrl)$utilWebconfig.getTfsRootPath()$!posts.imageUrl #end">
                            <input class="bigListPicVal" type="hidden" name="imageUrl" value="$!posts.imageUrl">
                        </td>
                        <td class="smallListPicTd">
                            <label>展示图片</label> <span class="spColor">建议上传图片尺寸为138x138px或倍数像素，类型为JPEG/PNG,此图片将用户帖子列表页面</span>
                            <input id="smallListPicUrl" type="file">
                            <img class="smallListPicUrl uploadImgFile" src="#if($!posts.mainImage)$utilWebconfig.getTfsRootPath()$!posts.mainImage #end">
                            <input class="smallListPicVal" type="hidden" name="mainImage" value="$!posts.mainImage">
                        </td>
                    </tr>
                
                    </tbody>
                </table>
            </div>
               

            </div>
            <div class="tab-pane" id="tab2">
                <script type="text/javascript">
                    $(function() {
                        window.UEDITOR_HOME_URL = "${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/";
                        var ue = UE.getEditor('editor');
                    });
                </script>
                <script id="editor" type="text/plain" name="content" style="width: 100%; height:350px">$!posts.content</script>
            </div>
            <div class="tab-pane" id="tab3">
                <script type="text/javascript">
                    $(function() {
                        window.UEDITOR_HOME_URL = "${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/";
                        var ue = UE.getEditor('editorPC');
                    });
                </script>
                <script id="editorPC" type="text/plain" name="wxContent" style="width: 100%; height:350px">$!posts.wxContent</script>
            </div>
        <div>
        <div class="clubBotBtn">
            <div class="btn-group">
            #*json string 提交*#
                <button class="btn btn-success btnSubmit" type="button" >保存</button>
            </div>
            <div class="btn-group">
                <button type="button"  class="btn closBtn">取消</button>
            </div>
        </div>
    </form>
</div>
<script>

	getBLen = function(str) {  
		    if (str == null) return 0;  
		    if (typeof str != "string"){  
		        str += "";  
		    }  
		    return str.replace(/[^\x00-\xff]/g,"01").length;  
		}
  
    $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });

    var bigListPicUploadCallBack = function(data){
        if(data && data.status == 200){
            $('.bigListPicVal').val(data.data);
            $('.bigListPicUrl').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }
    var smallListPicUploadCallBack = function(data){
        if(data && data.status == 200){
            $('.smallListPicVal').val(data.data);
            $('.smallListPicUrl').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }


	 function savePosts(){
		var status = true;
		
		
		var sort = $.trim($(".sort").val());
		
		if(!RegExp("^\\d{1,5}$").test(sort)){
			status = false;
			layer.msg('排序必须为小于6位的数字', {icon: 2}); 
			return;
		}
		

		
		var title = $.trim($(".title").val());
		if(getBLen(title) < 1 || getBLen(title) > 100){
			status = false;
			layer.msg('帖子标题只能1-100字符', {icon: 2}); 
			return;
		}
		
		var mainImage = $(".smallListPicVal").val();
		if(getBLen(mainImage) < 1){
			status = false;
			layer.msg('展示图片不能为空', {icon: 2}); 
			return;
		}
		
		var description = $.trim($(".description").val());
		if(getBLen(description) < 1 ||getBLen(description) > 400){
			status = false;
			layer.msg('简介应在1-400字符之间', {icon: 2}); 
			return;
		}
		
		
		if(!UE.getEditor('editor').hasContents()){
			status = false;
			layer.msg('PC图文详情不能为空！', {icon: 2}); 
			return;
		}
		
		if(!UE.getEditor('editorPC').hasContents()){
			status = false;
			layer.msg('微信图文详情不能为空！', {icon: 2}); 
			return;
		}
	
		 return status;
	}
	
	
    $(function(){
        //上传图片detailUrl
        $(document).delegate("#bigListPicUrl",'change',function(){
            fileUpload('#bigListPicUrl',1,bigListPicUploadCallBack);
        })
        //上传图片detailUrl
        $(document).delegate("#smallListPicUrl",'change',function(){
            fileUpload('#smallListPicUrl',1,smallListPicUploadCallBack);
        })


        $('.btnSubmit').click(function(){
		
		var isSubmit = savePosts();
		
		if(isSubmit){
		$(".btnSubmit").attr("disabled", true);
		
		 var actionUrl= actionDefaultPath + '/GF/bbs/posts/saveOrUpdate';
           	var options = {
                    url: actionUrl,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 200) {
                             layer.msg('操作成功', {
                            icon: 1,
                            time: 1500
                        });
                        setTimeout(function () {
                        	 $(".btnSubmit").attr("disabled", false);
                      	  location.href = actionDefaultPath + "/GF/bbs/list";
                        },1500);
                           
                            
                        } else {
                            layer.msg('操作失败', {
                            icon: 2,
                            time: 2000
                        });
                         setTimeout(function () {
                        $(".btnSubmit").attr("disabled", false);
                      	  location.href = actionDefaultPath + "/GF/bbs/list";
                        },1500);
                        }
                    }
                };

                	$("#postsForm").ajaxSubmit(options);
					}
        });

    });
</script>