#set ($layout="/system/layout/layout-jiuxiu.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")

<div class="searchbox" style="width:980px;">
	<form id="fm">
		<table>
			<tr>
				<td class="tit">商户名称：</td>
				<td><input name="name" maxlength="30" /></td>
				<td class="tit">商户编号：</td>
				<td><input name="" maxlength="30" /></td>
				<td class="tit">商户类型：</td>
				<td><select name="merchantType">
					<option value="0">全部</option>
					<option value="1">审核通过</option>
					<option value="2">审核不通过</option>
				</select></td><td colspan="2"></td>
			</tr>
			<tr>
				<td class="tit">负责人：</td>
				<td><input name="" maxlength="30" /></td>
				<td class="tit">手机号码：</td>
				<td><input name="merchantPrincipalTel" maxlength="30" /></td>
				<td class="tit">状态：</td>
				<td><select name="status">
					<option value="0">全部</option>
					<option value="1">启用</option>
					<option value="2">禁用</option>
				</select></td>
				<td><button class="searchbtn">搜索</button></td>
			</tr>
		</table>
	</form>
</div>
<div class="gridbox">
	<table class="tbgrid">
		<thead>
			<th>商户类型</th>
			<th>商户名称</th>
			<th>商户编号</th>
			<th>负责人</th>
			<th>注册手机</th>
			<th>创建日期</th>
			<th>状态</th>
			<th>操作</th>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="#" class="exam">查看</a>&nbsp;&nbsp;<label id="row_id" class="exam">审核</label></td>
			</tr>
			
		</tbody>
	</table>
	<div class='pagebox'>
		<div class="actionpage"><button class='prev'>上一页</button><label>当前第 </label><label class='curpage'>1</label><label> 页</label><button class='next'>下一页</button></div>
		<div class="pageinfo"><label>共：</label><label class='total'>20</label><label>页</label></div>
	</div>
</div>

<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.foodbusineslist.js"></script>