<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/upload.js"></script>
-->
<div>
	<div >
        <div>
    		<div>线路明细</div>
        	<table>
        		<tr >
    				<td>*产品类型：</td>
    				<td>跟团游<input type="hidden" class="productType" value="0"/></td>
                </tr>
    			<tr >
    				<td>*产品名称：</td>
    				<td><input type="text" class="form-control productName" placeholder="请输入产品名称" value="$!product.baseInfo.name"></td>
                </tr>
    			<tr >
    				<td>*产品封面图：</td>
    				<td>
                        <input id="productImageFile" type="file" accept="image/png,image/gif">
                        <img class="productImageUrlImg" src="#if($!{product.baseInfo.productImage})$!{utilWebconfig.getTfsRootPath()}$!{product.baseInfo.productImage} #end">
                        <input class="productImageUrlVal" type="hidden" value="$!product.baseInfo.productImage">
					</td>
                </tr>
				<tr >
    				<td>*行程封面图：</td>
    				<td>
                        <input id="tripImageFile" type="file" accept="image/png,image/gif">
                        <img class="tripImageUrlImg" src="#if($!{product.baseInfo.tripImage})$!{utilWebconfig.getTfsRootPath()}$!{product.baseInfo.tripImage} #end">
                        <input class="tripImageUrlVal" type="hidden" value="$!product.baseInfo.tripImage">
					</td>
                </tr>
    			<tr >
    				<td>*产品标签：</td>
                    <td>
						#foreach($tag in $tags)
						<input type="checkbox" class="productTag" rId="${tag.id}" rName="${tag.name}" id="tag${tag.id}" #if($product.baseInfo.containsTag($tag.id)) checked #end/><label for="tag${tag.id}">${tag.name}</label>
						#end
    				</td>
                </tr>
    			<tr >
    				<td>*发布人：</td>
                    <td>
    					<span><input type="radio" value="$!{PT_DEFAULT}" id="publisherType1" name="publisherType" class="publisherType" #if($!{product.baseInfo.publisherType} != $!{PT_MASTER}) checked #end><label for="publisherType1">怡美官方</label></span>
    					<span><input type="radio" value="$!{PT_MASTER}" id="publisherType2" name="publisherType" class="publisherType" #if($!{product.baseInfo.publisherType} == $!{PT_MASTER}) checked #end><label for="publisherType2">旅游咖</label></span>
    					<span class="travel-ka-panel" #if($!{product.baseInfo.publisherType} != $!{PT_MASTER}) style="display:none;" #end>
    						<button class="btn btn-primary" id="selectTravelKa">请选择旅游咖</button>
    						<span class="travel-ka-content">
								#if($!{product.baseInfo.publisherType} == $!{PT_MASTER})
									<span class='label label-badge label-info travel-ka' rId="$!{product.baseInfo.recommond.userId}" rName="$!{product.baseInfo.recommond.name}" rPic="$!{product.baseInfo.recommond.userPic}">$!{product.baseInfo.recommond.name}</span>
								#end
							</span>
						</span>
    				</td>
                </tr>
    			<tr >
    				<td>出发地：</td>
                    <td>
    					<select class="form-control from">
							<option value="">请选择出发地</option>
							#foreach($departRegion in $departRegions)
                            <option value="${departRegion.name}_${departRegion.code}" #if($!{product.baseInfo.fromId} == ${departRegion.code}) selected #end>${departRegion.name}</option>
							#end
						</select>
    				</td>
                </tr>
    			<tr >
    				<td>*目的地：</td>
                    <td>
    					<select class="form-control to">
							<option value="">请选择目的地</option>
                            #foreach($descRegion in $descRegions)
                            <option value="${descRegion.name}_${descRegion.code}" #if($!{product.baseInfo.toId} == ${departRegion.code}) selected #end>${descRegion.name}</option>
							#end
                         </select>
    				</td>
    				</td>
                </tr>
    			<tr >
    				<td>*线路设计亮点：</td>
                    <td>
    					<textarea class="form-control highlights" rows="3">$!{product.baseInfo.highlights}</textarea>
    				</td>
                </tr>
    			<tr >
    				<td>我为自己代言：</td>
                    <td>
    					<textarea class="form-control recommond" rows="3" rId="$!{product.baseInfo.recommond.id}">$!{product.baseInfo.recommond.description}</textarea>
    				</td>
                </tr>
            </table>
		</div>
		<div>
    		<div>报名须知</div>
			<div><button class="btn btn-default add-extra-info-item">增加条目</button></div>
        	<table class="extra-info">
            		<tr >
        				<th>标题（10个字以内）</th>
        				<th>内容（500字以内）</th>
                    </tr>
					#if($!{product.baseInfo.extraInfos}&&$!{product.baseInfo.extraInfos.size()}>0)
						#foreach($extraInfo in $!{product.baseInfo.extraInfos})
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含" value="$!{extraInfo.title}"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3">$!{extraInfo.content}</textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
						#end
					#else
            		<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					<tr class="extra-info-item">
        				<td><input type="text" class="form-control extra-info-item-title" placeholder="费用包含"></td>
        				<td><textarea class="form-control extra-info-item-content" rows="3"></textarea></td>
						<td><button class="btn btn-link extra-info-item-delete">删除</button></td>
                    </tr>
					#end
            </table>
		</div>
    </div>
	<script type="text/javascript">
		$(function(){
            //上传图片
            $(document).delegate("#productImageFile",'change',function(){
                fileUpload('#productImageFile',1,function(data){
                    if(data && data.status == 200){
                        $('.productImageUrlVal').val(data.data);
                        $('.productImageUrlImg').attr('src',tfsRootPath + data.data);
                    }else{
                        layer.msg('图片上传失败，请重试', {icon: 2});
                    }
				});
            });
			$(document).delegate("#tripImageFile",'change',function(){
                fileUpload('#tripImageFile',1,function(data){
                    if(data && data.status == 200){
                        $('.tripImageUrlVal').val(data.data);
                        $('.tripImageUrlImg').attr('src',tfsRootPath + data.data);
                    }else{
                        layer.msg('图片上传失败，请重试', {icon: 2});
                    }
				});
            });
		});
		$(".add-extra-info-item").click(function(){
			var content = $(".extra-info-list");
			var item = $("<tr class='extra-info-item'/>");
			item.append($("<td><input type='text' class='form-control extra-info-item-title' placeholder='费用包含'></td>"));
			item.append($("<td><textarea class='form-control extra-info-item-text' rows='3'></textarea></td>"));
			var delete_btn = $("<button class='btn btn-link extra-info-item-delete'>删除</button>");
			delete_btn.click(function(){
    			$(this).parent().parent().remove();
    		});
			item.append($("<td/>").append(delete_btn));
			content.append(item);
		});
		$(".extra-info-item-delete").click(function(){
			$(this).parent().parent().remove();
		});
		$(".extra-info-item-delete").click(function(){
			$(this).parent().parent().remove();
		});
		$(".publisherType").click(function() {
			if($(this).val()==2) {
				$(".travel-ka-panel").show();
			} else {
				$(".travel-ka-panel").hide();
			}
		});
		$("#selectTravelKa").click(function() {
			openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneTravelKa','选择旅游咖 ',function() {
				var ka = win.getTravelKa();
				if(ka == null) return;
				var id = ka.id;
				var name = ka.name;
				var pic = ka.pic;
				var span = $("<span class='label label-badge label-info travel-ka'>"+name+"</span>");
				span.attr("rId",id);
				span.attr("rName",name);
				span.attr("rPic",pic);
				var content = $(".travel-ka-content");
				content.empty();
				content.append(span);
				//console.log(JSON.stringify(ka));
				//一般设定yes回调，必须进行手工关闭
				return true;
			});
		});
		// 获取行程信息
		function getBaseInfo() {
			var type = $(".productType").val();
			var name = $(".productName").val();
			var productImage = $(".productImageUrlVal").val();
			var tripImage = $(".tripImageUrlVal").val();
			var tags = [];
			$(".productTag:checked").each(function(){
				tags.push($(this).attr("rId"));
			});
			var publisherType = $(".publisherType:checked").val();
			var from_arr = $(".from").val().split("_");
			var to_arr = $(".to").val().split("_");
			var highlights = $(".highlights").val();
			var extra_infos = [];
			$(".extra-info-item").each(function(){
				var title = $(this).find(".extra-info-item-title").val();
				var content = $(this).find(".extra-info-item-content").val();
				if(title&&content) {
					extra_infos.push({title:title,content:content});
				}
			});
			var result = {
				type:type,
				name:name,
				productImage:productImage,
				tripImage:tripImage,
				tags:tags,
				publisherType:publisherType,
				from:{id:from_arr[1],name:from_arr[0]},
				to:{id:to_arr[1],name:to_arr[0]},
				highlights:highlights,
				extraInfos:extra_infos
			};
			var recommond = {
    			id:$(".recommond").attr("rId"),
        		description : $(".recommond").val()
			};
			if(publisherType==$!{PT_MASTER}) {
				var travel_ka = $(".travel-ka");
				result["publisherId"] = travel_ka.attr("rId");
				recommond["userId"] = travel_ka.attr("rId");
				recommond["name"] = travel_ka.attr("rName");
				recommond["userPic"] = travel_ka.attr("rPic");
			} else {
				result["publisherId"] = 0;
				recommond["userId"] = 0;
				recommond["name"] = "怡美官方";
				recommond["userPic"] = "怡美官方";
			}
			result["recommond"] = recommond;
			return result;
		}
    </script>
</div>