<div>
	#foreach($linePropertyType in $linePropertyTypes)
	<div class="input-group">
		<span class="input-group-addon" block-name="${linePropertyType.name}">${linePropertyType.name}：</span>
		<input type="text" class="form-control item-${linePropertyType.type}-1" block-type="${linePropertyType.type}" id="item_${linePropertyType.type}_1" placeholder="请输入价格">
		<span class="input-group-addon">库存：</span>
		<input type="text" class="form-control item-${linePropertyType.type}-2" block-type="${linePropertyType.type}" id="item_${linePropertyType.type}_2" placeholder="请输入库存">
		<span class="input-group-addon">会员优惠：</span>
		<input type="text" class="form-control item-${linePropertyType.type}-3" block-type="${linePropertyType.type}" id="item_${linePropertyType.type}_3" placeholder="请输入会员优惠">
	</div>
	#end
</div>
<script type="text/javascript">
	function getData() {
		var day_id = "item";
		var adult = {
			price:$("#"+day_id+"_11").val(),
			stock:$("#"+day_id+"_12").val(),
			discount:$("#"+day_id+"_13").val()
		};
		var children_0_2 = {
			price:$("#"+day_id+"_21").val(),
			stock:$("#"+day_id+"_22").val(),
			discount:$("#"+day_id+"_23").val()
		};
		var children_2_12 = {
			price:$("#"+day_id+"_31").val(),
			stock:$("#"+day_id+"_32").val(),
			discount:$("#"+day_id+"_33").val()
		};
		var srd = $("#"+day_id+"_41").val();
		return {
			adult:adult,
			children02:children_0_2,
			children212:children_2_12,
			srd:srd
		};
	}
</script>