<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>

<script type="text/javascript" src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js"></script>
<script type="text/javascript" src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>
<script type="text/javascript" src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js"></script>


#parse("/system/layout/layout-jiuxiu-meta.vm")


<meta charset="UTF-8">
<title>广告位配置内容编辑</title>
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/style.css"/>
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/adconfig.css"/>
<div>
    <div id="adediter">
        <form name="addShowcase" id="showcaseForm"
              action="$!utilWebconfig.getActionDefaultFontPath()'+'/banner/showcase/add/" method="post" showcaseId="$!showcase.id">
        <table class="add">
            <tr>
                <input type="hidden" class="inpControl" id="operationIds" name="operationId" value="$!showcase.operationId">
                <input type="hidden" class="inpControl" id="chooseId" name="choose" value="">
                <input type="hidden" name="boothId" id="boothId" value="$!boothId">
                <input type="hidden" name="boothCode" id="boothCodeId" value="$!boothCode">
                <input type="hidden" name="appVersionCode" id="appVersionCodeId" value="$!appVersionCode">
                <input type="hidden" name="showcaseId" id="showcaseId" value="$!showcase.id">
                <input type="hidden" name="isEdit" id="isEditId" value="$!isEdit">
                <td class="yun"><label>顺序（小的在前）：</label></td>
                <td>
                	<input name='serialNo' id='serialNoId'  type="text" class="bisname" placeholder="" value="$!showcase.serialNo">
                    <span class="prompt">请填写整数</span>
                </td>
            </tr>
            <tr>
                <td class="yun"><label>名称(运营备注)：</label></td>
                <td><input id='infoId' maxlength="30" name='info' value="$!showcase.info" type="text" class="bisname" id="operat" placeholder="" errormsg="最多输入30个字">&nbsp;&nbsp;<label><span class="checktip">0</span>/30</label></td>
            </tr>
            <tr>
                <td class="yun"><label>广告位标题：</label></td>
                <td><input name='title' id='titleId'maxlength="100" value="$!showcase.title"  type="text" class="bisname" placeholder=""></td>
            </tr>
            <tr>
                <td class="yun"><label>广告位副标题：</label></td>
                <td><input name='summary' id='summaryId' maxlength="100"value="$!showcase.summary"  type="text" class="bisname" placeholder=""></td>
            </tr>
            <tr>
                <td class="yun"><label>广告位图片：</label></td>
                <td>
                    <div class="imgbox">
                        <div id="travelImgIdSH" class="edimg">
                            #if($!showcase.imgUrl)
                                <img id="imgId" src='$utilWebconfig.getTfsRootPath()$!showcase.imgUrl' class='dasda' width='200' height='200' ></img>
                            #end
                        </div>
                        <div class="fileImgWrap">
                            <button type="button" class="btn btn-success">选择图片</button>
                            <input type="file"  name="file" class="fileInp" multiple="multiple" id="FMUploadFileSH" accept="image/png,image/gif">
                            <input type="hidden" name="imgUrl" value=""  id="travelBGImgSH">
                            <p>注：图片大小不超过4M,<br /></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="yun"><label>跳转：</label></td>
                <td>
                    <div class="imgbox">
                        <table class="selectpage">
                            <tr>
                                <td>选择页面：</td>
                                <td>
                                    <select class="selectpages" id="opId" style="margin-left:0;margin-bottom: 5px;">
                                        <option value="0">请选择</option>
                                        #foreach($!operations in $operationDOs)
                                            <option radioHtml="$!utilHtml.appendHtml($!operations.listOperationDetail,$!operationDetailId)" id="$!operations.operactio.id" value="$!operations.operactio.code"
                                                    operationid="$!operations.operactio.id" #if($!showcase.operationId == $!operations.operactio.id) selected = 'selected' #end >$!operations.operactio.name</option>
                                        #end
                                    </select>

                                    <div  id="radioId"></div>
                                </td>
                            </tr>
                            <tr class="selectcontent">
                                <td>
                                    <a href="javascript:void(0)" class="selecontent">选择内容</a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr class="addurl">
                                <input type="hidden" name="operationDetail" id="operationDetailId" value="$!showcase.operationDetailId" class="secontent">
                                <input type="hidden" name="chcontent" id="chosId" value="$!showcase.operationContent" class="secontent">
                                <td>
                                    内容展示：
                                    <input type="hidden" id="isFullScreenId" value="$!isFullScreen">
                                </td>
                                <td>
                                    #if($!showcase.operationContentZH)
                                        <span id="addsecontentId" name="addsecontent" class="secontent">$!showcase.operationContentZH</span>
                                    #else
                                        <span id="addsecontentId" name="addsecontent" class="secontent" >$!showcase.operationContent</span>
                                    #end
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td >
                    <div class="save">
                        <button type="button"  class="btn btn-primary" id="saveId">保存</button>
                        <button type="button" class="btn btn-primary" id="cancelId">取消</button>
                    </div>
                </td>
            </tr>
        </table>
        </form>
    </div>

</div>
<script>

        $(document).ready(function(){
            var radioHtml= $("#opId").find("option:selected").attr("radiohtml");
            $("#radioId").html(radioHtml);
            autotxt();
            $('.selectpages').change(function(){
                $('#addsecontentId').text('');
                $("#chosId").val('');//  更换选择页面 清空之前选择的id 和name
                isChecked ();
            });
            function isChecked (){
                if($('#isFullScreenId').val()=='true'){
                    $('input[name="chooseService"][type="checkbox"]').prop('checked',true);
                }
            };
            isChecked ();


        });

        //如果是输入框的话，填什么 下面展示什么
        function autotxt(){
            var obj=$('input[name=chooseService]');
            if ( obj.length > 0 && "text" == obj.attr("type")) {
                obj.off().on('keyup',function(){
                    var value = obj.val();
                    //去掉两头的空格
                    value   =   value.replace(/^\s+|\s+$/g,"");
                    $("#chosId").val(value);
                    $("#addsecontentId").text(value);
                });
                $("#operationDetailId").val(obj.attr("id"));
            }else if ( obj.length > 0 && "radio" == obj.attr("type")) {
                var radioIdVal  = $("input[name='chooseService']:checked").attr("id");
                $("#operationDetailId").val(radioIdVal);
            }
        }

        function objInfo(){
            $('.selectpage input[type="checkbox"]').click(function(){
                if($(this).prop('checked'))
                    $(this).prop('value',true);
                else
                    $(this).prop('value',false);
            });
        }

        function myinit(){
            //只有类型是radio的时候才执行
            var obj=$('input[name=chooseService]');
            //看有几个obj
            if(obj.length == 0){
                return;
            }
            if(obj.length >1){
                objInfo(obj);
                //return ;
            }
            var obj=$('input[name="chooseService"]:checked');
            if(obj.attr('jumptype') == 11 ){
                $(".selectcontent").hide();
                $("#chosId").val(obj.val());
                var value =$('input[name=chooseService]:checked').parent().text();
                $("#addsecontentId").text(value);
            }else{
                $(".selectcontent").show();
            }
            //下拉框选择的是景区列表，并且是线路主题,存中文名
            var radioVal  = $('input[name=chooseService]:checked').val();
            var selectVal = $(".selectpages").find("option:selected").val();
            console.log("radioVal="+radioVal);
            console.log("selectVal="+selectVal);

            if((radioVal == "VIEWTAG" && selectVal == "SCENIC_TAG_LIST") || selectVal == "VIEW_TOPIC_DETAIL"){
                $("#chosId").val($("#addsecontentId").text());
            }
            var radioIdVal  = $("input[name='chooseService']:checked").attr("id");
            $("#operationDetailId").val(radioIdVal);
        }

        //处理可选择的radio
        $("#opId").on('change', function(){
            var operationId = $("#opId").find("option:selected").attr("operationId");//获取选择的select的operationId即boothid
            $("#operationIds").val(operationId);
            var radioHtml= $("#opId").find("option:selected").attr("radiohtml");
            $("#radioId").html(radioHtml);
            autotxt();
        });

        $('.selecontent').click(function(){
            myinit();
        });
        myinit();
        //获取选择内容是根据他的readio的value值选的,跟下拉框没关系
        $('.selecontent').click(function(){
            var multiselect = $('input:radio:checked').attr("multiselect");
            var type= $('input:radio:checked').attr("jumpType");
            var code = $('input:radio:checked').val();//获取选择的select的code
            var operationId = $("#opId").find("option:selected").attr("operationId");//获取选择的select的operationId即boothid
            $("#operationIds").val(operationId);
            if(null == code || ""==code){
                return false;
            }
            var isRegion = false;
            openModalForForm(actionDefaultPath + '/banner/showcase/chooseContent?code='+code+"&type="+type,'选择',function(win) {
                if(multiselect == "true"){
                    var sce = win.getItemss();
                    console.log(JSON.stringify(sce));
                    var zsnr="";
                    var cont="";
                    for(var i in sce) {
                        zsnr+=sce[i].name+"("+sce[i].appVersion+")"+ " | ";//展示内容
                        cont+=sce[i].code+","+sce[i].appVersion+"|";//隐藏框的
                    }
                    console.log("cont="+cont);
                    console.log("zsnr="+zsnr);
                    $("#chosId").val(cont);
                    $("#addsecontentId").text(zsnr);
                }else{
                    var sce = win.getItems();
                    console.log(JSON.stringify(sce));
                    $("#addsecontentId").text(sce.name);
                    if(type==2){//2是目的地
                        $("#chosId").val(sce.cityCode);
                    }else{
                        $("#chosId").val(sce.id);
                    }
                    var picUrl = sce.imgUrl;
                    if(picUrl !== null && picUrl !== undefined && picUrl !== '' && picUrl !== 'null'){
                        var showPicUrl="$utilWebconfig.getTfsRootPath()"+picUrl;
                        $("#travelBGImgSH").val(picUrl);
                        $("#travelImgIdSH img").attr("src",showPicUrl);
                        var html="<img src='"+showPicUrl+"' class='dasda' width='200' height='200' " +"></img>";
                        console.log("html="+html);
                        $("#travelImgIdSH").append(html);
                    }
                }
                myinit();
                return true;
            });
        });

        //选择跳转详细按钮时判断要不要加载弹出内容框
        $('#radioId').click(function(){ //判断，假如是showtype 11的时候，不选择详情了
            myinit();
        });

        $(function(){myinit();});

        //保存
        $('#saveId').click(function(){
            var isFullScreen = false;
            var operation  =  $("#opId").find("option:selected").attr("value");;
            var fullScreen =  $("input[name='chooseService']:checked").attr("value");
            if("H5" == operation && fullScreen){//是外链的话，看是否选择全屏展示
                isFullScreen = true;
            }
            var operationId = $("#operationIds").val();
            var showcaseId = $("#showcaseId").val();
            var boothId = $("#boothId").val();
            var serialNo = $("#serialNoId").val();
            var info = $("#infoId").val();
            var title = $("#titleId").val();
            var summary = $("#summaryId").val();
            var imgUrl = $("#travelBGImgSH").val();
            var content = "";
            var appVersionCode = $("#appVersionCodeId").val();
            var radioIdVal = $("#operationDetailId").val();
            var selectVal = $(".selectpages").find("option:selected").val();
            var operationContent    = $("#chosId").val();
            var operationContentZH  = $("#addsecontentId").text();//选择内容的中文
            if("GF_ITEM"==selectVal || "GF_URL" == selectVal){//gf外链和商品详情存在content里面
                content = operationContent;
            }
            if(""==radioIdVal||null==radioIdVal){
                radioIdVal=0;
            }
            if(operationContent.indexOf("#")!=-1){
                operationContent = operationContent.replace(/#/g,"")
            }
            console.log("showcaseId="+showcaseId+" boothId="+boothId+" serialNo="+serialNo
                      +" info="+info+" title="+title +" summary="+summary+" imgUrl="+imgUrl
                      +" content="+content+" operationContent="+operationContent+" operationId="+operationId
                      +" operationDetailId="+radioIdVal+" operationContentZH="+operationContentZH
                      +" appVersionCode="+appVersionCode+" fullgeScreen="+isFullScreen);

            if(null == serialNo || ""==serialNo || isNaN(serialNo)){
                var msg = new $.zui.Messager('权重请输入数字', {placement: 'center',type:'warning',time:'1000'});
                msg.show();
                return ;
            }
            if(null == operationId || "" == operationId){
                var msg = new $.zui.Messager('请选择跳转类型', {placement: 'center',type:'warning',time:'1000'});
                msg.show();
                return ;
            }
            if(null == title || ""==title){
                var msg = new $.zui.Messager('请输入标题', {placement: 'center',type:'warning',time:'1000'});
                msg.show();
                return ;
            }
            //如果是积分，广告限制在10个字内
            var temp = "JIUXIU_INTEGRALMALL_RECOMMEND";
            var boothCode = $("#boothCodeId").val();
            if(temp == boothCode){
                var leng = getStringLength(operationContentZH);
                if(leng > 20){
                    var msg = new $.zui.Messager('广告语不能超过10个字符', {placement: 'center',type:'warning',time:'1000'});
                    msg.show();
                    return ;
                }
            }

            $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/banner/showcase/add',
                    {'id':showcaseId, 'boothId':boothId, 'serialNo':serialNo, 'info':info,
                        'title':title,'summary':summary, 'imgUrl':imgUrl,'operationContent':operationContent,
                        'content':content, 'operationId':operationId,'operationDetailId':radioIdVal,
                        'operationContentZH':operationContentZH,'appVersionCode':appVersionCode,
                        'fullScreen':isFullScreen,'fullScreens':isFullScreen
                    } ,function(data){
                        if(data.status == 200){
                            var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                            msg.show();
                        }else{
                            var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                            msg.show();
                            return;
                        }
                        setTimeout(function(){
                            var url = "$!utilWebconfig.getActionDefaultFontPath()/banner/showcase/list/$!boothCode?appVersionCode=$!appVersionCode"
                                    +"&boothId="+boothId+"&pageNumber=1";
                            window.location.href =url;

                        },2000);
                    })
        });

        //新增
        $(".btn-add").click(function () {
           //新增
            window.parent.tabsAdd('', actionDefaultPath + "/banner/showcase/toAdd", 2,  "新增showcase");
        });

        //启用禁用
        $('.affirm').each(function(){
            $(this).click(function(){
                $(this).prop('disabled',true);
                var orderId = $(this).attr("orderId");
                var status = $(this).attr("status");
                console.log(orderId+"_"+status)
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/banner/showcase/publish/',
                    {'showcaseId':$(this).attr('orderId'),
                     'status':$(this).attr('status')
                    } ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                    }
                    //TODO暂时先刷新页面
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1050);
                })
            });
        });


        $("#clean_btn").click(function(){
            $('#tradeListForm1 div:eq(0)').find('input').val("").end().find('select')[0].selectedIndex = 0;
        });

        //---------------------------------------------------------------------
        $(document).delegate(".fileInp",'change',function(){
            fileUpload("#FMUploadFileSH",1,pictureUploadCallBack);
        })

        var pictureUploadCallBack = function(data){
            if(data && data.status == 200){
                var imgHtml="<img src='"+tfsRootPath+data.data+"' class='dasda' width='200' height='200' ></img>";
                $("#travelBGImgSH").val(data.data);
                $("#travelImgIdSH").html(imgHtml);
            }else{
                layer.msg('图片上传失败，请重试', {icon: 2});
            }
        }
        var getStringLength = function(str) {
            if (str == null) return 0;
            if (typeof str != "string"){
                str += "";
            }
            return str.replace(/[^\x00-\xff]/g,"01").length;
        }


</script>