<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
    <form class="form-signin" id="hotelDOListForm" name="hotelDOListForm" action="$!utilWebconfig.getActionDefaultFontPath()/B2C/hotelManage/list" method="GET" role="form">
        
		<div class="tableGroup whole">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th><input class="allChecked" name="allChecked" type="checkbox">全选</th>
                    <th>酒店名称</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($hotel in $hotelDOList)
                    <tr class="subCheckedTR">
                        <td><input class="subChecked" type="checkbox" value="$!hotel.id"></td>
                        <td>
                            <p><img src="$!hotel.logoUrl"></p>
                            <p>$!hotel.name</p>
                            <p>商品编码:$!hotel.code</p>
                        </td>
                        <td>#HOTEL_STATUS($!hotel.status)</td>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("hotelDOListForm")
    </form>
<script>
    $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
    function openwin(url) {
        var a = document.createElement("a");
        a.setAttribute("href", url);
        a.setAttribute("target", "_blank");
        a.setAttribute("id", "camnpr");
        document.body.appendChild(a);
        a.click();
    }
    $(function(){
        $('.submitBtn').click(function(){
            $('#hotelDOListForm').submit();
        });
        $('.hotelDetail').each(function(){
            $(this).click(function(){
                var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/hotelManage/'+ $(this).attr('hotelId');
                //TODO
                window.openwin(url);
            });

        });
        //单个启用停用
        $('.hotelBtn').each(function(){
            $(this).click(function(){
                $(this).prop('disabled',true);
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/hotelManage/setHotelStatus/' + $(this).attr('hotelId') ,{'hotelStatus':$(this).attr('status')} ,function(data){
                    if(data.status == 200){
                        layer.alert('操作成功', {
                            icon: 1,
                            time: 1500
                        }, function(){
                            window.location.href = window.location.href;
                        });
                    }else{
                        layer.alert('操作失败', {
                            icon: 2,
                            time: 2000
                        }, function(){
                            $(this).prop('disabled',false);
                        });

                    }
                })
            });
        });

        //全选
        $('.allChecked').click(function(){
            $('.subChecked').prop('checked',$(this).prop('checked'));
        });
        //单选
        $('.subCheckedTR').click(function(){
            $(this).find('.subChecked').prop('checked',!$(this).find('.subChecked').prop('checked'));
        });
        //批量
        $('.hotelBatchBtn').click(function(){
            $(this).prop('disabled',true);
            var arr = new Array();
            $('.subChecked:checked').each(function(){
                arr.push($(this).val());
            });
            $.post('$!utilWebconfig.getActionDefaultFontPath()/B2C/hotelManage/setHotelStatusList',{hotelIdList:arr,hotelStatus:$(this).attr('btnType')},function(data){
                if(data&&data.status == 200){
                    layer.alert('操作成功', {
                        icon: 1,
                        time: 1500
                    }, function(){
                        window.location.href = window.location.href;
                    });
                }else{
                    layer.alert('操作失败', {
                        icon: 2,
                        time: 2000
                    }, function(){
                        $(this).prop('disabled',false);
                    });
                }
            })
        });
        //新建
        $('.addHotelBtn').click(function(){
            var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/hotelManage/toAdd';
            window.openwin(url);
        });
    });
</script>