<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>编辑文件信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/css/zui.min.css?version=21" rel="stylesheet">
    <link rel="stylesheet" href="http://console.test.jiuxiulvxing.com/palace-web/resources/css/common.css?version=21" />
    <link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/Test/PC_Admin/src/css/editer.css" />
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/js/zui.min.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/respond.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/common.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/layer-v2.1/layer.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery-form.js?version=21" type="text/javascript"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.validate.min.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/JQ_verify.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.metadata.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.validform.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/validate/messages_zh.min.js?version=21" type="text/javascript"></script>
    <style type="text/css">
    .w100 {
        width: 100px;
    }
    
    .inpCtlBlock {
        float: left;
        width: 90%;
    }
    
    .num {
        float: left;
        height: 32px;
        line-height: 32px;
    }
    </style>
</head>

<body>
    <form id="form1" name="form1">
        <table class="table">
            <tr>
                <th><span class="spColor">*</span>名称：</th>
                <td>
                    <input type="text" class="inpCtlBlock limit-text" id=name name="name" id="spotName" value="">
                    <span class="num">0/38</span>
                </td>
            </tr>
            <tr>
                <th><span class="spColor">*</span>时长：</th>
                <td>
                    <div class="input-group inpSingle">
                        <select class="form-control" id="fen" name="fen">
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                        </select>
                        <span class="input-group-addon fix-border fix-padding dateInpCenter">分</span>
                        <select class="form-control" id="miao" name="miao">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <span class="input-group-addon fix-padding dateInpCenter">秒</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span class="spColor">*</span>用途：</th>
                <td>
                    <select class="form-control inpCtlBlock" id="yongtu" name="yongtu">
                        <option value="0">全部</option>
                        <option value="1">H5</option>
                        <option value="2">导览</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><span class="spColor">*</span>备注：</th>
                <td>
                    <input type="text" class="inpCtlBlock limit-text" id="remark" name="remark" id="remark" value=""><span class="num">0/38</span>
                </td>
            </tr>
        </table>
        <script type="text/javascript">
        var maxNum = 38;
        $(function() {
            $(".limit-text").on("input propertychange", function() {
                var $this = $(this);
                var txt = $this.val();
                var currnum = txt.length;
                if (currnum > maxNum) {
                    currnum = maxNum;
                    $this.val(txt.substr(0, maxNum));
                }
                $this.next(".num").text(currnum + " / " + maxNum);
                return false;
            })
        })

        function getItem() {
            return {
                name: $("#name").val(),
                fen: $("#fen").val(),
                miao: $("#miao").val(),
                yongtu: $("#yongtu").val(),
                remark: $("#remark").val()
            }
        }
        </script>
    </form>
</body>

</html>
