<link href="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/lib/datetimepicker/datetimepicker.min.css"
      rel="stylesheet">
<script src="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/lib/datetimepicker/datetimepicker.min.js"
        type="text/javascript"></script>
<form id="form1" name="form1">
    <div class="inputGroup">
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">文件名称：</button>
                </span>
            <input type="text" class="form-control" name="scenicName" value="">
        </div>
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">格式</button>
                </span>
            <select class="form-control" name="ext">
                <option value="0">全部</option>
                <option value="1">MP3</option>
                <option value="2">MP4</option>
            </select>
        </div>
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">状态</button>
                </span>
            <select class="form-control" name="status">
                <option value="0">全部</option>
                <option value="1">上架</option>
                <option value="2">下架</option>
            </select>
        </div>
        <div class="input-group inpSingle">
            <input type="text" class='form-control dateInp' placeholder='' readonly name="uploadTimeStart" value="">
            <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
            <input type="text" class='form-control dateInp' placeholder='' readonly name="uploadTimeEnd" value="">
        </div>
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">用途：</button>
                </span>
            <select class="form-control" name="yongtu">
                <option value="0">全部</option>
                <option value="1">H5</option>
                <option value="2">导览</option>
            </select>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary submitBtn">搜索</button>
        </div>
    </div>
</form>
<form>
    <div class="btnBottomMargin">
        <button type="button" class="btn btn-primary upload">上传文件
            <input type="file" name="fileData" class="file">
        </button>
    </div>
</form>
<div class="tableGroup whole">
    <table class="table table-bordered table-hover" id="tbAttachmentList">
        <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>格式</th>
            <th>上传时间</th>
            <th>时长</th>
            <th>用途</th>
            <th>备注</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                西山西门看点一
            </td>
            <td>
                MP3
            </td>
            <td>
                2016-08-22 14:34
            </td>
            <td>3分25秒</td>
            <td>
                导览
            </td>
            <td>啊啊啊啊啊啊啊啊啊</td>
            <td>
                上架
            </td>
            <td>
                <button type="button" class="btn btn-primary edit">编辑</button>
                <button type="button" class="btn btn-primary play">播放</button>
                <button type="button" class="btn btn-primary">下架</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
#*分页*#
#parse("/page.vm")
#pageStyle("tbAttachmentList")

<script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/layerModal.js?version=21"></script>
<script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/upload.js?version=21"></script>
<script type="text/javascript">
    layer.config({
        extend: 'extend/layer.ext.js',
        extend: ['skin/mySkin/style.css'],
        skin: 'layer-ext-mySkin'
    });

    $(function () {
        $("#tbAttachmentList").on("click", ".edit", function () {
            openModalForForm('attachmentedit.html', "编辑信息", function () {
                var item = win.getItem();
                if (item != null) {
                    alert(JSON.stringify(item))
                }
                return true;
            });
        });
        $(".form-date").datetimepicker({
            language: "zh-CN",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: "yyyy-mm-dd"
        });
    });
</script>

