<div>

    <input type="hidden" id="id" name="id" value="$attachmentVO.id">
    <audio controls autoplay loop src="$!{attachmentVO.remoteUrl}">
        <p>Your browser does not support the <code>audio</code> element.</p>
    </audio>
</div>
