<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.yimayhd.harem.service.impl.UserRPCServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.PictureRPCServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.TradeServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.RefundServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.OrderServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.HaMenuServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.HaRoleMenuServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.HaRoleServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.HaUserRoleServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.ClubServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.ActivityServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.PointRuleServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.TrendServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.TravelOfficialImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.RegionServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.LiveServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.ThemeServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.TripServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.RecommendedServiceImpl"></bean>
	<!-- 资源管理 -->
	<bean class="com.yimayhd.harem.service.impl.RestaurantRPCServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.HotelRPCServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.FacilityIconServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.ScenicServiceImpl"></bean>
	<!-- <bean id="config" class="com.yimayhd.harem.config.ResourceConfig" init-method="init"> 
		</bean> -->

	<!-- resources -->
	<bean class="com.yimayhd.harem.service.impl.RcBoothServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.RcOperationServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.RcShowcaseServiceImpl"></bean>

	<!-- home config -->
	<bean class="com.yimayhd.harem.service.impl.HomeCfgServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.PeripheryCfgServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.DiscoveryCfgServiceImpl"></bean>
	<!-- <bean id="config" class="com.yimayhd.harem.config.ResourceConfig" init-method="init"> 
		</bean> -->
	<!-- system -->
	<bean class="com.yimayhd.harem.service.impl.SystemManageServiceImpl" />
	<bean class="com.yimayhd.harem.service.impl.TfsServiceImpl" />
	<!-- commodity -->
	<bean class="com.yimayhd.harem.service.impl.CommodityServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.CategoryServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.CommTravelServiceImpl"></bean>
	<bean class="com.yimayhd.harem.service.impl.CommScenicServiceImpl" />
	<bean class="com.yimayhd.harem.service.impl.CommActivityServiceImpl" />
	<bean class="com.yimayhd.harem.service.impl.FlightRPCServiceImpl"></bean>
	<!-- comment -->
	<bean class="com.yimayhd.harem.service.impl.TagRPCServiceImpl"></bean>
</beans>