#set ($layout="/system/layout/layout-jiuxiu.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")

<div class="loading">
	<div class="bgmeng"></div>
	<div class="dlgcont"><img src="$!rs_path_jiuxiu/img/loading.gif"><label>请稍后。。。</label></div>
</div>
<div class="msg">
<div class="bgmeng"></div>
	<div class="dlgcont">
		<label ></label>
		
	</div>
	</div>
<div class="confirm">
	<div class="bgmeng"></div>
	<div class="dlgcont">
		<label class="msgtxt">是否确认此操作？</label>
		<div class="boxbtn">
			<button class="ok">确定</button>
			<button class="cancel">取消</button>
		</div>
	</div>
</div>
<form id="fm" >
<div class="searchbox" style="width:980px;">
	<table>
		<tr>
			<td class="tit">商户名称：</td>
			<td><input name="name" maxlength="30" /></td>
			<td class="tit">城市：</td>
			<td><select name="cityCode">
					<option value="0">全部</option>
					#foreach ($city in $cities)
					<option  value="$!city.destinationDO.code">$!city.destinationDO.name</option>
					#end
				
				</select></td>
			<td class="tit">状态：</td>
			<td><select name="status">
				<option value="0">全部</option>
				<option value="2">下架</option>
				<option value="3">上架</option>
			</select></td>
			<td><button class="searchbtn">搜索</button>&nbsp;&nbsp;<input class="inputbtn" type="reset" value="重置"></td>
		</tr>
	</table>
</div>
</form>
<div class="clearfix operabox">
	<div class="fl">
		<label>批量操作：</label>
		<button class="groupadd">批量上架</button>
		<button class="groupdown">批量下架</button>
		<button class="groupdelete">批量删除</button>
	</div>
	<div class="fr">
		<a class="abtn addBtn" href="">添加</a><input type="hidden" id="addPath" value="$root_path/jiuxiu/merchant/toAddDeliciousFood">
	</div>
</div>
<div class="gridbox">
<div class='tblist'>

	</div>
	<div class='pagebox'>
		<div class="actionpage"><button class='prev'>上一页</button><label>当前第 </label><label class='page'>1</label><label> 页</label><button class='next'>下一页</button></div>
		<div class="pageinfo"><label>每页：</label>
		<select class="pagesize"> 
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		</select><label> 条</label>
		<label> 共：</label>
		<!-- <label class='totalPage'>20</label><label>页，</label> -->
		<label class='totalCount'>20</label><label>条</label></div>
	</div>

</div>


<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.foodbusineslist.js"></script>