<div>
	<div >
        <div>
    		<div>线路明细</div>
        	<table>
        		<tr >
    				<td>*产品类型：</td>
    				<td>跟团游<input type="hidden" name="type" id="type" value="$!product.type"/></td>
                </tr>
    			<tr >
    				<td>*产品名称：</td>
    				<td><input type="text" class="form-control" placeholder="请输入产品名称" name="name" id="name" value="$!product.name"></td>
                </tr>
    			<tr >
    				<td>*产品封面图：</td>
    				<td>
                        <span><button class="btn btn-default">请选择图片</button>图片大小不超过5M，背景图尺寸为：750x420和600*800</span>
                        <span><input type="hidden" name="image" id="image" value="$!product.image"/></span>
					</td>
                </tr>
    			<tr >
    				<td>*产品主题：</td>
                    <td>
    					<span><input type="checkbox" value="0" name="themes" id="theme1"><label for="theme1">热门推荐</label></span>
    					<span><input type="checkbox" value="1" name="themes" id="theme2"><label for="theme2">亲子</label></span>
    					<span><input type="checkbox" value="2" name="themes" id="theme3"><label for="theme3">户外</label></span>	
    				</td>
                </tr>
    			<tr >
    				<td>*产品标签：</td>
                    <td>
    					<span><label for="tag1">亲子夏令营</label><input type="checkbox" value="0" name="tags" id="tag1"></span>
    					<span><label for="tag2">蜜月之旅</label><input type="checkbox" value="1" name="tags" id="tag2"></span>
    				</td>
                </tr>
    			<tr >
    				<td>*发布人：</td>
                    <td>
    					<span><input type="radio" value="0" name="publisherType" id="publisherType1"><label for="publisherType1">怡美官方</label></span>
    					<span><input type="radio" value="1" name="publisherType" id="publisherType2"><label for="publisherType2">旅游咖</label></span>
    					<span><button class="btn btn-default">请选择旅游咖</button></span>
						<span><input type="hidden" name="publisher" id="publisher" value="$!product.publisher"/></span>
    				</td>
                </tr>
    			<tr >
    				<td>出发地：</td>
                    <td>
    					<span><button class="btn btn-default">选择出发地</button></span>
                        <span>
							<span>北京</span>
							<span><input type="hidden" name="fromAddress"></span>
							<span><a href="#"><i class="icon icon-remove"></i></span>
						</span>
    					<span>
							<span>南京</span>
							<span><input type="hidden" name="fromAddress"></span>
							<span><a href="#"><i class="icon icon-remove"></i></span>
						</span>
    				</td>
                </tr>
    			<tr >
    				<td>*目的地：</td>
                    <td>
    					<span><button class="btn btn-default">选择目的地</button></span>
						<span>
							<span>大理</span>
							<span><input type="hidden" name="toAddress"></span>
							<span><a href="#"><i class="icon icon-remove"></i></span>
						</span>
						<span>
							<span>丽江</span>
							<span><input type="hidden" name="toAddress"></span>
							<span><a href="#"><i class="icon icon-remove"></i></span>
						</span>
    				</td>
                </tr>
    			<tr >
    				<td>*线路设计亮点：</td>
                    <td>
    					<textarea class="form-control" rows="3" value="$!product.highlights" name="highlights" id="highlights"></textarea>
    				</td>
                </tr>
    			<tr >
    				<td>我为自己代言：</td>
                    <td>
    					<textarea class="form-control" rows="3" value="$!product.recommond" name="recommond" id="recommond"></textarea>
    				</td>
                </tr>
            </table>
		</div>
		<div>
    		<div>报名须知</div>
			<div><button class="btn btn-default">增加条目</button></div>
        	<table>
				<thead >
            		<tr >
        				<th>标题（10个字以内）</td>
        				<th>内容（500字以内）</td>
                    </tr>
                </thead>
				<tbody >
            		<tr >
        				<td><input type="text" class="form-control" placeholder="费用包含"></td>
        				<td><textarea class="form-control" rows="3"></textarea></td>
						<td><button class="btn btn-link">删除</button></td>
                    </tr>
					<tr >
        				<td><input type="text" class="form-control" placeholder="费用包含"></td>
        				<td><textarea class="form-control" rows="3"></textarea></td>
						<td><button class="btn btn-link">删除</button></td>
                    </tr>
					<tr >
        				<td><input type="text" class="form-control" placeholder="费用包含"></td>
        				<td><textarea class="form-control" rows="3"></textarea></td>
						<td><button class="btn btn-link">删除</button></td>
                    </tr>
					<tr >
        				<td><input type="text" class="form-control" placeholder="费用包含"></td>
        				<td><textarea class="form-control" rows="3"></textarea></td>
						<td><button class="btn btn-link">删除</button></td>
                    </tr>
                </tbody>
            </table>
			<div>重要条款：<input type="text" class="form-control"><button class="btn btn-default">浏览</button></div>
		</div>
		<div><button class="btn btn-primary">保存</button></div>
    </div>
</div>