<script src="$!{staticResourcesPath}/resources/js/layerModal.js" type="text/javascript"></script><div>
    <ul id="day_tab" class="nav nav-tabs">
        <li class="day_btn">
          <button class='btn btn-primary addDay'>添加1天</button>
		  <script type="text/javascript">
		  	var dayId = 1;
		  	$(".addDay").click(function() {
				var id = dayId++;
				var tab = createDayTab(id);
				var page = createDayPage(id);
				$(".day_btn").before(tab);
				$(".tab-content").append(page);
				tab.children("a").click();
				show();
			});
			//重新计算day_tab显示天数
			function show() {
				$(".day_tab_a").each(function(idx,el){
					$(el).text("Day"+(idx+1));
				});
			}
			// 创建一天的Tab
			function createDayTab(dayId) {
				var li = $("<li class='day_"+dayId+"_tab day_tab' day-id='"+dayId+"'></li>");
				li.append($("<a href='#day_"+dayId+"_page' data-toggle='tab' class='day_tab_a'>Day</a>"));
				return li;
			}
			// 创建一天的page
			function createDayPage(dayId) {
				var page = $("<div class='tab-pane in' id='day_"+dayId+"_page'></div>");
				// 交通
				var traffic = $("<div class='panel add-traffic'></div>");
				traffic.append($("<div class='panel-heading'><i class='icon icon-2x icon-plane'></i>添加交通</div>"));
				traffic.append($("<div class='panel-body traffic' id='day_"+dayId+"_traffic'></div>"));
				var traffic_btn = $("<button class='btn btn-primary' display-id='day_"+dayId+"_traffic'>选择交通</button>");
				traffic_btn.click(function(){
					selectTraffic($(this).attr("display-id"));
				});
				traffic.append($("<div class='panel-body traffic'></div>").append(traffic_btn));
				page.append(traffic);
				// 行程描述
				var desc = $("<div class='panel trip-description'></div>");
                desc.append($("<div class='panel-heading'><i class='icon icon-2x icon-exclamation-sign'></i>行程描述</div>"));
                var desc_content = $("<div class='panel-body trip-description-content'></div>");
				desc_content.append($("<textarea class='form-control' rows='3' id='day_"+dayId+"_trip_description'></textarea>"));
                desc.append(desc_content);	
				page.append(desc);
                // 用餐
				var restaurant = $("<div class='panel add-restaurant'></div>");
				restaurant.append($("<div class='panel-heading'><i class='icon icon-2x icon-coffee'></i>添加用餐</div>"));				
                var restaurantList = $("<div class='panel-body restaurant'></div>");
				restaurant.append(restaurantList);
				// 1
				var input_group1 = $("<div class='panel'></div>");
				input_group1.append($("<div class='panel-heading'>早餐</div>"));
				input_group1.append($("<div class='panel-body' id='day_"+dayId+"_restaurant_1'></div>"));
				var input_group1_btn = $("<button class='btn btn-primary' type='button' display-id='day_"+dayId+"_restaurant_1'>选择餐厅</button>");
				input_group1_btn.click(function(){
					selectRestaurant($(this).attr("display-id"));
				});
				input_group1.append($("<span class='input-group-btn'></span>").append(input_group1_btn));
                restaurantList.append(input_group1);
				// 2
				var input_group2 = $("<div class='panel'></div>");
				input_group2.append($("<div class='panel-heading'>午餐</div>"));
				input_group2.append($("<div class='panel-body' id='day_"+dayId+"_restaurant_2'></div>"));
				var input_group2_btn = $("<button class='btn btn-primary' type='button' display-id='day_"+dayId+"_restaurant_2'>选择餐厅</button>");
				input_group2_btn.click(function(){
					selectRestaurant($(this).attr("display-id"));
				});
				input_group2.append($("<span class='input-group-btn'></span>").append(input_group2_btn));
                restaurantList.append(input_group2);
				// 3
				var input_group3 = $("<div class='panel'></div>");
				input_group3.append($("<div class='panel-heading'>晚餐</div>"));
				input_group3.append($("<div class='panel-body' id='day_"+dayId+"_restaurant_3'></div>"));
				var input_group3_btn = $("<button class='btn btn-primary' type='button' display-id='day_"+dayId+"_restaurant_3'>选择餐厅</button>");
				input_group3_btn.click(function(){
					selectRestaurant($(this).attr("display-id"));
				});
				input_group3.append($("<span class='input-group-btn'></span>").append(input_group3_btn));
                restaurantList.append(input_group3);
				page.append(restaurant);
				// 景区
				var scenic_spot = $("<div class='panel add-scenic-spot'></div>");
				scenic_spot.append($("<div class='panel-heading'><i class='icon icon-2x icon-pushpin'></i>添加景区</div>"));
				scenic_spot.append($("<div class='panel-body scenic-spot' id='day_"+dayId+"_scenic'></div>"));
				var scenic_spot_btn = $("<button class='btn btn-primary' display-id='day_"+dayId+"_scenic'>选择景区</button>");
				scenic_spot.append(scenic_spot_btn);
				scenic_spot_btn.click(function(){
					selectScenicSpot($(this).attr("display-id"));
				});
				page.append(scenic_spot);
				// 酒店
				var hotel = $("<div class='panel add-hotel'></div>");
				hotel.append($("<div class='panel-heading'><i class='icon icon-2x icon-home'></i>添加酒店</div>"));
				hotel.append($("<div class='panel-body hotel' id='day_"+dayId+"_hotel'></div>"));
				var hotel_btn = $("<button class='btn btn-primary' display-id='day_"+dayId+"_hotel'>选择酒店</button>");
				hotel.append(hotel_btn);
				hotel_btn.click(function(){
					selectHotel($(this).attr("display-id"));
				});
				page.append(hotel);
				return page;
			}
          </script>
        </li>
    </ul>
    <div class="tab-content">
    </div>
	<button class='btn btn-primary save'>保存</button>
	<script type="text/javascript">
		var currentTId;
		var currentRId;
		var currentSId;
		var currentHId;
		var icon = ["飞机","火车","巴士","轮船"]
	    // 选择交通
		function selectTraffic(tId){
			var currentTId = tId;
			openModalForForm(actionDefaultPath + '/B2C/comm/groupTravel/selectTraffic','选择交通方式 ',function() {
				var tra = win.getTraffic();
				var content = $("#"+currentTId);
				content.empty();
				var from = $("<span class='label label-info' id='"+tId+"_from' rName='"+tra.from+"'>"+tra.from+"</span>");
				var way = $("<span class='label label-info' id='"+tId+"_way' rId='"+tra.way+"'>"+icon[tra.way]+"</span>")
				var to = $("<span class='label label-info' id='"+tId+"_to' rName='"+tra.to+"'>"+tra.to+"</span>");
				content.append(from).append(way).append(to);
				// console.log(JSON.stringify(tra));
				// 一般设定yes回调，必须进行手工关闭
				return true;
			});
        }
		// 选择餐厅
		function selectRestaurant(rId){
			currentRId = rId;
			openModalForForm(actionDefaultPath + '/B2C/comm/groupTravel/selectRestaurant','选择餐厅',function() {
				var res = win.getRestaurants();
				var content = $("#"+currentRId);
				content.empty();
                for(var i in res) {
					var btn = $("<button class='btn btn-default "+currentRId+"_item'></button>");
					btn.attr("rId", res[i].id);
					btn.attr("rName", res[i].name);
					btn.click(function() {
						$(this).remove();
					});
					content.append(btn.text(res[i].name));
				}
				//console.log(JSON.stringify(res));
				//返回true成功关闭
				return true;
			});
        }
		
		// 选择景区
		function selectScenicSpot(sId){
			currentSId = sId;
			openModalForForm(actionDefaultPath + '/B2C/comm/groupTravel/selectScenicSpot','选择景区',function() {
				var sce = win.getScenicSpots(); 
				var content = $("#"+currentSId);
				content.empty();
                for(var i in sce) {
					var btn = $("<button class='btn btn-default "+currentSId+"_item'></button>");
					btn.attr("rId", sce[i].id);
					btn.attr("rName", sce[i].name);
					btn.click(function() {
						$(this).remove();
					});
					content.append(btn.text(sce[i].name));
				}
				//console.log(JSON.stringify(tra));
				//一般设定yes回调，必须进行手工关闭
				return true;
			});
        }
		
		// 选择酒店
		function selectHotel(hId){
			currentHId = hId;
			openModalForForm(actionDefaultPath + '/B2C/comm/groupTravel/selectHotel','选择酒店 ',function() {
				var hot = win.getHotels(); 
				var content = $("#"+currentHId);
				content.empty();
                for(var i in hot) {
					var btn = $("<button class='btn btn-default "+currentHId+"_item'></button>");
					btn.attr("rId", hot[i].id);
					btn.attr("rName", hot[i].name);
					btn.click(function() {
						$(this).remove();
					});
					content.append(btn.text(hot[i].name));
				}
				//console.log(JSON.stringify(hot));
				//一般设定yes回调，必须进行手工关闭
				return true;
			});
        }
		
		// 获取行程信息
		function getTripInfo() {
			var result = [];
			$(".day_tab").each(function(){
				var day_id = $(this).attr("day-id");
				var day = {id:day_id};
				// 交通方式
				var tra = {};
				var _from = $("#day_"+day_id+"_traffic_from");
				var _to = $("#day_"+day_id+"_traffic_to");
				var _way = $("#day_"+day_id+"_traffic_way");
				if(_from.length > 0 || _to.length > 0 || _way.length > 0) {
    				if(_from.length > 0) {
    					tra["from"] = _from.attr("rName");
    				}
    				if(_to.length > 0) {
    					tra["to"] = _to.attr("rName");
    				}
    				if(_way.length > 0) {
    					tra["way"] = _way.attr("rId");
					}
					day["traffic"] = tra;
				}
				// 描述
				var des = "";
				var _des = $("#day_"+day_id+"_trip_description");
				if(_des.length > 0) {
					des=_des.val();
					day["description"] = des;
				}
				// 餐厅
				var res = {};
				var res_1 = [];
				if($(".day_"+day_id+"_restaurant_1_item").length > 0) {
    				$(".day_"+day_id+"_restaurant_1_item").each(function(){
    					var rId = $(this).attr("rId");
    					var rName = $(this).attr("rName");
    					res_1.push({id:rId,name:rName});
    				});
    				res["restaurant_1"] = res_1;
				}
				var res_2 = [];
				if($(".day_"+day_id+"_restaurant_2_item").length > 0) {
    				$(".day_"+day_id+"_restaurant_2_item").each(function(){
    					var rId = $(this).attr("rId");
    					var rName = $(this).attr("rName");
    					res_2.push({id:rId,name:rName});
    				});
    				res["restaurant_2"] = res_2;
				}
				var res_3 = [];
				if($(".day_"+day_id+"_restaurant_3_item").length > 0) {
    				$(".day_"+day_id+"_restaurant_3_item").each(function(){
    					var rId = $(this).attr("rId");
    					var rName = $(this).attr("rName");
    					res_3.push({id:rId,name:rName});
    				});
    				res["restaurant_3"] = res_3;
				}
				if(res_1.length>0 || res_2.length>0 || res_3.length>0) {
					day["restaurant"] = res;
				}
				// 景点
				var sce = [];
				if($(".day_"+day_id+"_scenic_item").length > 0) {
					$(".day_"+day_id+"_scenic_item").each(function(){
    					var rId = $(this).attr("rId");
    					var rName = $(this).attr("rName");
    					sce.push({id:rId,name:rName});
    				});
    				day["scenic"] = sce;
				}
				
				// 酒店
				var hotel = [];
				if($(".day_"+day_id+"_hotel_item").length > 0) {
    				$(".day_"+day_id+"_hotel_item").each(function(){
    					var rId = $(this).attr("rId");
    					var rName = $(this).attr("rName");
    					hotel.push({id:rId,name:rName});
    				});
    				day["hotel"] = hotel;
				}
				result.push(day);
			});
			return result;
		}
		$(".save").click(getTripInfo);
    </script>
</div>