
<div style="margin: 15px;">
    <form class="form-signin" id="userListForm" name="userListForm" action="" method="GET" role="form">
       ## <div class="inputGroup" style="margin-bottom: 10px;">
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">标签名称</button>
                    </span>
                    <input type="text" class="form-control" name="userName" value="$!userListQuery.userName">
                </div>
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">序列号</button>
                    </span>
                    <input type="text" class="form-control" name="tel" value="$!userListQuery.tel">
                </div>
    ##</div>

        
    </form>
    <script>
      
    </script>
</div>
</div>
