<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>

	<form class="form-signin" id="scenicSpotForm" >
        <div class="inputGroup whole">
            <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">景区名称</button>
                    </span>
                <input type="text" class="form-control" name="scenicName" value="">
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="searchBtn();">搜索</button>
            </div>
            
        </div>
      
         <div id="tableDiv"></div>
    </form>
<script>

 $(function(){
	 searchBtn()
 });
function searchBtn() {	
	var options = {
		url:actionDefaultPath +"/B2C/comm/scenicManage/scenicListTable",
    	type:"post",
    	dataType:"html",
    	success:function(data){
    			$("#tableDiv").html(data);
    	},
    	error:function(XMLHttpRequest, textStatus, errorThrown){
    		layer.alert("123");
    	}	
    };
    $("#scenicSpotForm").ajaxSubmit(options);	
}		
function getScenicList(){
	var supplierArr = new Array();
	
		var id = "1";
		var name = "name";
		
		supplierArr.push({id:id,name:name});
	
	return supplierArr;
}



</script>