<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	#parse("/system/layout/layout-jiuxiu-meta.vm")

	<meta charset="utf-8">
	
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/base.css?t=3">
	#if( $!title )
		<title>$!title</title>
	#end
<script src="$rs_js_css_path_jiuxiu/js/jquery-1.11.0.js"></script>

<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/plugin/jquery.form.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/common.js"></script>
</head>
<body>
    $screen_content
</body>


</html>

