<link href="$!{staticResourcesPath}/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$!{staticResourcesPath}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$!{staticResourcesPath}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{staticResourcesPath}/resources/js/json2.js" type="text/javascript"></script>
<script src="$!{staticResourcesPath}/resources/js/calendar-tool.js" type="text/javascript"></script>
<div>
	<ul class="nav nav-tabs">
        <li class="active">
          <a href="#baseInfo" data-toggle="tab">基本信息</a>
        </li>
        <li>
          <a href="#tripInfo" data-toggle="tab">行程信息</a>
        </li>
        <li>
          <a href="#priceInfo" data-toggle="tab">价格信息</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane in active" id="baseInfo">
			#parse("/system/comm/selfServiceTravel/baseInfo.vm")
        </div>
        <div class="tab-pane" id="tripInfo">
			#parse("/system/comm/selfServiceTravel/tripPackageInfo.vm")
        </div>
        <div class="tab-pane" id="priceInfo">
			#parse("/system/comm/selfServiceTravel/priceInfo.vm")
		</div>
      </div>
	  <div>
		<button class="btn btn-primary save">保存</button>
      </div>
	  <script type="text/javascript">
	  	$(".save").click(function(){
			var result = {
				baseInfo:getBaseInfo(),
				tripPackageInfo:getTripPackageInfo(),
				priceInfo:getPriceInfo()
			};
			$.getJSON("$!{actionDefaultPath}/B2C/comm/selfServiceTravel/save",{json:JSON.stringify(result)},function(data){
				alert(JSON.stringify(data));
			});
		});
      </script>
</div>