

<div class="tab-content grogInfoWrap logistics-info-container">
    <div class="tab-pane active" id="orderInfo">
        <div class="buyerInfo">
            <div class="order-info-title">订单基础信息</div>
            <table class="table table-hover">
                <tr>
                    <td class="order-info-label">收货地址：</td>
                    <td class="order-info-value">
                    	$!lgOrder.fullName， 
                    	$!lgOrder.mobilePhone，
                    	$!lgOrder.prov，
                    	$!lgOrder.city，
                    	$!lgOrder.area，
                    	$!lgOrder.address，
                    	$!lgOrder.post
                    </td>
                </tr>
                <tr>
                    <td class="order-info-label">物流公司名称：</td>
                    <td class="order-info-value">$!order.mainOrder.logisticsOrderDO.expressCompany</td>
                </tr>
                <tr>
                    <td class="order-info-label">运单号：</td>
                    <td class="order-info-value">$!order.mainOrder.logisticsOrderDO.expressNo</td>
                </tr>
                <tr>
                    <td class="order-info-label">发货时间：</td>
                    <td class="order-info-value">$!utilDate.date2String( $!order.mainOrder.logisticsOrderDO.gmtCreated )</td>
                </tr>
               #* <tr>
                    <td class="order-info-label">发货状态：</td>
                    <td class="order-info-value">#LOGISTICS_STATUS($!logistics.logisticsStatus)</td>
                </tr>
                <tr>
                    <td class="order-info-label">发货备注：</td>
                    <td class="order-info-value">$!order.mainOrder.bueryMemo</td>
                </tr>*#
            </table>
		</div>
        <br><br>
        <div class="tableGroup whole">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>时间</th>
                    <th>描述</th>
                </tr>
                    #foreach($log in $logistics.expressDetailVOList)
                        <tr>
                            <td  align="left">
                                $!log.ftime
                            </td>
                            <td  align="left">
                                $!log.context
                            </td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
        <br><br>
    </div>
</div>
