
#parse("/system/layout/layout-jiuxiu-meta.vm")

<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/zui.min.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/datetimepicker.min.css">
<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/js/plugin/layer-v2.3/skin/layer.css">

<!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
<![endif]-->
<div class="topicbox">
	<form class="form-signin" id="queryForm" name="queryForm" action="$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/settlement/list" method="GET" role="form">
		
		<div class="inputGroup whole">
			<div class="input-group inpSingle">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">发起日期</button>
                </span>
				<input type="text" class="form-control form-date dateInp" readonly id="startDate" name="reqDateStart" value="$!query.reqDateStart">
				<span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
				<input type="text" class="form-control form-date dateInp" readonly id="endDate" name="reqDateEnd" value="$!query.reqDateEnd">
			</div>
			<div class="input-group inpSingle ">
				<span class="input-group-btn">
                    <button class="btn btn-default" type="button">结算类型</button>
                </span>
				<select data-placeholder="请选择..." class="chosen-select form-control" tabindex="2" name="accountType">
                    <option value="">全部</option>
                    <option value="1" #if($query.accountType == 1) selected="selected" #end >达人结算</option>
                    <option value="2" #if($query.accountType == 2) selected="selected" #end >企业提现</option>
                </select>
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary search">查询</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary reset">重置</button>
			</div>
		</div>
		<div class="tableGroup whole">
			<table class="table table-hover topicTable">
				<tbody>
					<tr>
						<th>发起日期</th>
						<th>回盘时间</th>
						<th>结算批次号</th>
						<th>平台提交笔数</th>
						<th>银联成功笔数</th>
						<th>银联失败笔数</th>
						<th>平台计算结算费</th>
						<th>结算类型</th>
						<!--
						<th>操作</th>
						-->
					</tr>
					#foreach($item in $pageVo.itemList)
					<tr>
						<td>$!item.reqDate</td>
						<td>$!item.backTime</td>
						<td>$!item.batchNo</td>
						<td>$!item.totalCount</td>
						<td>$!item.successCount</td>
						<td>$!item.failCount</td>
						<td>$!item.channelFeeDouble</td>
						<td>#ACCOUNT_TYPE($!item.accountType)</td>
						<!--
						<td>
							#if($!item.accountType == $!accountTypePerson)
								<button type="button" class="btn btn-primary detail" settlementId="$!item.settlementId" backTime="$!item.backTime" reqDate="$!item.reqDate" batchNo="$!item.batchNo">
									详情
								</button>
								#if($!item.status == $!settlementFail)
									<button type="button" class="btn btn-primary reSubmit" reqDate="$!item.reqDate" accountType="$!item.accountType" batchNo="$!item.batchNo">失败重新提交</button>
								#else
									<button type="button" class="btn disabled">失败重新提交</button>	
								#end
							#else
								<button type="button" class="btn disabled">详情</button>
								<button type="button" class="btn disabled">失败重新提交</button>
							#end
						</td>
						-->
					</tr>
					#end
				</tbody>
			</table>
		</div>
		#parse("/page.vm")
		#pageStyle("queryForm")
	</form>
</div>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/plugin/datetimepicker.min.js" ></script>
<script type="text/javascript">
	
	(function(){
	
		$("#startDate").datetimepicker({
            language:  "zh-CN",
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: "yyyy-mm-dd"
        }).on("changeDate", function(){
        	var startDateStr = $("#startDate").val();
        	if(startDateStr){
        		var startDate = new Date(startDateStr + " 00:00:00");
        	}
        	
        	var endDateStr = $("#endDate").val();
        	if(endDateStr){
        		var endDate = new Date(endDateStr + " 00:00:00");
        	}
        	
        	if(startDate && endDate && startDate > endDate){
        		$('#endDate').val(startDateStr);
        	}
        	$('#endDate').datetimepicker('setStartDate', startDateStr);
        });
        
        $("#endDate").datetimepicker({
            language:  "zh-CN",
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: "yyyy-mm-dd"
        })
	
		var startDateExist = $("#startDate").val(); 
		if(startDateExist){
			$('#endDate').datetimepicker('setStartDate', startDateExist);
		}
		
		$('.detail').click(function(){
		
			var param = [];
			param.push("settlementId="+ $(this).attr("settlementId"));
			param.push("backTime="+ $(this).attr("backTime"));
			param.push("reqDate="+ $(this).attr("reqDate"));
			param.push("batchNo="+ $(this).attr("batchNo"));
			
	        var url = '$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/settlement/detail?'+ param.join("&");
			window.parent.tabsAdd("addTopic", url, 2, "结算单详情");
	    });
	    
	   $('.reSubmit').click(function(){
	   		
	   		var that = this;
			layer.confirm('请在核对分账明细，并查看失败原因后再进行此操作？', {
			  btn: ['确认提交','取消']
			}, function(){
				
				var param = [];
				param.push("reqDate="+ $(that).attr("reqDate"));
				param.push("batchNoStr="+ $(that).attr("batchNo"));
				param.push("accountTypeStr="+ $(that).attr("accountType"));
				
			  	var url = actionDefaultPath + '/jiuxiu/settlement/settlementFailRetry?'+ param.join("&");
			  	
                $.post(url, param, function(data){
					if(data.status == 200) {
						layer.msg("操作成功", {
			                icon: 1,
			                time: 1000
			            });
			            setTimeout(function(){ 
			            	$('#queryForm').submit();
			            },1000)
						
					} else {
						layer.msg(data.message, {
							icon : 2,
							time: 2000
						});
					}
			    },"json");
			}, function(){
			  
			});
	    });
	    
	    $('.reset').click(function(){
           $("#queryForm").find(":input").not(":button,:submit,:reset,:hidden").val("").removeAttr("checked").removeAttr("selected");
        });
	})();

</script>
