<link href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/calendar-tool.js" type="text/javascript"></script>
<div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#goFlight" data-toggle="tab">去程</a>
    </li>
    <li>
      <a href="#backFlight" data-toggle="tab">返程</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane in active" id="goFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control go-off-date' placeholder='请选择出发日期' readonly id="go_off"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出城市" id="go_fromCity"></td>
            </tr>
			<tr>
				<td>*出发机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发机场" id="go_fromAirport"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="go_toCity"></td>
            </tr>
			<tr>
				<td>*到达机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达机场" id="go_toAirport"></td>
            </tr>
			<tr>
				<td>航班公司：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班公司" id="go_airways"></td>
            </tr>
			<tr>
				<td>航班号：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班号" id="go_flightNumber"></td>
            </tr>
			<tr>
				<td>计划起飞时间：</td>
				<td><input type="text" class='form-control plan-time' placeholder='请选择计划起飞时间' readonly id="go_planStart" rId="go"></td>
            </tr>
			<tr>
				<td>计划到达时间：</td>
				<td><input type="text" class='form-control plan-time' placeholder='请选择计划到达时间' readonly id="go_planEnd" rId="go"></td>
            </tr>
			<tr>
				<td>运行时间：</td>
				<td><input type="text" class="form-control" placeholder="自动计算运行时间" readonly id="go_runTime"></td>
            </tr>
			<tr>
				<td>备注信息：</td>
				<td><textarea class="form-control" id="go_noteInfo" rows="3"></textarea></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane in" id="backFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control go-off-date' placeholder='请选择出发日期' readonly id="back_off"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出城市" id="back_fromCity"></td>
            </tr>
			<tr>
				<td>*出发机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发机场" id="back_fromAirport"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="back_toCity"></td>
            </tr>
			<tr>
				<td>*到达机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达机场" id="back_toAirport"></td>
            </tr>
			<tr>
				<td>航班公司：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班公司" id="back_airways"></td>
            </tr>
			<tr>
				<td>航班号：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班号" id="back_flightNumber"></td>
            </tr>
			<tr>
				<td>计划起飞时间：</td>
				<td><input type="text" class='form-control plan-time' placeholder='请选择计划起飞时间' readonly id="back_planStart" rId="back"></td>
            </tr>
			<tr>
				<td>计划到达时间：</td>
				<td><input type="text" class='form-control plan-time' placeholder='请选择计划到达时间' readonly id="back_planEnd" rId="back"></td>
            </tr>
			<tr>
				<td>运行时间：</td>
				<td><input type="text" class="form-control" placeholder="自动计算运行时间" readonly id="back_runTime"></td>
            </tr>
			<tr>
				<td>备注信息：</td>
				<td><textarea class="form-control" id="back_noteInfo" rows="3"></textarea></td>
            </tr>
        </table>
    </div>
  </div>
</div>
<script type="text/javascript">
	// 日期输入框初始化
	$(".go-off-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
	$(".plan-time").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd hh:ii"
            });
	function timeChange() {
		var rId = $(this).attr("rId");
		var start_date = $("#"+rId+"_planStart").val();
		var end_date = $("#"+rId+"_planEnd").val();
		if(!start_date || !end_date) {
    		$("#"+rId+"_runTime").val("");
		} else {
    		var start = new Date(start_date);
        	var end = new Date(end_date);
    		var run_time = CalendarUtils.getTimeDifferenceByMinute(start,end);
			$("#"+rId+"_runTime").val(run_time);
		}
	}
	$(".plan-time").change(timeChange);
	function getFlights() {
		var result = {go:{},back:{}};
		$(".form-control").each(function() {
			var id = $(this).attr("id");
			if(id) {
				var str = id.split("_");
				if($(this).hasClass("plan-time")) {
					result[str[0]][str[1]] = $(this).val()+":00";
				} else {
					result[str[0]][str[1]] = $(this).val();
				}
			}
		});
		return result;
	}
</script>