 <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
 <div>
	<div class='panel add-fight'>
		<div class='panel-heading'><i class='icon icon-2x icon-home'></i>航班信息</div>
		<div class='panel-body'>
			<table class="table">
				<tr>
					<td>
						<div>
							<input type="radio" value="0" id="no-flight" name="has-flight" checked><label for="no-flight">无航班信息</label>
                        </div>
						<div>备注信息：</div>
						<div>
							<textarea class="form-control" id="note-info" rows="3"></textarea>
						</div>
                    </td>
					<td>
						<div>
							<input type="radio" value="1" id="has-flight" name="has-flight" ><label for="has-flight">有航班信息</label>
                        </div>
						<div>
							<button class='btn btn-primary add-flight'>添加航班信息</button>
						</div>
						<div class="flight-info"></div>
                    </td>
                </tr>
            </table>
		</div>
	</div>
	<div class='panel add-hotel'>
		<div class='panel-heading'><i class='icon icon-2x icon-home'></i>添加酒店</div>
		<div class='panel-body hotel' id='day_hotel'></div>
		<button class='btn btn-primary select-hotel'>选择酒店</button>
	</div>
</div> 
<script type="text/javascript">
	$(".add-flight").click(function(){
		selectFlight();
	});
	$(".select-hotel").click(function(){
		selectHotel();
	});
	// 添加航班
	function selectFlight(){
		openModalForForm(actionDefaultPath + '/B2C/comm/selfServiceTravel/addFlight','添加航班 ',function() {
			var flights = win.getFlights();
			// console.log(JSON.stringify(flights));
			var content = $(".flight-info");
			// 数据绑定点：开始
			var go = $("<input type='text' class='flight-go'>");
			go.val(JSON.stringify(flights.go));
			go = $("<div/>").append(go);
			var back = $("<input type='text' class='flight-back'>");
			back.val(JSON.stringify(flights.back));
			back = $("<div/>").append(back);
			var del_btn = $("<button class='btn btn-primary'>删除</button>");
			del_btn.click(function(){
				$(this).parent().remove();
			});
			content.append($("<div class='flight'/>").append(go).append(back).append(del_btn));
			back.val(JSON.stringify(flights.back));
			// 数据绑定点：结束
			//一般设定yes回调，必须进行手工关闭
			return true;
		});
	}
	// 选择酒店
	function selectHotel(){
		openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectHotel','选择酒店 ',function() {
			var hot = win.getItems(); 
			var content = $("#day_hotel");
			content.empty();
            for(var i in hot) {
				var btn = $("<button class='btn btn-info hotel_item'></button>");
				btn.attr("rId", hot[i].id);
				btn.attr("rName", hot[i].name);
				btn.click(function() {
					$(this).remove();
				});
				content.append(btn.text(hot[i].name));
			}
			//console.log(JSON.stringify(hot));
			//一般设定yes回调，必须进行手工关闭
			return true;
		});
    }
	function getTripPackageInfo(){
		var result = {};
		var flight_status = $("[name='has-flight']:checked").val();
		if(flight_status == 0) {
			var note_info = $(".note-info").val();
			result["noteInfo"] = note_info;
		} else {
			var flights = [];
			$(".flight").each(function() {
				flights.push({
					go : JSON.parse($(this).find(".flight-go").val()),
					back : JSON.parse($(this).find(".flight-back").val())
				});
			});
			result["flights"] = flights;
		}
		// 酒店
		var hotels = [];
		$(".hotel_item").each(function(){
			var rId = $(this).attr("rId");
			var rName = $(this).attr("rName");
			hotels.push({id:rId,name:rName});
		});
		return {
			hasFlight:flight_status,
			noteInfo:note_info,
			flights:flights,
			hotels:hotels
		};
	}
</script>