<style type="text/css">
    .table th {
        text-align: right;
    }

    .table .w15 {
        width: 15%;
    }

    .table .w35 {
        width: 35%
    }

    .table .w85 {
        width: 85%
    }

    .upload-btn {
        position: relative;
    }

    .upload-btn .btn {
        width: 100px;
    }

    .upload-btn .upload-file {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 25px;
        width: 102px;
        height: 33px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .upload-view {
        margin-top: 10px;
    }

    .upload-view .img-wapper,
    .upload-view .mp3 {
        position: relative;
        width: 150px;
        height: 75px;
        border: 1px solid #ccc;
    }

    .mp3.uploaded {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADc6ur3AAAAF3RSTlMAlmw+RRoJLYKMEF1yNySypkt5ulfWn4nMxyYAAADLSURBVDjLtdHbCoMwDIDhNDWHHmfV7f0fdd2V2jCRwX4opfDRiwSgTod8YRiq7thzxVFMDg65pJkvgaeQ+RLAICwYhAUnYcFGvfJq38CyPj498QRs+H8gYoDJgIjOttAOyuxtIe3A97sSAFEUkQjUDyCeQFwVeNY0a8iiSyYDHkq1gwQSiohWA1xuG35+cMhxCWRASKhNUxbiSBy8BeLQa0oMINqCjIALe6JSa3/ytBUegQ3x9qCuR33Rz+tGPOBXRpNrO2CPtsZwuzfClAjZJq8DKQAAAABJRU5ErkJggg==")
    }

    .img-wapper.uploaded:hover .delete-btn,
    .mp3.uploaded:hover .delete-btn {
        display: block;
    }

    .upload-view .upload-img {
        width: 100%;
        height: 100%;
    }

    .upload-view .delete-btn {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: #000;
        opacity: 0.7;
        filter: alpha(opacity=70);
        cursor: pointer;
    }
</style>

<form id="frmGuidEdit" method="POST" action="$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/guideManage/editGuide">
    <input type="hidden" name="guideId" id="guideId" value="${guideScenicVO.guideId}">
    <fieldset>
        <legend>景区信息</legend>
    #*    <div class="btnBottomMargin">
            <button type="button" class="btn btn-primary" id="btnSelectScenic">选择景区</button>
        </div>*#
        <input type="hidden" id="scenicId" value="$!{guideScenicVO.scenicVO.id}" name="scenicId">
        <input type="hidden" id="subjectId" value="$!{guideScenicVO.scenicVO.subjectId}" name="subjectId">
        <table class="table table-bordered">
            <tr>
                <th class="w15">景区名称：</th>
                <td class="w35">
                    <span id="name" name="scenicName">$!{guideScenicVO.scenicVO.name}</span>
                </td>
                <th class="w15">资源编号：</th>
                <td class="w35">
                    <span id="number" name="scenicNumber">$!{guideScenicVO.scenicVO.id}</span>
                </td>
            </tr>
            <tr>
                <th class="w15">所在省、市、区：</th>
                <td class="w35">
                    <span id="location" name="location" id="location">$!{guideScenicVO.scenicVO.address}</span>
                </td>
                <th class="w15">等级：</th>
                <td class="w35"><span id="level" name="level" id="level">$!{guideScenicVO.scenicVO.levelDesc}</span>
                </td>
            </tr>
            <tr>
                <th class="w15">主题：</th>
                <td class="w35"><span id="theme" name="theme" id="theme">$!{guideScenicVO.scenicVO.subjectName}</span>
                </td>
                <th class="w15">地址：</th>
                <td class="w35"><span id="address" name="address"
                                      id="address">$!{guideScenicVO.scenicVO.locationText}</span>
                </td>
            </tr>
            <tr>
                <th class="w15">经纬度：</th>
                <td class="w35"><span id="latlng" name="latlng" id="latlng">$!{guideScenicVO.scenicVO.longitude}
                    ,$!{guideScenicVO.scenicVO.latitude}</span></td>
                <th class="w15"></th>
                <td class="w35"></td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <th><span class="spColor">*</span>导览列表头图：</th>
                <td>
                    <div class="upload-btn">
                        <button type="button" class="btn btn-success">上传图片</button>
                        <input type="file" name="file" class="upload-file" id="logoUrlUploadFile">
                    </div>
                    <div class="upload-view ">
                        <div class="img-wapper uploaded">
                            <img class="upload-img" id="logoUrlImg" imgurl=""
                                 src="$!utilWebconfig.getTfsRootPath()$!{guideScenicVO.listImg}"/>
                            <div class="delete-btn">删除</div>
                            <input type="hidden" id="listImg" name="listImg" value="$!{guideScenicVO.listImg}">
                        </div>
                        <span>图片大小不能超过3M，格式为JPG,JPEG,PNG，建议尺寸：750×360</span>
                    </div>
                </td>
                <th><span class="spColor">*</span>导览电子地图：</th>
                <td>
                    <div class="upload-btn">
                        <button type="button" class="btn btn-success">上传图片</button>
                        <input type="file" class="upload-file" id="mapUrlUploadfile">
                    </div>
                    <div class="upload-view">
                        <div class="img-wapper uploaded">
                            <img class="upload-img" id="mapUrlImg" imgurl=""
                                 src="$!utilWebconfig.getTfsRootPath()$!{guideScenicVO.guideImg}"/>
                            <div class="delete-btn">删除</div>
                            <input type="hidden" id="guideImg" name="guideImg" value="$!{guideScenicVO.guideImg}">
                        </div>
                        <span>图片大小不能超过500K，格式为JPG,JPEG,PNG，建议尺寸：750×360</span>
                    </div>
                </td>
                <th><span class="spColor">*</span>开场语音：</th>
                <td>
                    <div class="upload-btn">
                        <button type="button" id="btnSelectAudio" class="btn btn-success">选择语音</button>
                    </div>
                    <div class="upload-view">
                        <div class="mp3 uploaded">
                            <div class="delete-btn" id="btnDeleteAudio">删除</div>
                        </div>
                            <input type="hidden" id="guideAudio" name="guideAudio" value="$!{guideScenicVO.guideAudio}">
                            <input type="hidden" id="audioTime" name="audioTime" value="$!{guideScenicVO.audioTime}">
                            <div>
                                <span>文件名称:</span><span
                                    id="inputFileTitle">${guideScenicVO.attachmentVO.inputFileTitle}</span>
                            </div>
                            <div>
                                <span>时长为：</span><span id="audioTimeVo">$!{guideScenicVO.audioTimeStr}</span>
                            </div>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>实用锦囊</legend>
        <table class="table">
            <input type="hidden" id="guideTipsId" value="$!{guideScenicVO.guideTipsId}" name="guideTipsId">
            <tr>
                <th class="w15"><span class="spColor">*</span>景区门票信息：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="300" id="ticketInfo"
                              name="ticketInfo"
                              rows="3">$!{guideScenicVO.ticketInfo}</textarea>
                    <span class="num">0/300</span>
                </td>
            </tr>
            <tr>
                <th class="w15"><span class="spColor">*</span>营业时间：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="300" name="openTime"
                              rows="3"
                              id="openTime">$!{guideScenicVO.openTime}</textarea>
                    <span class="num">0/300</span>
                </td>
            </tr>
            <tr>
                <th class="w15"><span class="spColor">*</span>交通：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="500" id="traffic"
                              name="traffic"
                              rows="3">$!{guideScenicVO.traffic}</textarea>
                    <span class="num">0/500</span>
                </td>
            </tr>
            <tr>
                <th class="w15">温馨提示：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="500" id="tips" name="tips"
                              rows="3"
                              id="tips">$!{guideScenicVO.tips}</textarea>
                    <span class="num">0/500</span>
                </td>
            </tr>
            <tr>
                <th class="w15">注意事项：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="500" id="cares"
                              name="cares"
                              rows="3">$!{guideScenicVO.cares}</textarea>
                    <span class="num">0/500</span>
                </td>
            </tr>
            <tr>
                <th class="w15">必玩必吃之事：</th>
                <td class="w85">
                    <textarea class="form-control extra-info-item-text limit-text" maxlength="500" id="haveTo"
                              name="haveTo"
                              rows="3">$!{guideScenicVO.haveTo}</textarea>
                    <span class="num">0/500</span>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="btnBottomMargin" style="text-align:center;">
        <button type="button" class="btn btn-primary" style="width:150px" id="btnSubmit">全部保存</button>
    </div>
</form>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js?version=21"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js?version=21"></script>
<script>
    layer.config({
        extend: 'extend/layer.ext.js',
        extend: ['skin/mySkin/style.css'],
        skin: 'layer-ext-mySkin'
    });
    var actionDefaultPath = '$utilWebconfig.getRootPath()';
    var tfsRootPath = '$utilWebconfig.getTfsRootPath()';
    var staticResourcesPath = '$utilWebconfig.getStaticResourcesPath()';
    var uploadFile = '$utilWebconfig.getRootPath()/upload/file';
    var uploadFiles = '$utilWebconfig.getRootPath()/upload/files';
</script>
<script type="text/javascript">
    var defaultImg = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
    function submitEdit(url, type, data) {
        $.ajax({
            url: url,
            type: type,
            data: data,
            success: function (res) {
                if (res.status == 200) {
                    layer.msg('操作成功', {
                        icon: 1,
                        time: 1500
                    });
                    setTimeout(function () {
                        closeAndFreshPrevFrame();
                    }, 1500);
                } else {
                    layer.msg('操作失败', {
                        icon: 2,
                        time: 2000
                    });
                    $(this).prop('disabled', false);
                }
            },
            error: function (xmlres, status, code) {
                layer.msg('操作失败', {
                    icon: 2,
                    time: 2000
                });
                $(this).prop('disabled', false);
            }
        });
    }
    function initUploadFile(fileId, hiddenId, imgId) {
        $(fileId).on("change", function () {
            fileUpload(fileId, 1, function (data) {
                if (data && data.status == 200) {
                    $(hiddenId).val(data.data);
                    $(imgId).attr('src', tfsRootPath + data.data);
                    $(imgId).closest(".img-wapper").addClass("uploaded");

                } else {
                    layer.msg('图片上传失败，请重试', {
                        icon: 2
                    });
                }
            }, 3*1024);
        });
    }

    $(function () {
        //上传导览列表头图
        initUploadFile("#logoUrlUploadFile", "#listImg", "#logoUrlImg");

        //上传导览电子地图
        initUploadFile("#mapUrlUploadfile", "#guideImg", "#mapUrlImg");
        //选择景区
        //initScenicSubject();

        //文本长度限制
        var limitTexts = $(".limit-text");
        limitTexts.each(function () {
            var txtlength = $(this).val().length;
            var maxlength = $(this).attr("maxlength");
            $(this).next(".num").text(txtlength + " / " + maxlength);
        });

        limitTexts.on("input propertychange", function () {
            var input = $(this);
            var txt = input.val();
            var currnum = txt.length;
            var maxlength = input.attr("maxlength");
            if (currnum > maxlength) {
                currnum = maxlength;
                input.val(txt.substr(0, maxlength));
            }

            $(this).next(".num").text(currnum + " / " + maxlength);
            return false;
        });

        //选择语音文件
        $('#btnSelectAudio').on("click", function () {
            openModalForForm('$utilWebconfig.getActionDefaultFontPath()/jiuxiu/attachmentManage/list/select?multi=1&fileType=30&maxSize=4', "选择语音文件", function () {
                var arr = win.getItem();
                if (arr.length == 0) {
                    layer.msg("请选择语音文件", {icon: 2});
                    return false;
                }

                /*var item = arr[0];

                if (parseInt(item.fsize) > 4 * 1024 * 1024) {
                    layer.msg("不能选择大于4M的语音文件", {icon: 2});
                    return false;
                }*/

                $("#guideAudio").val(item.fileKey);
                $("#audioTime").val(item.duration);
                $("#audioTimeVo").text(item.durationStr);
                $("#inputFileTitle").text(item.inputFileTitle);
                return true;
            });
        });

        //删除语音
        $("#btnDeleteAudio").on("click", function () {
            $(".mp3").removeClass("uploaded");
            $("#guideAudio").val('');
            $("#audioTime").val('');
            $("#audioTimeVo").text('');
            $("#inputFileTitle").text('');
        });
        //删除图片
        $(".img-wapper .delete-btn").on("click", function () {
            var td = $(this).closest("td");

            td.find(".img-wapper").removeClass("uploaded");
            td.find(".upload-img").attr("src", defaultImg);
            td.find("input[type='hidden']").val('');
            td.find("input[type='file']").val('');
        });
        //form
        $('#btnSubmit').on("click", function () {
            if ($("#listImg").val().trim().length == 0) {
                layer.msg("请上传导览列表头图", {icon: 2});
                return;
            }

            if ($("#guideImg").val().trim().length == 0) {
                layer.msg("请上传导览电子地图", {icon: 2});
                return;
            }

            if ($("#guideAudio").val().trim().length == 0) {
                layer.msg("请上传语音文件", {icon: 2});
                return;
            }

            if ($("#ticketInfo").val().trim().length == 0) {
                layer.msg("请填写景区门票信息", {icon: 2});
                return;
            }
            if ($("#openTime").val().trim().length == 0) {
                layer.msg("请填写营业时间", {icon: 2});
                return;
            }


            if ($("#traffic").val().trim().length == 0) {
                layer.msg("请填写交通信息", {icon: 2});
                return;
            }

            /*  if($("#tips").val().trim().length==0){
                  layer.msg("请填写温馨提示",{icon:2});
                  return;
              }

              if($("#cares").val().trim().length==0){
                  layer.msg("请填写注意事项",{icon:2});
                  return;
              }

              if($("#haveTo").val().trim().length==0){
                  layer.msg("请填写必玩必吃之事",{icon:2});
                  return;
              }*/
            var data = $("#frmGuidEdit").serializeArray(); //自动将form表单封装成json
            submitEdit("$!utilWebconfig.getActionDefaultFontPath()/jiuxiu/guideManage/editGuide", "post", data);
        });
    });
</script>
</body>

</html>
