<style type="text/css">
    .table > thead th,
    .table > tbody td {
        text-align: center;
        vertical-align: middle;
    }

    .table tr.selected {
        background: #ffe7bc;
    }
</style>


<form class="form-signin" id="tbScenicList" name="tbScenicList" method="GET"
      action="$!utilWebconfig.getActionDefaultFontPath()/jiuniu/guideManage/scenic/list">
    <div class="inputGroup">
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">景区名称：</button>
                </span>
            <input type="text" class="form-control" name="scenicName" value="">
        </div>
        <div class="input-group inpSingle">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button">资源编号：</button>
                    </span>
            <input type="text" class="form-control" name="scenicNumber" value="">
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary submitBtn">搜索</button>
        </div>
    </div>
    <div class="tableGroup whole">
        <table class="table table-bordered" id="tbScenicList">
            <thead>
            <tr>
                <th>选择</th>
                <th>景区名称</th>
                <th>资源编号</th>
                <th>地址</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
                #foreach($item in $itemList)
                <tr>
                    <td>
                        <input type="checkbox" id="$!{item.id}" subjectId="$!{item.subjectId}" name="${item.name}"
                               locationText="${item.locationText}" locationProvinceName="${item.locationProvinceName}"
                               locationCityName ="${item.locationCityName}" locationTownName="${item.locationTownName}"
                               level="${item.level}" locationX="${item.locationX}" locationY="${item.locationY}"
                        />
                    </td>
                    <td>
                        $!item.name
                    </td>
                    <td>
                        $!item.id
                    </td>
                    <td>
                        $!item.locationText
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" themeid="1800">查看详情</a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</form>
#*分页*#
#parse("/page.vm")
#pageStyle("tbScenicList")
<script type="text/javascript">
    $(function () {
        $("#tbScenicList").on("click", "input[type='checkbox']", function () {
            var checkbox = $(this);
            var checked = checkbox[0].checked;
            var tr = checkbox.closest("tr");

            if (checked) {
                var selecetdtr = $("#tbScenicList tr.selected");
                selecetdtr.removeClass("selected");
                selecetdtr.find("input[type='checkbox']").attr("checked", false);

                tr.addClass("selected");
            } else {
                tr.removeClass("selected");
            }
        });
    });

    function getItem() {
        var selecetdtr = $("#tbScenicList tr.selected").find("input[type='checkbox']");

        return {
            id: selecetdtr.attr("id"),
            subjectId:selecetdtr.attr("subjectId"),
            name:selecetdtr.attr("name"),
            locationText:selecetdtr.attr("locationText"),
            locationProvinceName:selecetdtr.attr("locationProvinceName"),
            locationCityName:selecetdtr.attr("locationCityName"),
            locationTownName:selecetdtr.attr("locationTownName"),
            level:selecetdtr.attr("level"),
            locationX:selecetdtr.attr("locationX"),
            locationY:selecetdtr.attr("locationY")
        }
    }
</script>



