.table th {
    width: 20%;
    text-align: right;
    vertical-align: middle;
}

.table td {
    width: 80%;
}

.upload-btn {
    position: relative;
}

.upload-btn .btn {
    width: 100px;
}

.upload-btn .upload-file {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 102px;
    height: 33px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-view {
    margin-top: 10px;
}

.upload-view .img-wapper {
    position: relative;
    width: 150px;
    height: 75px;
    border: 1px solid #ccc;
}

.img-wapper.uploaded:hover .delete-btn {
    display: block;
}

.upload-view .upload-img {
    width: 100%;
    height: 100%;
}

.upload-view .delete-btn {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: pointer;
}

.audio-list {
    margin-top: 10px;
}

.audio-item {
    width: 490px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    background: #fafafa;
    overflow: hidden;
}

.audio-img {
    float: left;
    width: 100px;
    height: 75px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.audio-img img {
    width: 100%;
    height: 100%;
}

.audio-info {
    margin-right: 10px;
}

.audio-info-item label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 80px;
    text-align: right;
}

.audio-info-item span,
.audio-info-item input {
    display: inline-block;
    width: 200px;
    height: 32px;
    line-height: 32px;
}

.audio-info-item input {
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.53846154;
    color: #222;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.line-editor {
    width: 320px;
    padding: 10px;
    margin: 0 auto;
}

.line-editor .line {
    position: relative;
    width: 300px;
    padding: 10px;
    margin-top: 50px;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.line .line-info {
    width: 100%;
    text-align: center;
}

.line .form-control {
    display: inline-block;
}
.line input {
    width: 100px;
    margin-right: 10px;
}

.line select{
    width: 150px;
}

.line .arrow {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -5px;
    width: 8px;
    height: 30px;
    background: #999;
}

.line .arrow>em {
    position: absolute;
    content: '';
    left: -50%;
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #999;
}

.line.start {
    margin-top: 0;
}

.line.start .arrow {
    display: none;
}
