<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>景点列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/css/zui.min.css?version=21" rel="stylesheet">
    <link rel="stylesheet" href="http://console.test.jiuxiulvxing.com/palace-web/resources/css/common.css?version=21" />
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/zui/js/zui.min.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/respond.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/common.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/layer-v2.1/layer.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery-form.js?version=21" type="text/javascript"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.validate.min.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/JQ_verify.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.metadata.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/js/jquery.validform.js?version=21"></script>
    <script src="http://console.test.jiuxiulvxing.com/palace-web/resources/validate/messages_zh.min.js?version=21" type="text/javascript"></script>
    <style type="text/css">
    .table>thead th,
    .table>tbody td {
        text-align: center;
        vertical-align: middle;
    }
    </style>
</head>

<body>
    <form id="form1" name="form1">
        <div class="btnBottomMargin">
            <a type="button" class="btn btn-primary" href="spotdetail.html">添加景点</a>
        </div>
        <div class="tableGroup whole">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>景点编号</th>
                        <th>景点名称</th>
                        <th>景点图</th>
                        <th>语音数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            景区导览1
                        </td>
                        <td>
                            <img src="http://img.test.yimayholiday.com/v1/tfs//T1A3VTByKT1RXrhCrK.jpg" width="150" height="90">
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" themeid="1800">编辑</button>
                            <button type="button" class="btn btn-primary" themeid="1800">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>
