<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>

<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="example whole">
    <form name="commodityForm" id="commodityForm" action="" method="post" commodityId="$!commodity.id">
        <div class="">
                <table class="table">
                    <input type="hidden" name="categoryId" value="$!category.id">
                    <input type="hidden" name="rootCategoryId" value="$!category.parent.id">
                    #*商品类型，此页面全是普通商品发布 新增的时候需要，修改的时候不更新此字段*#
                    #*<input type="hidden" name="itemType" value="#if($!itemType)$!itemType#else$!commodity.itemType#end">*#
                    <input type="hidden" name="itemType" value="1">

                    #*pay_type 暂时设置为1*#
                    <input type="hidden" name="payType" value="1">
                    #*source 来源暂时都为1*#
                    <input type="hidden" name="source" value="1">

                    #*version 新增时为1*#
                    <input type="hidden" name="version" value="1">
                    #*有没有sku*#
                    <input type="hidden" name="options" value="#if($!category.sellCategoryPropertyDOs) 1 #else 0 #end">


                    <tbody>
                    <tr>
                        <td><span class="spColor">*</span>分类</td>
                        <td>
                            $!category.name
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品名称</td>
                        <td>
                            <input type="text" name="title" value="$!commodity.title">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品价格</td>
                        <td>
                            <input type="text" name="price" value="$!commodity.price">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品库存</td>
                        <td>
                            <input type="text" name="stockNum" value="$!commodity.stockNum">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品简介</td>
                        <td>
                            <input type="text" name="subTitle" value="$!commodity.subTitle">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品描述</td>
                        <td>
                            <input type="text" name="oneWord" value="$!commodity.oneWord">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品详细描述</td>
                        <td>
                            <script type="text/javascript">
                                $(function() {
                                    window.UEDITOR_HOME_URL = "${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/";
                                    var ue = UE.getEditor('editor');
                                });
                            </script>
                            <script id="editor" type="text/plain" name="description" style="width: 100%; height:350px">$!commodity.description</script>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品图片列表</td>
                        <td class="picUrlsTd">
                            <input id="batchUploadBtn" type="file" multiple="multiple" >
                            #*<img class="picUrlsUrl" src="#if($!commodity.detailUrl)$utilWebconfig.getTfsRootPath()$!commodity.detailUrl #end">*#
                        </td>
                        <input class="picUrlsVal" type="hidden" name="picUrls" value="$!commodity.picUrls">
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品详细图片</td>
                        <td>
                            <input id="fileDetailUrl" type="file" >
                            <img class="detailUrlUrl" src="#if($!commodity.detailUrl)$utilWebconfig.getTfsRootPath()$!commodity.detailUrl #end">
                            <input class="detailUrlVal" type="hidden" name="detailUrl" value="$!commodity.detailUrl">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>排序111222</td>
                        <td><input type="text" name="index" value="$!commodity.index" disabled></td>
                    </tr>

                    #*解析关键属性*#
                    #foreach($keyCategoryProperty in $category.keyCategoryPropertyDOs)
                        <tr class="property keyProperty" pId="$!keyCategoryProperty.categoryPropertyDO.id" pTxt="$!keyCategoryProperty.categoryPropertyDO.text" pType="$!keyCategoryProperty.categoryPropertyDO.type">
                            <td><span class="spColor">*</span>$!keyCategoryProperty.categoryPropertyDO.text</td>
                            <td>
                                    #*属性可选值*#
                                    <select class="form-control propertySelect">
                                        <option value="0" >请选择</option>
                                        #foreach($categoryValueDO in $keyCategoryProperty.categoryPropertyDO.categoryValueDOs)
                                            <option value="$!categoryValueDO.id" vId="$!categoryValueDO.id" vTxt="$!categoryValueDO.text">$!categoryValueDO.text</option>
                                        #end
                                    </select>
                                    #*支持自定义*#
                                    #if($!keyCategoryProperty.canCustom == 1)
                                    #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                        #if($!keyCategoryProperty.categoryPropertyDO.type == 1)
                                            <span><input class="propertyInput" type="text" value=""></span>
                                        #elseif($!keyCategoryProperty.categoryPropertyDO.type == 2)
                                            <input type="text" class='form-control form-date propertyInput' placeholder='yyyy-MM-dd' readonly value="">
                                        #elseif($!keyCategoryProperty.categoryPropertyDO.type == 3)
                                            3
                                        #elseif($!keyCategoryProperty.categoryPropertyDO.type == 4)
                                            4
                                        #elseif($!keyCategoryProperty.categoryPropertyDO.type == 5)
                                            5
                                        #end
                                    #end
                            </td>
                        </tr>
                    #end
                    #*解析普通属性*#
                        #foreach($keyCategoryProperty in $category.nonKeyCategoryPropertyDOs)
                        <tr class="property nonKeyProperty" pId="$!keyCategoryProperty.categoryPropertyDO.id" pTxt="$!keyCategoryProperty.categoryPropertyDO.text" pType="$!keyCategoryProperty.categoryPropertyDO.type">
                            <td><span class="spColor">*</span>$!keyCategoryProperty.categoryPropertyDO.text</td>
                            <td>
                            #*属性可选值*#
                                <select class="form-control propertySelect">
                                    <option value="0" >请选择</option>
                                    #foreach($categoryValueDO in $keyCategoryProperty.categoryPropertyDO.categoryValueDOs)
                                        <option value="$!categoryValueDO.id" vId="$!categoryValueDO.id" vTxt="$!categoryValueDO.text">$!categoryValueDO.text</option>
                                    #end
                                </select>
                            #*支持自定义*#
                                #if($!keyCategoryProperty.canCustom == 1)
                                #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                    #if($!keyCategoryProperty.categoryPropertyDO.type == 1)
                                        <span><input type="text" value=""></span>
                                    #elseif($!keyCategoryProperty.categoryPropertyDO.type == 2)
                                        <input type="text" class='form-control form-date' placeholder='yyyy-MM-dd' readonly value="">
                                    #elseif($!keyCategoryProperty.categoryPropertyDO.type == 3)
                                        3
                                    #elseif($!keyCategoryProperty.categoryPropertyDO.type == 4)
                                        4
                                    #elseif($!keyCategoryProperty.categoryPropertyDO.type == 5)
                                        5
                                    #end
                                #end
                            </td>
                        </tr>
                        #end
                    #*解析销售属性(sku属性)*#
                        #foreach($sellCategoryProperty in $category.sellCategoryPropertyDOs)
                        <tr class="sellProperty" sellPropertyType="$!sellCategoryProperty.categoryPropertyDO.type"  sellPropertyId="$!sellCategoryProperty.categoryPropertyDO.id" sellPropertyText="$!sellCategoryProperty.categoryPropertyDO.text">
                            <td><span class="spColor">*</span>$!sellCategoryProperty.categoryPropertyDO.text</td>
                            <td>
                                #foreach($categoryValue in $sellCategoryProperty.categoryPropertyDO.categoryValueDOs)
                                #*sku可选值*#
                                        <span><input type="checkbox" class="skuCheckbox" sellValueId="$!{categoryValue.id}" sellValueText="$!categoryValue.text" name="" value="$!{categoryValue.id}" >$!categoryValue.text</span>
                                #end
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
            <div class="skuTable">
                您需要选择所有的销售属性，才能组合成完整的规格信息。
            </div>
            <div class="">
                <table class="table table-hover">
                    <tbody>
                        <tr class="subCheckedTR">
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clubBotBtn">
                <div class="btn-group">
                    #*json string 提交*#
                    <input type="hidden" name="itemProperties" id="itemProperties" value="$!commodity.itemProperties">
                    <input type="hidden" name="itemSkuVOStr" id="itemSkuVOStr" value="$!commodity.itemSkuVOStr">
                    <button class="btn btn-success" type="button" id="btnSubmit" >添加</button>
                </div>
                <div class="btn-group">
                    <button type="button"  class="btn closBtn">取消</button>
                </div>
            </div>
        <div class="">
            #if($!commodity.id)
                <table class="table">
                    <tbody>
                    <tr>
                        <td>创建时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtCreated,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    <tr>
                        <td>更新时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtModified,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    </tbody>
                </table>
            #end
        </div>
    </form>
</div>
<script>
    $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
    var pictureUploadCallBack = function(data){
        if(data && data.status == 200){
            $('.detailUrlVal').val(data.data);
            $('.detailUrlUrl').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }
    var batchCallBack = function(dataVal){
        for(var key in dataVal.data){
             $('.picUrlsTd').append('<img class="picUrlsUrl" imgUrl="' + dataVal.data[key]+'" src="' + tfsRootPath + dataVal.data[key]+'" alt="">');
        }
    }
    $(function(){
        //上传图片detailUrl
        $(document).delegate("#fileDetailUrl",'change',function(){
            fileUpload('#fileDetailUrl',1,pictureUploadCallBack);
        })
        /****************批量上传pic_urls*****************/
        $(document).delegate("#batchUploadBtn",'change',function(){
            fileUpload('#batchUploadBtn',2,batchCallBack);
        })
        //sku属性
        var skuProperty = new Array();
        //生成sku最终数组(初始化是check偶是false)
        var skuPropertyAll = new Array();
        //sku表格显示标志
        //显示的sku数组
        var skuPropertyShowAll = new Array();
        var skuTableShowFlag = false;
        /*var checkSkuAllSelect = function(){

            for(var name in skuProperty){
                if(this.hasOwnProperty(name) && typeof skuProperty[name] !== 'function'){
                    if(JSON.stringify(skuProperty[name]['value']) === '{}'){
                        //有没有填的属性时直接停止执行
                        if(skuTableShowFlag){
                            skuTableShowFlag = false;
                        }
                        return false;
                    }
                }
            }
        }*/
        //生成sku选项数组
        $('.sellProperty').each(function(i){
            var sku = {pId:$(this).attr('sellPropertyId'),pTxt:$(this).attr('sellPropertyText'),pType:$(this).attr('sellPropertyType'),pValue:new Array()};
            $(this).find('.skuCheckbox').each(function(){
                sku.pValue.push({vId:$(this).attr('sellValueId'),vTxt:$(this).attr('sellValueText')});
            });
            skuProperty.push(sku);
        });
        //生成sku最终数组(初始化是check偶是false)
        for(var i = 0;i < skuProperty.length;i++){
            var tranArr = new Array();
            if(skuPropertyAll.length){
                skuPropertyAll.map(function(vArr){
                    for(var j = 0;j < skuProperty[i]['pValue'].length;j++){
                        var pv = {
                            "pId": skuProperty[i]['pId'],
                            "pTxt": skuProperty[i]['pTxt'],
                            "pType": skuProperty[i]['pType'],
                            "vId": skuProperty[i]['pValue'][j]['vId'],
                            "vTxt": skuProperty[i]['pValue'][j]['vTxt'],
                            "check":false
                        };
                        var vArrClone = $.extend([], vArr);
                        vArrClone.push(pv);
                        tranArr.push(vArrClone);
                    }
                });

            }else{
                for(var j = 0;j < skuProperty[i]['pValue'].length;j++){
                    var pv = {
                        "pId": skuProperty[i]['pId'],
                        "pTxt": skuProperty[i]['pTxt'],
                        "pType": skuProperty[i]['pType'],
                        "vId": skuProperty[i]['pValue'][j]['vId'],
                        "vTxt": skuProperty[i]['pValue'][j]['vTxt'],
                        "check":false
                    };
                    tranArr.push([pv]);
                }
            }
            skuPropertyAll = $.extend([], tranArr);//JSON.parse(JSON.stringify(tranArr));//避免引用
        }
        //设置表格是否显示的flag
        var setTableShowFlag = function(){
            //TODO 判断是否生成sku表格
            $('.sellProperty').each(function(){
                skuTableShowFlag = true;
                if($(this).find('.skuCheckbox:checked').length < 1){
                    //属性没有完全填写不显示表格
                    skuTableShowFlag = false;
                }
            });
        }
        //构建生成sku表格
        var createTable = function(){
            //TODO 先用filter取出显示的sku
            skuPropertyShowAll = skuPropertyAll.filter(function(v){
                var flag = true;
                for(var i = 0;i <v.length;i++){
                    if(!v[i]['check']){
                        flag = false;
                    }
                }
                if(flag){
                    return v;
                }
            })
            //计算生成sku表格时各属性td占用的行数
            var tdRowSpanNumArr = new Array();//sku属性td占的行数
            $('.sellProperty').each(function(){
                tdRowSpanNumArr.push($(this).find('.skuCheckbox:checked').length)
            });
            var len = tdRowSpanNumArr.length;
            for(var i = 0;i < len;i++){
                if(i === len - 1){
                    tdRowSpanNumArr[i] = 1;
                }else if(i === len - 2){
                    tdRowSpanNumArr[i] = tdRowSpanNumArr[i + 1];
                }else{
                    tdRowSpanNumArr[i] = tdRowSpanNumArr[i + 1] * tdRowSpanNumArr[i + 2];
                }
            }
            //生成sku表格
            var tableStart = '<table>'
                    + '<caption>销售属性匹配表</caption>'
            + '<thead>';
            var titleTrBody = '<tr>';
            for(var i = 0;i < skuProperty.length;i++){
                titleTrBody += '<th><span>' +skuProperty[i]["pTxt"]+ '</span></th>';
            }
            titleTrBody += '<th><span>价格</span></th>';
            titleTrBody += '<th><span>数量</span></th>'
            titleTrBody += '</tr>';
            var trBody = '';

            for(var i = 0;i < skuPropertyShowAll.length;i++){
                trBody += '<tr class="skuTbEdit">';
                for(var j = 0;j < skuPropertyShowAll[i].length; j++){
                    if(i % tdRowSpanNumArr[j] === 0){
                        trBody += '<td rowspan="' + tdRowSpanNumArr[j] + '"><span>' + skuPropertyShowAll[i][j]["vTxt"] + '</span></td>';
                    }
                }
                trBody += '<td><input class="price" type="text" value=""></td>';
                trBody += '<td><input class="stock" type="text" value=""></td>';
                trBody += '</tr>';
            }
            var talbeEnd = '</table>';
            return tableStart + titleTrBody + trBody + talbeEnd;
        }
        //选择sku
        $('.skuCheckbox').click(function(){
            //TODO 变更前保存编辑结果

            var pId = $(this).parents('tr').attr('sellPropertyId');
            var pTxt = $(this).parents('tr').attr('sellPropertyText');
            var vId = $(this).attr('sellValueId');
            var vTxt = $(this).attr('sellValueText');
            //选中状态
            var checkStatus = $(this).prop("checked");
            for(var i = 0;i < skuPropertyAll.length;i++){
                for(var j = 0;j < skuPropertyAll[i].length;j++){
                    if(pId === skuPropertyAll[i][j]["pId"] && vId === skuPropertyAll[i][j]["vId"]){
                        skuPropertyAll[i][j]["check"] = checkStatus;
                    }
                }
            }
            //设置表格是否显示的flag
            setTableShowFlag();
            if(skuTableShowFlag){
                $('.skuTable').html(createTable());
            }else{
                $('.skuTable').html('您需要选择所有的销售属性，才能组合成完整的规格信息。');
            }


            $('#btnSubmit').click(function(){
                //property
                var propertyArr = new Array();
                $('.keyProperty').each(function(){
                    //TODO 判断必填项
                });
                $('.property').each(function(){
                    //
                    var v = $(this).find('propertySelect');
                    var vId = 0;
                    var vTxt = '';
                    if(v && $(v).val() !== '0'){
                        vId = $(v).val();
                        vTxt = $(v).find(':checked').text();
                    }else{
                        vTxt = $(this).find('propertyInput').val();
                    }
                    var property = {
                        'pId':$(this).attr('pId'),
                        'pTxt':$(this).attr('pTxt'),
                        'pType':$(this).attr('pType'),
                        'vId':vId,
                        'vTxt':vTxt
                    }
                    propertyArr.push(property);
                });
                $('#itemProperties').val(JSON.stringify(propertyArr));

                //sku
                var skuArr = new Array();
                $('.skuTbEdit').each(function(i){
                    var sku ={
                        'stockNum':$(this).find('.stock').val(),
                        'priceY':$(this).find('.price').val(),
                        'itemSkuPVPairList':skuPropertyShowAll[i]
                    }
                    skuArr.push(sku);
                });
                //图片列表
                var picUrls = '';
                $('.picUrlsUrl').each(function(){
                    if(picUrls){
                        picUrls += '|' + $(this).attr('imgUrl');
                    }else{
                        picUrls += $(this).attr('imgUrl');
                    }
                });
                $('.picUrlsVal').val(picUrls);
                $('#itemSkuVOStr').val(JSON.stringify(skuArr));
                $('#commodityForm').attr('action',actionDefaultPath + '/B2C/commodityManage/common/add');
                $('#commodityForm').submit();
            });
        });

    });
</script>