<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>
<div class="example whole">
    <form name="commodityForm" id="commodityForm" action="" method="post" commodityId="$!commodity.id">
        <div class="">
                <table class="table">
                    <input type="hidden" name="categoryId" value="$!category.id">
                    <input type="hidden" name="itemType" value="">
                    <tr>
                        <td><span class="spColor">*</span>分类</td>
                        <td>
                            $!category.name
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品名称</td>
                        <td>
                            <input type="text" name="title" value="$!commodity.title">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品简介</td>
                        <td>
                            <input type="text" name="subTitle" value="$!commodity.subTitle">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品描述</td>
                        <td>
                            <input type="text" name="oneWord" value="$!commodity.oneWord">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>排序</td>
                        <td><input type="text" name="index" value="$!commodity.index"></td>
                    </tr>

                    #*解析关键属性*#
                    #foreach($keyCategoryProperty in $category.keyCategoryPropertyDOs)
                        <tr pId="" pTxt="" pType="">
                            <td><span class="spColor">*</span>$!keyCategoryProperty.categoryPropertyDO.text</td>
                            <td>
                                #foreach($categoryValue in $keyCategoryProperty.categoryPropertyDO.categoryValueDOs)
                                        #*属性可选值*#
                                        #foreach($categoryValueDO in $!categoryValue.categoryValueDOs)
                                            <select class="form-control">
                                                <option value="0" >全部</option>
                                                <option value="$!categoryValueDO.id" vId="$!categoryValueDO.id" vTxt="$!categoryValueDO.text">$!categoryValueDO.text</option>
                                            </select>
                                        #end
                                        #*支持自定义*#
                                        #if($!categoryValue.canCustom == 1)
                                        #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                            #if($!categoryValue.type == 1)
                                                <span><input type="text" value=""></span>
                                            #elseif($!categoryValue.type == 2)
                                                <input type="text" class='form-control form-date' placeholder='yyyy-MM-dd' readonly value="">
                                            #elseif($!categoryValue.type == 3)
                                                3
                                            #elseif($!categoryValue.type == 4)
                                                4
                                            #elseif($!categoryValue.type == 5)
                                                5
                                            #end
                                        #end
                                #end
                            </td>
                        </tr>
                    #end
                    #*解析普通属性*#

                    #*解析销售属性(sku属性)*#
                        #foreach($sellCategoryProperty in $category.sellCategoryPropertyDOs)
                        <tr class="sellProperty" sellPropertyType="$!sellCategoryProperty.categoryPropertyDO.type"  sellPropertyId="$!sellCategoryProperty.categoryPropertyDO.id" sellPropertyText="$!sellCategoryProperty.categoryPropertyDO.text">
                            <td><span class="spColor">*</span>$!sellCategoryProperty.categoryPropertyDO.text</td>
                            <td>
                                #foreach($categoryValue in $sellCategoryProperty.categoryPropertyDO.categoryValueDOs)
                                #*sku可选值*#
                                        <span><input type="checkbox" class="skuCheckbox" sellValueId="$!{categoryValue.id}" sellValueText="$!categoryValue.text" name="" value="$!{categoryValue.id}" >$!categoryValue.text</span>
                                #end
                            </td>
                        </tr>
                        #end
                </table>
            </div>
            <div class="skuTable">
                您需要选择所有的销售属性，才能组合成完整的规格信息。
            </div>
            <div class="">
                <table class="table table-hover">
                        <tr class="subCheckedTR">
                            <td></td>
                            <td></td>
                        </tr>
                </table>
            </div>
            <div class="clubBotBtn">
                <div class="btn-group">
                    #*json string 提交*#
                    <input type="text" name="itemProperties" value="$!commodity.itemProperties">
                    <input type="text" name="itemSkuDOStr" value="$!commodity.itemSkuDOStr">
                    <button class="btn btn-success" type="button" id="btnSubmit" >添加</button>
                </div>
                <div class="btn-group">
                    <button type="button"  class="btn closBtn">取消</button>
                </div>
            </div>
        <div class="">
            #if($!commodity.id)
                <table class="table">
                    <tbody>
                    <tr>
                        <td>创建时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtCreated,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    <tr>
                        <td>更新时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtModified,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                </table>
            #end
        </div>
    </form>
</div>
<script>
        $(function(){
            //sku属性
            var skuProperty = new Array();
            //sku表格显示标志
            var skuTableShowFlag = false;
            /*var checkSkuAllSelect = function(){

                for(var name in skuProperty){
                    if(this.hasOwnProperty(name) && typeof skuProperty[name] !== 'function'){
                        if(JSON.stringify(skuProperty[name]['value']) === '{}'){
                            //有没有填的属性时直接停止执行
                            if(skuTableShowFlag){
                                skuTableShowFlag = false;
                            }
                            return false;
                        }
                    }
                }
            }*/
            //生成sku选项数组
            $('.sellProperty').each(function(i){
                var sku = {pId:$(this).attr('sellPropertyId'),pTxt:$(this).attr('sellPropertyText'),pType:$(this).attr('sellPropertyType'),pValue:new Array()};
                $(this).find('.skuCheckbox').each(function(){
                    sku.pValue.push({vId:$(this).attr('sellValueId'),vTxt:$(this).attr('sellValueText')});
                });
                skuProperty.push(sku);
            });
            //生成sku最终数组(初始化是check偶是false)
            var skuPropertyAll = new Array();
            for(var i = 0;i < skuProperty.length;i++){
                var tranArr = new Array();
                if(skuPropertyAll.length){
                    skuPropertyAll.map(function(vArr){
                        for(var j = 0;j < skuProperty[i]['pValue'].length;j++){
                            var pv = {
                                "pId": skuProperty[i]['pId'],
                                "pTxt": skuProperty[i]['pTxt'],
                                "pType": skuProperty[i]['pType'],
                                "vId": skuProperty[i]['pValue'][j]['vId'],
                                "vTxt": skuProperty[i]['pValue'][j]['vTxt'],
                                "check":false
                            };
                            var vArrClone = $.extend([], vArr);
                            vArrClone.push(pv);
                            tranArr.push(vArrClone);
                        }
                    });

                }else{
                    for(var j = 0;j < skuProperty[i]['pValue'].length;j++){
                        var pv = {
                            "pId": skuProperty[i]['pId'],
                            "pTxt": skuProperty[i]['pTxt'],
                            "pType": skuProperty[i]['pType'],
                            "vId": skuProperty[i]['pValue'][j]['vId'],
                            "vTxt": skuProperty[i]['pValue'][j]['vTxt'],
                            "check":false
                        };
                        tranArr.push([pv]);
                    }
                }
                skuPropertyAll = $.extend([], tranArr);//JSON.parse(JSON.stringify(tranArr));//避免引用
            }
            //设置表格是否显示的flag
            var setTableShowFlag = function(){
                //TODO 判断是否生成sku表格
                $('.sellProperty').each(function(){
                    skuTableShowFlag = true;
                    if($(this).find('.skuCheckbox:checked').length < 1){
                        //属性没有完全填写不显示表格
                        skuTableShowFlag = false;
                    }
                });
            }
            //构建生成sku表格
            var createTable = function(){
                //TODO 先用filter取出显示的sku
                var skuPropertyShowAll = new Array();
                skuPropertyShowAll = skuPropertyAll.filter(function(v){
                    var flag = true;
                    for(var i = 0;i <v.length;i++){
                        if(!v[i]['check']){
                            flag = false;
                        }
                    }
                    if(flag){
                        return v;
                    }
                })
                //计算生成sku表格时各属性td占用的行数
                var tdRowSpanNumArr = new Array();//sku属性td占的行数
                $('.sellProperty').each(function(){
                    tdRowSpanNumArr.push($(this).find('.skuCheckbox:checked').length)
                });
                var len = tdRowSpanNumArr.length;
                for(var i = 0;i < len;i++){
                    if(i === len - 1){
                        tdRowSpanNumArr[i] = 1;
                    }else if(i === len - 2){
                        tdRowSpanNumArr[i] = tdRowSpanNumArr[i + 1];
                    }else{
                        tdRowSpanNumArr[i] = tdRowSpanNumArr[i + 1] * tdRowSpanNumArr[i + 2];
                    }
                }
                //生成sku表格
                var tableStart = '<table>'
                        + '<caption>销售属性匹配表</caption>';
                var titleTrBody = '<tr>';
                for(var i = 0;i < skuProperty.length;i++){
                    titleTrBody += '<th><span>' +skuProperty[i]["pTxt"]+ '</span></th>';
                }
                titleTrBody += '<th><span>价格</span></th>';
                titleTrBody += '<th><span>数量</span></th>'
                titleTrBody += '</tr>';
                var trBody = '';

                for(var i = 0;i < skuPropertyShowAll.length;i++){
                    trBody += '<tr class="skuTbEdit">';
                    for(var j = 0;j < skuPropertyShowAll[i].length; j++){
                        if(i % tdRowSpanNumArr[j] === 0){
                            trBody += '<td rowspan="' + tdRowSpanNumArr[j] + '"><span>' + skuPropertyShowAll[i][j]["vTxt"] + '</span></td>';
                        }
                    }
                    trBody += '<td class="price"><input type="text" value=""></td>';
                    trBody += '<td class="stock"><input type="text" value=""></td>';
                    trBody += '</tr>';
                }
                var talbeEnd = '</table>';
                return tableStart + titleTrBody + trBody + talbeEnd;
            }
            //选择sku
            $('.skuCheckbox').click(function(){
                //TODO 变更前保存编辑结果

                var pId = $(this).parents('tr').attr('sellPropertyId');
                var pTxt = $(this).parents('tr').attr('sellPropertyText');
                var vId = $(this).attr('sellValueId');
                var vTxt = $(this).attr('sellValueText');
                //选中状态
                var checkStatus = $(this).prop("checked");
                for(var i = 0;i < skuPropertyAll.length;i++){
                    for(var j = 0;j < skuPropertyAll[i].length;j++){
                        if(pId === skuPropertyAll[i][j]["pId"] && vId === skuPropertyAll[i][j]["vId"]){
                            skuPropertyAll[i][j]["check"] = checkStatus;
                        }
                    }
                }
                //设置表格是否显示的flag
                setTableShowFlag();
                if(skuTableShowFlag){
                    $('.skuTable').html(createTable());
                }else{
                    $('.skuTable').html('您需要选择所有的销售属性，才能组合成完整的规格信息。');
                }


                $('#btnSubmit').click(function(){
                    $('.skuTbEdit').each(function(i){

                    });
                });
        });


    });
</script>