<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js"></script>
<div class="example whole">
    <form name="commodityForm" id="commodityForm" action="" method="post" commodityId="$!commodity.id">
        <div class="">
                <table class="table">
                    <input type="hidden" name="categoryId" value="$!category.id">
                    <input type="hidden" name="itemType" value="">
                    <tbody>
                    <tr>
                        <td><span class="spColor">*</span>分类</td>
                        <td>
                            $!category.name
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品名称</td>
                        <td>
                            <input type="text" name="title" value="$!commodity.title">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品简介</td>
                        <td>
                            <input type="text" name="subTitle" value="$!commodity.subTitle">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品描述</td>
                        <td>
                            <input type="text" name="oneWord" value="$!commodity.oneWord">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>排序</td>
                        <td><input type="text" name="index" value="$!commodity.index"></td>
                    </tr>

                    #*解析关键属性*#
                    #foreach($keyCategoryProperty in $category.keyCategoryPropertyDOs)
                        <tr>
                            <td><span class="spColor">*</span>$!keyCategoryProperty.text</td>
                            <td>
                                #foreach($categoryValue in $keyCategoryProperty.categoryValueDOs)
                                        #*属性可选值*#
                                        #foreach($categoryValueDO in $!categoryValue.categoryValueDOs)

                                            <select class="form-control" name="$!keyCategoryProperty.text">
                                                <option value="0" >全部</option>
                                                <option value="$!categoryValueDO.id" #if($!commodityListQuery.commStatus == 1) selected #end>$!categoryValueDO.text</option>
                                            </select>

                                        #end
                                        #*支持自定义*#
                                        #if($!categoryValue.canCustom == 1)
                                        #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                            #if($!categoryValue.type == 1)
                                                <span><input type="text" name="" value=""></span>
                                            #elseif($!categoryValue.type == 2)
                                                <input type="text" class='form-control form-date' placeholder='yyyy-MM-dd' readonly name="beginDate" value="">
                                            #elseif($!categoryValue.type == 3)
                                                3
                                            #elseif($!categoryValue.type == 4)
                                                4
                                            #elseif($!categoryValue.type == 5)
                                                5
                                            #end
                                        #end
                                #end
                                <input type="text" name="index" value="$!commodity.index" disabled>
                            </td>
                        </tr>
                    #end
                    #*解析普通属性*#
                        #foreach($nonKeyCategoryProperty in $category.nonKeyCategoryPropertyDOs)
                        <tr>
                            <td><span class="spColor">*</span>$!nonKeyCategoryProperty.text</td>
                            <td>
                                #foreach($categoryValue in $nonKeyCategoryProperty.categoryValueDOs)
                                #*属性可选值*#
                                    #foreach($categoryValueDO in $!categoryValue.categoryValueDOs)

                                        <select class="form-control" name="$!nonKeyCategoryProperty.text">
                                            <option value="0" >全部</option>
                                            <option value="$!categoryValueDO.id" #if($!commodityListQuery.commStatus == 1) selected #end>$!categoryValueDO.text</option>
                                        </select>

                                    #end
                                #*支持自定义*#
                                    #if($!categoryValue.canCustom == 1)
                                    #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                        #if($!categoryValue.type == 1)
                                            <span><input type="text" name="" value=""></span>
                                        #elseif($!categoryValue.type == 2)
                                            <input type="text" class='form-control form-date' placeholder='yyyy-MM-dd' readonly name="beginDate" value="">
                                        #elseif($!categoryValue.type == 3)
                                            3
                                        #elseif($!categoryValue.type == 4)
                                            4
                                        #elseif($!categoryValue.type == 5)
                                            5
                                        #end
                                    #end
                                #end
                                <input type="text" name="index" value="$!commodity.index" disabled>
                            </td>
                        </tr>
                        #end
                    #*解析销售属性*#
                        #foreach($sellCategoryProperty in $category.sellCategoryPropertyDOs)
                        <tr>
                            <td><span class="spColor">*</span>$!sellCategoryProperty.text</td>
                            <td>
                                #foreach($categoryValue in $sellCategoryProperty.categoryValueDOs)
                                #*属性可选值*#
                                    #foreach($categoryValueDO in $!categoryValue.categoryValueDOs)

                                        <select class="form-control" name="$!sellCategoryProperty.text">
                                            <option value="0" >全部</option>
                                            <option value="$!categoryValueDO.id" #if($!commodityListQuery.commStatus == 1) selected #end>$!categoryValueDO.text</option>
                                        </select>

                                    #end
                                #*支持自定义*#
                                    #if($!categoryValue.canCustom == 1)
                                    #*1:文字,2:日期,3:酒店,4:景点,5:人员*#
                                        #if($!categoryValue.type == 1)
                                            <span><input type="text" name="" value=""></span>
                                        #elseif($!categoryValue.type == 2)
                                            <input type="text" class='form-control form-date' placeholder='yyyy-MM-dd' readonly name="beginDate" value="">
                                        #elseif($!categoryValue.type == 3)
                                            3
                                        #elseif($!categoryValue.type == 4)
                                            4
                                        #elseif($!categoryValue.type == 5)
                                            5
                                        #end
                                    #end
                                #end
                                <input type="text" name="index" value="$!commodity.index" disabled>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
            <div class="">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>说明</th>
                        <th>单价</th>
                        <th>会员优惠额度</th>
                        <th>会员限购</th>
                        <th>图片</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr class="subCheckedTR">
                            <td><input type="text" name="title" value="$!commodity.title"></td>
                            <td><input type="text" name="oneWord" value="$!commodity.oneWord"></td>
                            <td><input type="text" name="price" value="$!commodity.price"></td>
                            <td><input type="text" name="huiyuanyouhuiedu" value="$!commodity.huiyuanyouhuiedu" disabled></td>
                            <td><input type="text" name="huiyuanxiangou" value="$!commodity.huiyuanxiangou" disabled></td>
                            <td>
                                <input id="fileID" type="file" accept="image/png,image/gif">
                                <img class="picUrlImg" src="#if($!hotel.logoUrl)$utilWebconfig.getTfsRootPath()$!hotel.logoUrl #end">
                                <input class="picUrlVal" type="hidden" name="picUrls" value="$!commodity.picUrls">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clubBotBtn">
                <div class="btn-group">
                    <button class="btn btn-success" type="button" id="btnSubmit" >添加</button>
                </div>
                <div class="btn-group">
                    <button type="button"  class="btn closBtn">取消</button>
                </div>
            </div>
        <div class="">
            #if($!commodity.id)
                <table class="table">
                    <tbody>
                    <tr>
                        <td>创建时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtCreated,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    <tr>
                        <td>更新时间</td>
                        <td>
                            $!utilDate.dateToString($!commodity.gmtModified,"yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    </tbody>
                </table>
            #end
        </div>
    </form>
</div>
<script>
    var pictureUploadCallBack = function(data){
        if(data && data.status == 200){
            $('.picUrlVal').val(data.data);
            $('.picUrlImg').attr('src',tfsRootPath + data.data);

        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }
    var selectUserCallBack = function(data){
        if(data){
            $('.hotelName').text(data['name']);
            $('.hotelNameInp').val(data['id']);
            $('.hotelNameInp').val(data['name']);
        }
    }
    $(function(){
        //上传图片
        $(document).delegate("#fileID",'change',function(){
            fileUpload('#fileID',1,pictureUploadCallBack);
        })
        //选择酒店
        $('.selectHotelBtn').click(function(){
            openModal(actionDefaultPath + '/B2C/hotelManage/selectList?multiSelect=1','选择酒店',selectUserCallBack);
        });
        //提交
        $('#btnSubmit').click(function(){
            $(this).prop('disabled',true);
            var actionUrl;
            var commodityId = $('#commodityForm').attr('commodityId');
            if(commodityId){
                actionUrl = actionDefaultPath + '/B2C/comm/hotelManage/edit/' + commodityId;
            }else{
                actionUrl = actionDefaultPath + '/B2C/comm/hotelManage/add';
            }
            $('#commodityForm').attr('action',actionUrl);
            $('#commodityForm').submit();
        });

        $('.closBtn').click(function(){
            window.close();
        });

    });
</script>