<link rel="stylesheet" href="/resources/css/common.css"/>
<div class="tableGroup whole">
    <table class="table table-hover">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
            <tr>
                <td>$!velocityCount</td>
                <td>$!orderDetail.itemTitle</td>
                <td>$!utilNum.moneyTransform($!orderDetail.itemPrice)</td>
                <td>$!orderDetail.buyAmount</td>
            </tr>
    </table>
</div>

