<html xmlns="http://www.w3.org/1999/html">
<head>
	<title></title>
</head>
<body>
#parse("/layout/top.vm")

	<div>

		#foreach($user in $userList)
			$velocityCount
			this is $user.userName ,password is $!user.password<br>
		#end
	</div>
</body>
</html>
