<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js" type="text/javascript"></script>

<form name="addHotel" id="hotelForm" action="" method="post" hotelId="">
<div class="tab-content grogInfoWrap"  style="">
    <div class="tab-pane active" id="grogshopInfo">
        <div class="createHotrlTable">
            <table >
				<tr>
                    <td><span class="spColor">*</span>游记</td>
                    <td>
                    	<button type="button" class="btn btn-default addNeedKnow" id="gaikuang" onclick="addItemCall(this)">增加条目</button>
        	            <table class="table bigTables">
                            <input type="hidden" id="imgContentJsonId"  name="imgContentJson" value="$!travelOfficial.imgContentJson">
                            <tr>
                                <th>内容（500个字以内）</th>
                                <th>图片（最多6张）</th>
                                <th>拍摄于（30字以内）</th>
                                <th></th>
                            </tr>

                            <tr class="needKnow">
                                <td>
                                    <textarea name="detail" id="detailId" class="form-control extra-info-item-title" placeholder=""></textarea>
                                </td>
                                <td>
			                        <div class="fileImgWrap">
			                            <button type="button" class="btn btn-success">选择图片</button>
			                            <input type="file"  name="file" class="fileInp" multiple="multiple" id="FMUploadFile" accept="image/png,image/gif">
			                            <input type="hidden" name="coverURL" value=""  id="FMReturnInput">
			                            <p>注：图片大小不超过5M<br />建议尺寸：687*237</p>
			                        </div>
			                        <div class="propagandaView">
			                            <img src="" id="FMReturnInputImg"> #* #if($club.picturePoster) $utilWebconfig.getTfsRootPath()$!club.picturePoster  #end *#
			                        </div>
                                   <span id="travelImgId" class="form-control extra-info-item-title" ></span>
                                </td>
                                <td>
                                    <textarea class="form-control extra-info-item-text" name="travelDes" id="travelDesId" rows="3"></textarea>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
</div>
</form>

<script>
	$(document).delegate("#FMUploadFile",'change',function(){
	     fileUpload('#FMUploadFile',2,pictureUploadCallBack);
	 })
		
 	var pictureUploadCallBack = function(data){
    if(data && data.status == 200){
    var imgHtml="";
   		$.each(data.data, function(n, val) {
   			imgHtml+="<img src='"+tfsRootPath+val+"' class='dasda' width='100' height='100' ></img>";
        	//alert("n="+n+"  val="+val);
        });
        console.log(imgHtml);
   		$("#travelImgId").html(imgHtml);
    
		/*console.log(data.data);
        $('#FMReturnInput').val(data.data);
        $('#FMReturnInputImg').attr('src',tfsRootPath + data.data);*/
			
        }else{
            layer.msg('图片上传失败，请重试', {icon: 2});
        }
    }

//--------------------------------------------------------
var textFileUp='';




    var addItemCall = function (obj) {
    
    	var conTr =$(obj).next().find(".needKnow");
    	console.log(conTr);
    	var i = conTr.length;
    	++i;
    	var itemId = $(obj).attr("id");
        var itemList = '<tr class="needKnow">'+
                '<td><input type="text" name="detail" id="detailId'+i+'" class="form-control extra-info-item-title" placeholder=""></td>'+
                '<td><div class="fileImgWrap"><button type="button" class="btn btn-success">选择图片</button>'+
        		'<input type="file"  name="file" class="fileInp" multiple="multiple" id="FMUploadFile" accept="image/png,image/gif">'+
				'<input type="hidden" name="coverURL" value=""  id="FMReturnInput">'+
				'<p>注：图片大小不超过5M<br />建议尺寸：687*237</p>'+
				'</div><div class="propagandaView"><img src="" id="FMReturnInputImg">'+
				'</div><span id="travelImgIdA" class="form-control extra-info-item-title" ></span></td>'+
				'<td><textarea name="travelDes" id="travelDesId'+i+'" class="form-control extra-info-item-text" rows="3"></textarea></td>'+
                '<td><button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button></td></tr>'
        $(obj).next().append(itemList);
       
    };

 	function delneedKnowTR(obj){
		$(obj).parent().parent().remove(); 
 	}
 	
 	//保存的
 	$('#btnSubmit').click(function(){

        $(this).prop('disabled', true);
        var count = $(".bigTables tr").length-1;
        var parts=[];
        if(count > 0){
            for (var i=1;i<=count;i++){
                var travelJsonDO={};
                if(i==1){
                    var detail=$("#detailId").val();
                    var travelImg=$("#travelImgId").val();
                    var travelDes=$("#travelDesId").val();
                }else{
                    var detail=$("#detailId"+i).val();
                    var travelImg=$("#travelImgId"+i).val();
                    var travelDes=$("#travelDesId"+i).val();
                }
                travelJsonDO.detail=detail;
                travelJsonDO.travelImg=travelImg;
                travelJsonDO.travelDes=travelDes;
                parts.push(travelJsonDO);
                //alert("detail="+detail+"   travelImg="+travelImg+"  travelDes="+travelDes);
            }
            var json = JSON.stringify(parts); //可以将json对象转换成json对符串
            console.log(json);
            $("#imgContentJsonId").val(json);

            var actionUrl;
            var clubId = $('#clubForm').attr('clubId');
            if(clubId){
                actionUrl = '/B2C/travelOfficialManage/edit';
            }else{
                actionUrl = '/B2C/travelOfficialManage/add';
            }
            var img= $("#logoUrlUploadFileReturnInput").val();
           var params = {
	    		backImg:img,
				title:$("#titleId").val(),
				publishDate:$("#publishDateId").val(),
				createId:$("#createIdId").val(),
				userPhoto:$("#userPhotoId").val(),
				nickName:$("#nickNameId").val(),
				imgContentJson:$("#imgContentJsonId").val()
			};
           console.log(params);
            $('#clubForm').attr('action',actionUrl);
            $.post(actionUrl,params,function(data){
                if(data.status == 200){
                    layer.alert('操作成功');
                }else{
                    layer.alert('操作失败');
                    $(this).prop('disabled',false);
                }
            });

        }
    });
        
    	$("#cityId").focus( function(){
    	$.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/trip/selectRegion' ,{type:"3"} ,function(data){
	    	if(data.status == 200){
	    	var html="";
	    		$.each(data.data, function(n,val){ 
                   console.log("data:"+val.id+"  _"+val.name);
                   html+="<option level="+val.level+" cityCode="+val.cityCode+" provinceCode="+val.provinceCode+" value="+val.id+">"+val.name+"</option>"
                });
            $("#cityId").html(html);
	        }else{
	            var msg = new $.zui.Messager('获取城市列表失败', {placement: 'center',type:'warning',time:'1000'});
	            msg.show();
	            $(this).prop('disabled',false);
	        }                                      
    	})
    });
</script>