<link rel="stylesheet" href="$!utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
<div class="clubDynamicPage whole">
    <form name="articleForm" id="articleForm" action="" method="post" articleId="$!article.id">
        <table class="table">
				<tr>
                    <td>文章类型</td>
                    <td>
						<select class="form-control" name="type">
            					#foreach($articleType in $articleTypeList)
            					<option value="$!{articleType.value}" #if($article.type == $articleType.value) selected #end >$!{articleUtil.getArticleTypeName($articleType.value)}</option>
            					#end
        				</select>
                    </td>
                </tr>
				<tr>
                    <td><span class="spColor">*</span>标题：</td>
                    <td>
						 <input type="text" class="form-control summary title" name="title"  value="$!article.title">
                    </td>
                </tr>
				<tr>
                    <td><span class="spColor">*</span>初始阅读数：</td>
                    <td>
						 <input type="text" class="form-control summary pv" name="pv"  value="$!article.pv">
                    </td>
                </tr>
				<tr>
                    <td><span class="spColor">*</span>上传封面：</td>
                    <td class="picUrlsTd">
                                <input id="batchUploadBtn" type="file" multiple="multiple" >
                                #foreach($pic in $article.picList)
                                   <img class="picUrlsUrl uploadImgFile" imgUrl="$pic" src="$utilWebconfig.getTfsRootPath()$pic">
                                #end
                            </td>
                            <input class="picUrlsVal" type="hidden" name="picListStr" value="">
                    </td>
                </tr>
                <tr>
                    <td><span class="spColor">*</span>发布时间</td>
                    <td><input type="text" class='form-control form-date dateInp gmtCreated' placeholder='发布时间' readonly name="gmtCreated" value="$!article.gmtCreated" ></td>
                </tr>
        </table>
        <button type="button" class="btn btn-info" id="btnSubmit">保存</button>
    </form>
</div>
<script>


 $(".form-date").datetimepicker(
            {
                language:  "zh-CN",
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                format: "yyyy-mm-dd hh:ii"
            });
     //非空验证
     var validate = function(){
         if(!$('.title').val()){
             return '直播内容不能为空';
         }else if($('.title').val().length > 200){
            return '直播内容不能超过200字';
         }
         if(!$('.gmtCreated').val()){
             return '发布时间不能为空';
         }
     }
   var batchCallBack = function(dataVal){
        for(var key in dataVal.data){
             $('.picUrlsTd').append('<img class="picUrlsUrl uploadImgFile" imgUrl="' + dataVal.data[key]+'" src="' + tfsRootPath + dataVal.data[key]+'" alt="">');
        }
    }
    $(function(){
		 $(document).delegate("#batchUploadBtn",'change',function(){
           		 fileUpload('#batchUploadBtn',2,batchCallBack);
         });

        //选择大咖
        $('.selectUser').click(function(){
            openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectOneUser','选择用户',function() {
                var user = win.getItem();
                if(user == null){
                    return;
                }
                $("#userImg").attr('src',tfsRootPath + user.avatar);
                $("#userId").val(user.id);
                $("#userName").html(user.nickName);
                return true;
            });
        });

        $('#btnSubmit').click(function(){
            //非空验证
            var msg = validate();
            if(msg){
                layer.msg(msg, {
                    icon: 2,
                    time: 2000
                });
                return false;
            }
            //列表长图片
            var picUrls = new Array();
            $('.picUrlsUrl').each(function(){
                picUrls.push( $(this).attr('imgUrl'));
            });
            $('.picUrlsVal').val(JSON.stringify(picUrls));
            var actionUrl;
            var articleId = $('#articleForm').attr('articleId');
            if (articleId) {
                actionUrl = actionDefaultPath + '/jiuxiu/articleManage/edit/' + articleId;
            } else {
                actionUrl = actionDefaultPath + '/jiuxiu/articleManage/add';
            }
            $('#articleForm').attr('action',actionUrl)
            $('#articleForm').submit();
        });
    });
</script>