#set($layout = "/system/layout/layout-gf.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "GF订单管理")
#set($styles = [
	"$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.css", 
	"$!root_path/resources/css/common.css", 
	"$!rs_js_css_path_jiuxiu/css/order/gf/gforder.css"
	])
#set($jses = [
	"$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.js",
	"$!rs_js_css_path_jiuxiu/js/other/order/gf/list.js"
	])

	
<div>
    <form class="form-signin" id="tradeListForm" name="tradeListForm"
          action="$!utilWebconfig.getActionDefaultFontPath()/B2C/orderManage/gfOrderList" method="GET" role="form">
        #parse("/system/order/gf/gfOrderQuery.vm")


        <div class="tableGroup whole order-list-items">
            <table class="table table-hover">
            <tbody>
                <tr>
                    <th width="3%"><input class="allChecked" name="allChecked" type="checkbox">全选</th>
                    <th width="10%"></th>
                    <th width="27%">商品</th>
                    <th width="5%">单价</th>
                    <th width="5%">数量</th>
                    <th width="10%">交易状态</th>
                    <th width="10%">售后状态</th>
                    <th width="10%">买家</th>
                    <th width="10%">订单金额</th>
                    <th width="10%">操作</th>
                </tr>
                #foreach($order in $orderList)
                	#set($bizOrder = $!order.bizOrderDO )
					#set($count = $!velocityCount )
                    <tr class="order-item-label">
                        <td><input class="subChecked" type="checkbox" value="$!bizOrder.bizOrderId"></td>
                        <td colspan="8" align="left">
                        	订单编号：<span class="order-summary-info">$!bizOrder.bizOrderId</span>
                        	下单时间：<span class="order-summary-info">$!date.format('yyyy-MM-dd HH:mm:ss',$!bizOrder.gmtCreated)<span>
                        </td>
                    </tr>

					#set($size = $order.subOrderList.size() )
                    #foreach($subOrder in $order.subOrderList)
	                    <tr class="order-item-label_$!count" >
						<!-- 这里是判断子订单的-->
	                    	#if( $velocityCount == 1 )
	                        	<td rowspan="$size"></td>
	                        #end
	                        <td>
	                            <img class="uploadImgFile" src="$!{utilWebconfig.getTfsRootPath()}$imageUtil.getImgUrl($!subOrder.bizOrderDO.itemPic, 80)">
	                        </td>
	                        <td class="order-item-title">
	                            <div class="item-title">$!subOrder.bizOrderDO.itemTitle</div>
	                            <div class="item-subtitle">$!subOrder.bizOrderDO.itemSubTitle</div>
	                        </td>
	                        <td>
	                            	￥$!utilNum.moneyTransform($!subOrder.bizOrderDO.itemPrice)
	                        </td>
	                        <td>
	                            $!subOrder.bizOrderDO.buyAmount
	                        </td>
                            <td >
								#*$subOrder.bizOrderDO.refundStatus - $order.orderShowState <>*#
								#ORDERS_STATUS($!order.orderShowState)
                            </td>
                            <td >
								#*$subOrder.bizOrderDO.refundStatus - $order.orderShowState <>*#
								#if(0 == $!subOrder.bizOrderDO.refundStatus)
									-
								#else
									#GFTRADEREFUNDSTATUS($!subOrder.bizOrderDO.refundStatus)
								#end
                            </td>
	                        #if( $velocityCount == 1 )
	                        	<td rowspan="$size">
									#if($!order.bizOrderDO.buyerNick)
                                        <div class="txt">$!order.bizOrderDO.buyerNick</div>
									#end
									#if($order.user.mobileNo)
                                        <div class="txt">$!order.user.mobileNo</div>
									#end
		                        </td>

								<td rowspan="$size">￥$!utilNum.moneyTransform($!bizOrder.actualTotalFee)</td>
	                            <td rowspan="$size">
		                            <button type="button" class="btn btn-primary addRefund detail" orderId="$!bizOrder.bizOrderId">详情</button>
                                    <br>
									#if(2==$!order.orderShowState)
                                        <button type="button" class="btn btn-primary addRefund sendGoods1" queryOrderState="$!orderListQuery.orderStat" orderId="$!bizOrder.bizOrderId">手动发货</button>
									#end
								#* #if($order.orderShowState == 2)
		                            #elseif($order.orderShowState == 3)
		                                <button type="button" class="btn btn-primary finish"
		                                        data-target="#finishModal" orderId="$!bizOrder.bizOrderId">完成
		                                </button>
		                            #end*#
		                        </td>
							#end
						</tr>
	                #end
                #end
            </tbody>
            </table>
        </div>
    #*分页*#
        #parse("/page.vm")
        #pageStyle("tradeListForm")
    </form>

    </div>

</div>

	<script>

		function check(str){
            return /^[\da-z]+$/i.test(str);
        }

        function checkLengthGT(str,length){
            if(parseInt(str.length)>parseInt(length)){
				return true;
			}else if(parseInt(str.length)<=10){
                return true;
			}else{
				return false;
			}
        }

        //简单的发货
        $(".sendGoods").click(function(){
            var queryOrderState =$(this).attr("queryOrderState");
            $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/sellerSendGoods',
                    {'orderId':$(this).attr('orderId')} ,function(data){
                if(data.status == 200){
                    var msg = new $.zui.Messager('发货成功', {placement: 'center',type:'success',time:'1000'});
                    msg.show();
                }else{
                    var msg = new $.zui.Messager('发货失败', {placement: 'center',type:'warning',time:'1000'});
                    msg.show();
                }
                //TODO暂时先刷新页面
                setTimeout(function(){
                    var url =  "$!utilWebconfig.getActionDefaultFontPath()/B2C/orderManage/gfOrderList?orderStat="+queryOrderState;
                    window.location.href =url;
                },2000);
            })
        });

		$(function () {
			$(".sendGoods1").click(function(){
				var bizOrderId = $(this).attr("orderId");
                var queryOrderState =$(this).attr("queryOrderState");
                layer.open({
                    type: 2,
                    btn: ['提交', '取消'],
                    title: '<label style="color:red;">仅针对无法返回订单状态及物流信息的订单使用，提交后不可更改，请谨慎操作！</label>',
                    fix: false,
                    shadeClose: true,
                    maxmin: true,
                    area: ['800px', '200px'],
                    content: '$!utilWebconfig.getActionDefaultFontPath()/B2C/orderManage/gfSendGoods?bizOrderId='+bizOrderId,
                    yes: function(index){
                        console.log(frames == window);
						var dilog_iframe = $($(".layui-layer-content iframe")[0].contentWindow.document);

                        var bizOrderId = dilog_iframe.find("#bizOrderId").val();
                        var wlgs= dilog_iframe.find("#choosewlId option:selected").val();
                        var wldh = dilog_iframe.find("#wldhId").val();
                        console.log(bizOrderId);
                        console.log(wlgs);
                        console.log(wldh);

						if("" == wlgs || null == wlgs || 0==wlgs){
                            layer.alert("请选择物流公司");
                            return ;
                        }else if(""==wldh||null == wldh ){
                            layer.alert("请填写物流单号");
                            return ;
                        }else if(!check(wldh)){
                            layer.alert("物流单号由10-20位字母或数字组成");
                            return ;
						}else if(checkLengthGT(wldh,20)){
                            layer.alert("物流单号由10-20位字母或数字组成");
                            return ;
						}
						else{
                            console.log(bizOrderId);
                            console.log(wlgs);
                            console.log(wldh);

                            $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/gfSendGoods/',
									{'bizOrderId':bizOrderId,'expressCompany':wlgs,'expressNo':wldh} ,function(data){
                                if(data.status == 200){
                                    layer.alert("操作成功");
                                }else{
                                    layer.alert("操作失败");
                                }
								setTimeout(function(){
									var url =  "$!utilWebconfig.getActionDefaultFontPath()/B2C/orderManage/gfOrderList?orderStat="+queryOrderState;
									window.location.href =url;
								},2000);

                            })

                        }
                    }
                });
			});
		});


        $('#export_import').click(function(){
            var qorderNO = $("#qorderNO").val();
            var qbeginDate = $("#qbeginDate").val();
            var qendDate   = $("#qendDate").val();
            var qorderStat = $("#qorderStat").val();
            var qitemName = $("#qitemName").val();
            var qbuyerPhone = $("#qbuyerPhone").val();
            var qbuyerName = $("#qbuyerName").val();

            if("" == qorderNO  && "" == qbeginDate  && "" == qendDate && "0"==qorderStat &&
               "" == qitemName && "" == qbuyerPhone && "" == qbuyerName){
                layer.alert("请设置导出订单的查询条件");
                return ;
            }
            var url_prefix="$!utilWebconfig.getActionDefaultFontPath()";
            var url ='/GF/export/list';
            $('#tradeListForm').attr('action',url_prefix+url);
            $('#tradeListForm').submit();
            url = "/B2C/orderManage/gfOrderList";
            $('#tradeListForm').attr('action',url_prefix+url);
        });

	</script>
