<div class="order-query-container whole">
    <div class="input-group inpSingle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">订单编号</button>
            </span>
        <input type="text" class="form-control" name="orderNO" id="qorderNO" value="$!orderListQuery.orderNO">

    </div>
    <div class="input-group inpSingle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">订单日期</button>
            </span>
        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="beginDate" id="qbeginDate"
               value="$!orderListQuery.beginDate">
        <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="endDate" id="qendDate"
               value="$!orderListQuery.endDate">
    </div>

    <div class="input-group inpSingle ">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">订单状态</button>
            </span>

            #*<select data-placeholder="请选择..." class="chosen-select form-control " tabindex="2" name="orderStat">
                <option value="0">全部</option>
                <option value="WAITING_PAY" #if($!orderListQuery.orderStat == 'WAITING_PAY') selected #end>待付款</option>
                <option value="WAITING_DELIVERY" #if($!orderListQuery.orderStat == 'WAITING_DELIVERY') selected #end>待发货</option>
                <option value="SHIPPING" #if($!orderListQuery.orderStat == 'SHIPPING') selected #end>待收货</option>
                <option value="FINISH" #if($!orderListQuery.orderStat == 'FINISH') selected #end>已完成</option>
                <option value="CLOSE" #if($!orderListQuery.orderStat == 'CLOSE') selected #end>交易关闭</option>
            </select>*#



        <select data-placeholder="请选择..." class="chosen-select form-control " tabindex="2" name="orderStat" id="qorderStat">
            <option value="0">全部</option>
            <option value="NOT_PAY" #if($!orderListQuery.orderStat == 'NOT_PAY') selected #end>待付款</option>
            <option value="PAID" #if($!orderListQuery.orderStat == 'PAID') selected #end>待发货</option>
            <option value="CONSIGNED" #if($!orderListQuery.orderStat == 'CONSIGNED') selected #end>待收货</option>
            <option value="SUCCESS" #if($!orderListQuery.orderStat == 'SUCCESS') selected #end>已完成</option>
            <option value="CLOSE" #if($!orderListQuery.orderStat == 'CLOSE') selected #end>交易关闭</option>
        </select>
        #*<select data-placeholder="请选择..." class="chosen-select form-control " tabindex="2" name="orderStat">
            <option value="0">全部</option>
            <option value="NOTING" #if($!orderListQuery.orderStat == 'NOTING') selected #end>待付款</option>
            <option value="PAID" #if($!orderListQuery.orderStat == 'PAID') selected #end>待发货</option>
            <option value="SHIPPED" #if($!orderListQuery.orderStat == 'SHIPPED') selected #end>待收货</option>
            <option value="FINISH" #if($!orderListQuery.orderStat == 'FINISH') selected #end>已完成</option>
            <option value="WAITING_EVALUATION" #if($!orderListQuery.orderStat == 'WAITING_EVALUATION') selected #end>待评价</option>
            <option value="TRADE_CLOSE" #if($!orderListQuery.orderStat == 'TRADE_CLOSE') selected #end>交易关闭</option>
        </select>*#
    </div>

    <div class="input-group inpSingle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">商品名称</button>
            </span>
        <input type="text" class="form-control" name="itemName" id="qitemName" value="$!orderListQuery.itemName">
    </div>

    <div class="input-group inpSingle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">买家手机号</button>
            </span>
        <input type="text" class="form-control" name="buyerPhone" id="qbuyerPhone" value="$!orderListQuery.buyerPhone">
    </div>

    <div class="input-group inpSingle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">买家昵称</button>
            </span>
        <input type="text" class="form-control" name="buyerName" id="qbuyerName" value="$!orderListQuery.buyerName">
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
    <div class="btn-group">
        <button type="button" id="clean_btn" class="btn btn-primary">重置</button>
    </div>
    <div class="btn-group">
        <button type="button" id="export_import" class="btn btn-primary">订单导出</button>
    </div>
</div>
