#set($layout = "/system/layout/layout-gf.vm")
#parse("/system/layout/layout-jiuxiu-meta.vm")
#set($title = "GF订单管理")
#set($styles = [
	"$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.css", 
	"$!root_path/resources/css/common.css", 
	"$!rs_js_css_path_jiuxiu/css/order/gf/gforder.css"
	])
#set($jses = [
	"$!root_path/resources/zui/lib/datetimepicker/datetimepicker.min.js",
	"$!rs_js_css_path_jiuxiu/js/other/order/gf/list.js"
	])


    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#orderInfo" data-toggle="tab">订单详情</a>
        </li>
        <li>
            <a href="#logisticsInfo" id="logisticsInfoId" data-toggle="tab">物流信息</a>
        </li>
    </ul>

    <!-- 位置 -->
	#*<div class="position">
		<div>您所在的位置： 订单管理>GF订单>订单详情</div>
	</div>*#



    <br><br>
    <div class="tab-content grogInfoWrap" style="">
        <div class="tab-pane active" id="orderInfo">
            <!-- 订单状态 -->
            <div class="orderState" >
                <div>
                <span>订单状态：<span>
                    #if($order.mainOrder.orderShowState == 1)
                        <span>
                            未付款
                            #*<button type="button" class="btn btn-primary cancel"
                                    data-target="#cancelModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">取消订单
                            </button>*#
                        </span>
                    #elseif($order.mainOrder.orderShowState == 2)
                        <span>
                            #*
                            已发货；发货时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.consignTime)
                            <button type="button" class="btn btn-primary affirm"
                                    data-target="#affirmModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">确认
                            </button>
                            *#
        ##                    <button type="button" class="btn btn-primary refund"
        ##                            data-target="#refundModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">退款
        ##                    </button>
                        </span>
                    #elseif($order.mainOrder.orderShowState == 3)
                        <span>
                            已发货
                           #* <button type="button" class="btn btn-primary finish"
                                 data-target="#finishModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">完成
                            </button>*#
        ##                    <button type="button" class="btn btn-primary refund"
        ##                        data-target="#refundModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">退款
        ##                    </button>
                        </span>
                    #elseif($order.mainOrder.orderShowState == 4)
                        <span>
                            交易成功
        ##                    <button type="button" class="btn btn-primary refund"
        ##                            data-target="#refundModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">退款
        ##                    </button>
                        </span>
                    #elseif($order.mainOrder.orderShowState == 5)
                        <span>
                            交易关闭；
                        </span>
                        <span>
                            关闭时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.bizOrderDO.endTime)
                        </span>
                        <span>
                            取消原因：$!order.closeReason
                        </span>
                    #elseif($order.mainOrder.orderShowState == 6)
                        <span>
                            待处理
        ##                    <button type="button" class="btn btn-primary refund"
        ##                            data-target="#refundModal" orderId="$!order.mainOrder.bizOrderDO.bizOrderId">退款
        ##                    </button>
                        </span>
                    #elseif($order.mainOrder.orderShowState == 7)
                        已退款
                    #end
                    <span>
                </div>
            </div>
            <br><br>
            <!-- 买家信息 -->
            <div class="buyerInfo">
                <div class="order-info-title">买家信息</div>
                <div>
                    <table class="table table-hover">
	                    <tr>
	                        <td class="order-info-label">账户名：</td>
	                        <td class="order-info-value">$!order.buyerPhoneNum</td>
                            #*<td class="order-info-label">昵称：</td>
                            <td class="order-info-value">$!order.buyerName</td>*#
	                    </tr>
	                </table>
                </div>
            </div>

            <!-- 收货人信息 -->
            <div class="buyerInfo">
                <div class="order-info-title">收货人信息</div>
                <div>
                    <table class="table table-hover">
                        <tr>
                            <td class="order-info-label">收货地址：</td>
                            <td class="order-info-value">
                                $!lgOrder.fullName，
                                $!lgOrder.mobilePhone，
                                $!lgOrder.prov，
                                $!lgOrder.city，
                                $!lgOrder.area，
                                $!lgOrder.address，
                                $!lgOrder.post
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br><br>
            <!-- 订单基础信息 -->
            <div class="orderBaseInfo">
                <div class="order-info-title">订单信息</div>
                <table class="table table-hover">
                    <tr>
                        <td class="order-info-label">订单编号：</td>
                        <td class="order-info-value">$!order.mainOrder.bizOrderDO.bizOrderId</td>
                        <td class="order-info-label">付款方式：</td>
                        <td class="order-info-value">#TcPayChannel($!order.payChannel) </td>
                    </tr>
                    <tr>
                        <td class="order-info-label">下单时间：</td>
                        <td class="order-info-value">$utilDate.date2String($!order.mainOrder.bizOrderDO.gmtCreated)</td>
                        <td class="order-info-label">买家备注：</td>
                        <td class="order-info-value">$!order.buyerMemo</td>
                    </tr>
                    <tr>
                        <td class="order-info-label">付款时间：</td>
                        <td class="order-info-value">$utilDate.date2String($!order.mainOrder.bizOrderDO.payTime)</td>

                        <td class="order-info-label">确认收货时间：</td>
                        <td class="order-info-value">$utilDate.date2String($!order.mainOrder.bizOrderDO.endTime)</td>
                    </tr>
                    <tr>
                        <td class="order-info-label">付款单号：</td>
                        <td class="order-info-value">$!order.mainOrder.payOrderDO.tradeNo</td>

                        <td class="order-info-label"></td>
                        <td class="order-info-value"></td>
                    </tr>
                </table>
            </div>
            <br><br>
            <!-- 订单商品信息 -->
            <div class="orderInfo">
                <!-- 如果有优惠的话展示优惠信息 -->
                #if($!order.promotionInfoDesc)
                    全场促销优惠：$!order.promotionInfoDesc
                #end
                <table class="table table-hover order-items">
                    <tr>
                        <th width="15%">商品图片</th>
                        <th width="25%">商品</th>
                        <th width="10%">单价</th>
                        <th width="10%">数量</th>
                        <th width="5%">小计</th>
                        <th width="15%">优惠信息</th>
                        <th width="5%">交易状态</th>
                        #*<th width="5%">售后状态</th>*#
                        <th width="15%">订单金额</th>
                    </tr>
                        #set($size = $order.mainOrder.subOrderList.size() )
                        #foreach($subOrder in $order.mainOrder.subOrderList)
                        <tr>
                            <td width="">
                                <img class="uploadImgFile" src="$!{utilWebconfig.getTfsRootPath()}$imageUtil.getImgUrl($!subOrder.bizOrderDO.itemPic, 120)">
                            </td>
                            <td>
                                <div class="t-name">$!subOrder.bizOrderDO.itemTitle</div>
                                <div class="t-userType">$!subOrder.bizOrderDO.itemSubTitle</div>
                            </td>
                            <td>
                                	￥$!utilNum.moneyTransform($!subOrder.bizOrderDO.itemPrice)
                            </td>
                            <td>
                                $!subOrder.bizOrderDO.buyAmount
                            </td>
                            <td>
                                	￥$!utilNum.moneyTransform($!subOrder.sumFee)
                            </td>
                            <td>
                                $!subOrder.promotionInfoTitle
                            </td>
                            <td>
                            	#ORDERS_STATUS($!order.mainOrder.orderShowState)
                            </td>
                            #*<td>
                                ==$!order.mainOrder.refundStatus===
                                #if(0 == $!order.mainOrder.refundStatus)
                                    -
                                #else
                                    #GFTRADEREFUNDSTATUS($!order.mainOrder.refundStatus)
                                #end
                            </td>*#
                            #if( $velocityCount == 1 )
	                            <td rowspan="$size">
	                            	#*￥$!utilNum.moneyTransform( $!order.totalFee )*#
                                    $!utilNum.moneyTransform($!order.mainOrder.bizOrderDO.actualTotalFee)
	                            </td>
                            #end
                        </tr>
                        #end
                </table>
                <div class="order-fee-container">
                	#if( $!order.orderPromotionFee > 0  )
	                	<span class="order-fee">促销共优惠：- ￥ $!utilNum.moneyTransform($!order.orderPromotionFee)</span>
                	#end
                	#if( $!order.orderVoucherFee > 0  )
	                	<span class="order-fee">优惠券优惠：- ￥ $!utilNum.moneyTransform($!order.orderVoucherFee)</span>
                	#end
                	#*<span class="order-fee">总计：￥ $!utilNum.moneyTransform($!order.mainOrder.bizOrderDO.actualTotalFee)</span>*#
                </div>
            </div>



            <!-- 退款模态框 -->
            <div class="modal fade" id="refundModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">关闭</span></button>
                            <h4 class="modal-title">对话框标题</h4>
                        </div>
                        <div class="modal-body dialogPoint">
                            <form class="form-signin" id="refundAddForm" action="/refundManage/add" method="POST" role="form">
                                <div class="form-group">
                                    <ul class="formPoint">
                                        <li> 退款金额：￥86.00 退款路径：支付宝/微信/银联</li>
                                        <li>
                                            <label for="refundMoney">退款金额</label>
                                            <input id="refundMoney" type="text" class="form-control refundMoney"
                                                   placeholder="退款金额" name="refundMoney" value="">
                                        </li>
                                        <li>
                                            <label for="shouldRefundPoint">需返还积分</label>
                                            <input type="text" class="form-control shouldRefundPoint pointShow"
                                                   placeholder="需返还积分" name="shouldRefundPoint" value="" readonly="">
                                        </li>
                                        <li>
                                            <label for="availablePoint">可返还积分</label>
                                            <input type="text" class="form-control availablePoint pointShow" placeholder="可返还积分"
                                                   name="availablePoint" value="" readonly="">
                                        </li>
                                    </ul>
                                    <button id="btnSubmit" class="btn btn-large btn-block btn-primary" type="button"
                                            disabled="">提交
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="logisticsInfo">
            #parse("/system/logistics/logisticsInfo.vm")
        </div>
    </div>






    <script>
        $(function () {
            $(".finish").click(function(){
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/buyerConfirmGoods/',{'orderId':$(this).attr('orderId')} ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                    }
                    //TODO暂时先刷新页面
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1050);
                })
            });

            //退款
            $('.refund').each(function(){
                $(this).click(function(){
                    $(this).prop('disabled',true);
                    $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/refundOrder/',{'orderId':$(this).attr('orderId')} ,function(data){
                        if(data.status == 200){
                            var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                            msg.show();
                        }else{
                            var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                            msg.show();
                        }
                        //TODO暂时先刷新页面
                        setTimeout(function(){
                            window.location.href = window.location.href;
                        },1050);
                    })
                });
            });

            //发货、确认
            $(".affirm").click(function(){
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/sellerSendGoods/',{'orderId':$(this).attr('orderId')} ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                    }
                    //TODO暂时先刷新页面
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1050);
                })
            });


            //取消订单
            $(".cancel").click(function(){
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/orderManage/closeOrder/',{'orderId':$(this).attr('orderId')} ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                    }
                    //TODO暂时先刷新页面
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    },1050);
                })
            });


        });
    </script>
