#set($layout = "/system/layout/empty.vm")
#set($title = "优惠劵")
#parse("/system/layout/layout-jiuxiu-meta.vm")
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>

<form name="addHotel" id="hotelForm" action="" method="post" recommendedId="$!fCodeDO.id">
    <div class="tab-content grogInfoWrap"  style="">
        <div class="tab-pane active" id="grogshopInfo">
            <div class="createHotrlTable">
                <table>
                    <tr>
                        <td width="120"><span class="spColor">*</span>活动名称:</td>
                        <td>
                            <input type="text" name="title" class="title" value="$!fCodeDO.title">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>商品编码:</td>
                        <td>
                            <input type="text" name="entityId" class="entityId" value="$!{fCodeDO.itemId}">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="spColor">*</span>生成总量:</td>
                        <td>
                            <input type="text" name="totalNum" class="totalNum" value="$!{fCodeDO.totalNum}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            说明：凭F码下单每单只能购买一件商品；参与F码活动的商品，不能使用优惠券或参与全场满减等活动。
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        #if($!edit != 0)
            <button type="button" class="btn btn-info ok" id="btnSubmit">保存</button>
        #end
        <button type="button" class="btn btn-info" id="btnEx">返回</button>
    </div>
</form>



<script>

    var getNowFormat = function(){
        var date = new Date();
        return date.getFullYear() + '-' + fullStr(date.getMonth() + 1) + '-' + fullStr(date.getDate());
    }
    var fullStr  = function(num){
        if(num >= 10){
            return num;
        }
        return '0' + num;
    }
    //验证
    var validate = function(){
        if($('.title').val().length < 1){
            return '活动名称字数不能为空';
        }
        if($('.title').val().length > 20){
            return '活动名称字数不能超过20';
        }
        if(!$('.entityId').val()){
            return '请输入商品ID';
        }
        if(!$('.entityId').val() || !/^\+?[1-9][0-9]*$/.test($('.entityId').val())){
            return '商品ID存在错误，请重新核对后保存';
        }
        if(!$('.totalNum').val()) {
            return '请输入F码生成总量';
        }
        if(!$('.totalNum').val() || !/^\+?[1-9][0-9]*$/.test($('.totalNum').val())){
            return 'F码生成总量存在错误，请重新核对后保存';
        }
        if($('.totalNum').val() > 50000){
            return '预先生成时的F码同一批次发放数量最大不能超过5万个';
        }
    }


    $('.requirement').on('blur',function(){
        if(!/^\d{0,4}(\.\d{0,2})?$/.test(this.value)){
            alert('请输入正确的优惠金额');
            return false;
        }
    });
    $('.value').on('blur',function(){
        if(!/^\d{0,4}(\.\d{0,2})?$/.test(this.value)){
            alert('请输入正确的优惠劵金额');
            return false;
        }
    });

    //取消
    $('#btnEx').click(function(){
        top.$('#myTabList .active i').trigger('click');
    });


    $('.cancel,.bgmeng').click(function(){$('.dialog').hide();});

    //确认保存
    $('.ok').click(function(){
        var msg = validate();

        if(msg){
            layer.msg(msg, {
                icon: 2,
                time: 2000
            });
            return false;
        } else {
            var actionUrl = "";
            actionUrl = actionDefaultPath + '/GF/fcodeManage/add';
            var params = {
                title: $(".title").val(),
                entityId: $(".entityId").val(),
                totalNum: $(".totalNum").val()
            };
            $.post(actionUrl,params,function (result) {
                if(result){
                    if(result.success){
                        layer.msg(result.msg, {
                            icon: 1,
                            time: 2000
                        });
                        setTimeout(function(){
                            top.$('#myTabList .active i').trigger('click');
                        }, 2000);
                    } else if(result.msg){
                        layer.msg(result.msg, {
                            icon: 2,
                            time: 2000
                        });
                    } else {
                        layer.msg("未知错误", {
                            icon: 2,
                            time: 2000
                        });
                    }
                } else {
                    layer.msg("返回异常,请到列表刷新查看", {
                        icon: 2,
                        time: 2000
                    });
                }
                console.log(result);
            }, "json");
        }

    });

</script>