
    <style type="text/css">
        .table>thead th,
        .table>tbody td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
<form id="form1" name="form1">
    <div class="btnBottomMargin">
        <a type="button" class="btn btn-primary addTourist"   attractionId="$!GuideAttractionDO.id">添加景点</a>
    </div>
    <div class="tableGroup whole">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>景点编号</th>
                <th>景点名称</th>
                <th>景点图</th>
                <th>语音数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($GuideAttractionDO in $result)
                <tr>
                    <td>$!GuideAttractionDO.id</td>
                    <td>
                        $!GuideAttractionDO.name
                    </td>
                    <td>
                    ## <img src="http://img.test.yimayholiday.com/v1/tfs//T1A3VTByKT1RXrhCrK.jpg" width="150" height="90">
                        <img src="{$!GuideAttractionDO.attrImg }" width="150" height="90">
                    </td>
                    <td>
                        $!GuideAttractionDO.isDel
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary touristEditDetail" themeid="1800" attractionId="$!GuideAttractionDO.id">编辑</button>
                        <button type="button" class="btn btn-primary updateStatus" themeid="1800" attractionId="$!GuideAttractionDO.id">删除</button>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</form>

    #parse("/system/layout/layout-jiuxiu-js.vm")
    <script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/module/md.mandandetail.js?t="${date}></script>
<script type="text/javascript">
    // 新增景点
    $(function(){
        $(".addTourist").click(function(){
            window.parent.tabsAdd('',"$utilWebconfig.getStaticResourcesPath()/jiuxiu/touristlist/touristaddDetail");
        });
    });
    // 编辑景点
    $(function(){
        $(".touristEditDetail").click(function(){
            var attractionId = $(this).attr("attractionId");
            window.parent.tabsAdd('', "$utilWebconfig.getStaticResourcesPath()/jiuxiu/touristlist/touristEditDetail?attractionId="+attractionId +"&id=0", 2, "景点详情");
        });
    });
    // 删除景点
    $(function(){
        $(".updateStatus").click(function(){
            var attractionId = $(this).attr("attractionId");
            window.parent.tabsAdd('', "$utilWebconfig.getStaticResourcesPath()/jiuxiu/touristlist/updateStatus?attractionId="+attractionId +"&id=0", 2, "景点详情");
        });
    });
</script>
